<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>deliveryInfo 배송정보</title>
	
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>배송정보</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">출고방법</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planA"  name="plan" value="start">차량</label>&nbsp;
				<label><input type="radio" id="planB"  name="plan" value="wait">선박</label>
				<label><input type="radio" id="planC"  name="plan" value="wait">비행기</label>
			</div>
		
           <div style="height:50px;">
				<label for="planName" style="width:100px">배송코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" id="ProCode" placeholder="배송코드">&nbsp;
				
				<input type="hidden" class="form-control" style="width:200px; display:inline" id="getorderCode" readonly>&nbsp;
				<input type="hidden" class="form-control" style="width:200px; display:inline" id="getClientCode" readonly>&nbsp;
				<input type="hidden" class="form-control" style="width:200px; display:inline" id="getClientName" readonly>&nbsp;
           </div>
           
           <div style="height:50px;">
				<label for="planName" style="width:100px">배송일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="dlivyDate">&nbsp;
           </div>
           
			<div style="height:50px;">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="clientName">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="Searchbtn">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="Resetbtn">초기화</button>
            </div>
            
            <div>
            	<button type="button" class="btn btn-sm btn-primary" style="float:right; margin:5px; margin-right: 5px" onclick="plusInfo()">배송정보등록</button>   
            	<button onclick="deletePro()" type="button" class="btn-sm btn-primary" style="float:right; margin-right:5px; margin:5px;" >행삭제</button>
				<button type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right; margin:5px;" class="btn btn-sm btn-primary" onclick="addRow()">
					<svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
						<path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
				</button> 
            </div>
			
          </div>     
        
	        <div id="grid"></div>
	        
        
        
        <!--  출고정보 등록모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">출고 등록 목록</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div id="grid2"></div>
		     
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	    
      
      
      
      <script>
      
    var token = $("meta[name='_csrf']").attr("content");
  	var header = $("meta[name='_csrf_header']").attr("content");
        
    const Grid = tui.Grid;
		
		 
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: true,
        bodyHeight : 360,
        rowHeaders : ['checkbox'],
        columns: [
            {
            	header: '배송코드',
            	name: 'dlivyProCode',
            	filter : 'text'
            },
            {
            	header: '출고등록코드-h',
            	name: 'dlivyGCode',
            	hidden : 1
            	
            },
            {
            	header: '주문코드-h',
            	name : 'orderCode',
            	hidden : 1
            },
            {
            	header: '배송일자',
            	name: 'dlivyDate',
            	filter : 'date'
            },
            {
            	header: '거래처-h',
                name : 'clientCode',
                hidden : 1
             },
             {
             	header: '거래처',
                 name : 'clientName',
                 filter : 'text'
              },
             {
             	header: '출고방법',
                name: 'dlivyMth',
                filter : 'text',
                formatter: 'listItemText',
                editor: {
                    type: 'select',
                    options: {
                      listItems: [
	                      {
	                        text: '차량',
	                        value: '차량'
	                      },
	                      {
	                        text: '선박',
	                        value: '선박'
	                      },
	                      {
	                        text: '비행기',
	                        value: '비행기'
	                      }
                	]
             	   }
                }
             },
             {
		         header: '운송코드',
		         name: 'dlivyCode',
		         editor : 'text'
             },
             {
		         header: '출고기사',
		         name: 'dlivyName',
		         editor : 'text'
             },
             {
		         header: '기사연락처',
		         name: 'dlivyPnum',
		         editor : 'text'
		     }
		     
        ]
	});
		
	
	 
	const grid2 = new Grid({
        el: document.getElementById('grid2'), // Container element
        scrollX: false,
        scrollY: true,
        bodyHeight : 400,
        columns: [
            {
            	header: '출고등록코드',
            	name: 'dlivyGCode',

            },
            {
            	header: '주문코드',
            	name: 'orderCode',

            },
            {
            	header: '거래처드-h',
                name: 'clientCode',
                hidden : 1

             },
            {
            	header: '거래처',
                name: 'clientName',

             },
             {
             	header: '담당자',
                name: 'empNum',

             },
            {
            	header: '출고등록일자',
            	name: 'dlivyDate',
          
            },
        ]
	});
    
   
	//모달창
   	staticBackdrop.addEventListener('shown.bs.modal', () => {
   	      grid2.refreshLayout(); //모달창 새로고침
   	 })
    
    
    
	//실행시 그리드
	document.addEventListener("DOMContentLoaded", listDeliveryProInfo)
	
	function listDeliveryProInfo(){
		$.ajax({
			url:'/listDeliveryProInfo',
			success : function(result) {
				console.log(result);
				grid.resetData(result);
				
				/* //번호 가져오기
				$.ajax({
					url:'/getDlivyPCode',
					success : function(result) {
						$("#getdlivyCode").val(result[0].dlivyProCode);
					},
					error : function(error){
						console.log(error);
					}
				}) */
			},
			error : function(error){
				console.log(error);
			}
		})
    }
		
   		
	//모달창 출고 등록된 (등록만)
	$.ajax({
		url:'/deliveryGst',
		success : function(result) {
			console.log(result);
			grid2.resetData(result);
			
		},
		error : function(error){
			console.log(error);
		}
	})
		
	
	//모달창에서 누른 코드 검색 부부넹 보이게
   
	
	// 그리드 행 추가
	function addRow() {}
		
		grid2.on("click", event => {
			
			console.log(grid2.getRow(event.rowKey))
			let data = { 
					dlivyProCode : "",
					dlivyGCode : grid2.getRow(event.rowKey).dlivyGCode,
					orderCode : grid2.getRow(event.rowKey).orderCode,
					dlivyDate : "" , 
					clientName : grid2.getRow(event.rowKey).clientName,
					clientCode : grid2.getRow(event.rowKey).clientCode,
					dlivyMth : "" , 
					dlivyCode : "", 
					dlivyName : "", 
					dlivyName : "", 
					dlivyPnum : ""
			}
			// 모달창 숨기기.
			console.log('abc',data)
			$('#staticBackdrop').modal('hide');
			grid.appendRow(data);
			grid.check(grid.getRowCount()-1);
			
		})
		
		
	
	
	//행삭제
	function deletePro(){
		grid.removeCheckedRows(true)
	}
	
	//정보등록 
	function plusInfo(){
		
		//빈값 없도록
		if(grid.getValue(grid.getRowCount()-1, "dlivyMth") == ''){
			swal("출고방법을 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "dlivyCode") == ''){
			swal("운송코드를 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "dlivyName") == ''){
			swal("출고기사를 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "dlivyPnum") == ''){
			swal("출고기사 전화번호를 입력하세요.")		
		}else{
			//다 입력되어있으몀 ajax
			$.ajax({
				method:'POST',
				url:'/updateInfo',
				contentType : 'application/json',
				dataType:'JSON',
				data: JSON.stringify(grid.getCheckedRows()),
				beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
				success : function(result) {
					
					//출고등록 상태 변경 등록 -> 배송
					$.ajax({
					method:'POST',
					url:'/updateGst',
					contentType : 'application/json',
					dataType:'JSON',
					data: JSON.stringify(grid.getCheckedRows()),
					beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						console.log(result);
						swal("배송정보등록 완료")
						listDeliveryProInfo();
					},
					error : function(error){
						swal("출고등록 상태 변경 실패")
					}
					})

				},
				error : function(error){
					swal("배송정보등록 실패")
				}
			})
			
		}
	}
	
	//필터
	Searchbtn.addEventListener('click', () => {
		grid.filter('dlivyProCode' , [{code:'contain', value:$('#ProCode').val().toUpperCase()}])
		grid.filter('clientName' , [{code:'contain', value:$('#clientName').val().toUpperCase()}])
		if($('#dlivyDate').val() != '' ){
			grid.filter('dlivyDate' , [{code:'beforeEq', value:$('#dlivyDate').val()}])
			
		}
		
	});

		
	Resetbtn.addEventListener('click', () => {
		planAll.checked = true;
		grid.unfilter('dlivyMth')
		document.getElementById('ProCode').value ='';
		grid.unfilter('dlivyProCode');
		document.getElementById('clientName').value = '';
		grid.unfilter('clientName');
		document.getElementById('dlivyDate').value = '';
		grid.unfilter('dlivyDate');
	})	 
      
      
	planAll.addEventListener('click', () => {
   		grid.unfilter('dlivyMth');
    })
    planA.addEventListener('click', () => {
    	grid.filter('dlivyMth', [{code:'eq', value:'차량'}]);
    })
    planB.addEventListener('click', () => {
    	grid.filter('dlivyMth', [{code:'eq', value:'선박'}]);
    })
    planC.addEventListener('click', () => {
    	grid.filter('dlivyMth', [{code:'eq', value:'비행기'}]);
    })
     
     
     </script>
      </div>
</body>
</html>