<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <title>deliveryQ 출고요청1</title>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	 <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
</head>

<body>
<div layout:fragment="content">
 <h4>출고요청</h4>
	
	<div class="row">
		<form action="#" method="get">
		<div>
			<table style="margin:30px;">
				<tr>
					<td style="width: 400px">
						출고요청일자 <input type="date" style="width: 120px;">
					</td>
					
					<td>출고요청코드<input style="width: 100px;" id="result">&nbsp; <i class="bi bi-search">&nbsp;</i>
		         		<select name="no" onchange="handleOnChange(this)" style="width: 80px;">
		         			<option value="선택">-선택-</option>
		         			<option value="번호1">번호1</option>
		         			<option value="번호2">번호2</option>
		         			<option value="번호3">번호3</option>   			
		         		</select>         		
	         		</td>
				</tr>
				
				<tr>
					<td>거래처<input style="width: 100px;" id="result2">&nbsp; <i class="bi bi-search">&nbsp;</i>
		         		<select name="no" onchange="handleOnChange2(this)" style="width: 80px;">
		         			<option value="선택">-선택-</option>
		         			<option value="번호1">번호1</option>
		         			<option value="번호2">번호2</option>
		         			<option value="번호3">번호3</option>   			
		         		</select>         		
	         		</td>
	         		
	         		<td>담당자명<input style="width: 100px;" id="result3">&nbsp; <i class="bi bi-search">&nbsp;</i>
		         		<select name="no" onchange="handleOnChange3(this)" style="width: 80px;">
		         			<option value="선택">-선택-</option>
		         			<option value="번호1">번호1</option>
		         			<option value="번호2">번호2</option>
		         			<option value="번호3">번호3</option>   			
		         		</select>         		
	         		</td>
				
				</tr>
			</table>
			
				<div style="margin-left: 3px;">
		               <button type="reset" style="width: 80px; background-color: black; color:white; float:right; margin:5px;" >초기화</button>
		               <button id="showModal" type="button" style="width: 80px; background-color: black; color:white; float:right;  margin:5px;">조회</button>
		               <button type="button" style="width: 100px; background-color: black; color:white; float:right;  margin:5px;"
		               data-bs-toggle="modal" data-bs-target="#staticBackdrop">출고 요청</button>   
		         </div>
		         
         
		</div>
		
		</form>
        
	        <div id="grid"></div>
	        <div id="grid2"></div>
	        
	    </div>
        
        
        <!--  출고요청 모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">출고요청</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		        
		      <div class="modal-body">
				  <div class="container-fluid">
				  	<table style="margin:30px;">
				  		
						<tr>
							<td>출고요청일자<input type="date" style="width: 120px;"></td>
							<td>출고요청코드<input type="text" style="width: 120px;" ></td>
						</tr>
						
						<tr>	
							<td>거래처<input style="width: 100px;" id="result4">&nbsp; <i class="bi bi-search">&nbsp;</i>
				         		<select name="no" onchange="handleOnChange4(this)" style="width: 80px;">
				         			<option value="선택">-선택-</option>
				         			<th:block th:each="v : ${clientName}" >
				         				<option th:value="${v.clientName}" th:text="${v.clientName}"></option>
				         			</th:block>
				         					
				         		</select>
		         			</td>
		         			<td>담당자명<input style="width: 100px;" id="result5">&nbsp; <i class="bi bi-search">&nbsp;</i>
				         		<select name="no" onchange="handleOnChange5(this)" style="width: 80px;">
				         			<option value="선택">-선택-</option>
				         			<th:block th:each="v : ${emp}" >
				         				<option th:value="${v.empName}" th:text="${v.empName}"></option>
				         			</th:block>		
				         		</select>
		         			</td>
						</tr>
						
						<tr>	
							<td>제품명<input style="width: 100px;" id="result6">&nbsp; <i class="bi bi-search">&nbsp;</i>
				         		<select name="no" onchange="handleOnChange6(this)" style="width: 80px;">
				         			<option value="선택">-선택-</option>
				         			<th:block th:each="v : ${proCode}" >
				         				<option th:value="${v.proName}" th:text="${v.proName}"></option>
				         			</th:block>	
				         		</select>
		         			</td>
		         			<td>제품코드<input style="width: 100px;" id="result7">&nbsp; <i class="bi bi-search">&nbsp;</i>
				         		<select name="no" onchange="handleOnChange7(this)" style="width: 80px;">
				         			<option value="선택">-선택-</option>
				         			<th:block th:each="v : ${proCode}" >
				         				<option th:value="${v.proCode}" th:text="${v.proCode}"></option>
				         			</th:block>			
				         		</select>
		         			</td>
				         	<td>수량<input type="text" style="width: 100px;"></td>
						</tr>
					</table>
				    <button type="button" class="btn btn-primary" style="float:right">제품추가</button>
				</div>
			</div>
			
			
					<div id="grid3"></div>
	
					
				   	  <div class="modal-footer">
					        <button type="button" class="btn btn-primary">출고요청</button>
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				      </div>
						
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	    
      
      
      
      <script>
	      const Grid = tui.Grid;
			
			 
			const grid = new Grid({
		        el: document.getElementById('grid'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
		            {
		            	header: '출고요청코드',
		            	name: 'dlivyQCode',
		            	filter : 'select'
		            },
		            {
		            	header: '출고요청일자',
		            	name: 'dlivyDate',
		            	filter : 'select'
		            },
		            {
		            	header: '거래처',
		                name: 'clientCode',
		                filter : 'select'
		             },
		             {
		             	header: '담당자',
		                name: 'empNum',
		                filter : 'select'
		             },
		             {
			            header: '총합계액',
			            name: 'allSum'
			             }
		            
		        ]
			});
			
			const grid2 = new Grid({
		        el: document.getElementById('grid2'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
		            {
		            	header: 'no',
		            	name: 'DLIVY_QNO'
		            },
		            {
		            	header: '제품코드',
		            	name: 'PRO_CODE'
		            },
		            {
		            	header: '제품명',
		            	name: 'PRO_NAME'
		            },
		            {
		            	header: '수량',
		                name: 'SELL_NUM'
		             },
		             {
		             	header: '단가',
		                name: 'SELL_PRICE'
		             },
		             {
			             header: '합계액',
			             name: 'SUM_PRICE'
			         }
		            
		        ]
			});
			
			Grid.applyTheme('striped'); // Call API of static method
      
      
			//모달창
			const grid3 = new Grid({
		        el: document.getElementById('grid3'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
		        	{
		        		header: 'no',
		            	name: 'dliverQno'
		        	},
		        	{
		            	header: '제품코드',
		            	name: 'proCode'
		            },
		            {
		            	header: '제품명',
		            	name: 'proName'
		            },
		            {	
		            	header: '수량',
		                name: 'sellNum'
		             },
		             {
		             	header: '단가',
		                name: 'sellPrice'
		             },
		             {	
			             header: '합계액',
			             name: 'sumPrice'
			         }
		            
		        ]
			});
      

      
      
      
      
			//모달창
		   	staticBackdrop.addEventListener('shown.bs.modal', () => {
		   	      grid3.refreshLayout(); //모달창 새로고침
		   	 })
      
      
			
			
      
      	
	      function handleOnChange(e){
				//선택된 데이터의 텍스트값 가져오기
				const text = e.value;
				
				//선택한 텍스트 출력
				document.getElementById('result').value = text;
			}
			
			
		function handleOnChange2(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result2').value = text;
		}
		
		
		function handleOnChange3(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result3').value = text;
		}
		
		function handleOnChange4(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result4').value = text;
		}
		
		function handleOnChange5(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result5').value = text;
		}
		
		function handleOnChange6(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result6').value = text;
		}
		
		function handleOnChange7(e){
			//선택된 데이터의 텍스트값 가져오기
			const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result7').value = text;
		}
		
		
	     document.addEventListener("DOMContentLoaded", DeliveryList)
	     
	     function DeliveryList(){
	    	 $.ajax({
					url:'/listDeliveryQ',
					success : function(result) {
						console.log(result);
						grid.resetData(result);
					},
					error : function(error){
						console.log(error);
					}
				})
				
	     }
	     
	     //tr 
	     grid.on('click',(event)=>{
	    	 console.log(event.nativeEvent.target.textContent);
			var a = event.nativeEvent.target.textContent;
			
			$.ajax({
				method:'GET',
				url:'/listDeliveryQd?dlivyCode='+a,
				success : function(result){
					grid2.resetData(result)
				},
				error: function(error){
					console.log(error);
				}
				
			})
	     })
	     
	      
		
      
      
      </script>
      </div>
</body>
</html>