<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>deliveryInfo 배송정보</title>
	
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>배송정보</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-form-label" style="margin-right:10px">출고처리코드</label>
					<input type="text" id="dlivyProCode"  readonly class="form-control" placeholder="출고처리코드" aria-label="Recipient's username" aria-describedby="button-addon2"> 
					<span class="input-group-text"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
				</div>
			</div>
			
			
            <div style="height:50px;">
				<label for="planName" style="width:100px">출고처리일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="DateSearch">&nbsp;
           </div>
           
			<div style="height:50px;">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="ClientSearch">&nbsp;
            </div>
            
            <div style="height:50px;">
				<label for="planName" style="width:100px">출고방법</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="출고방법" id="MthSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="Searchbtn">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="Resetbtn">초기화</button>
            </div>
            
            <div>
            	<button type="button" class="btn btn-sm btn-primary" style="float:right; margin:5px; margin-right: 10px"
		               data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="plusInfo()">정보 등록</button>   
				<button type="button"  style="float:right; margin:5px;" class="btn btn-sm btn-primary" onclick="addRow()">
					<svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
						<path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
				</button> 
            </div>
			
          </div>     
        
	        <div id="grid"></div>
	        
        
        
        <!--  출고정보 등록모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">출고처리</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div id="grid2"></div>
		     
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	    
      
      
      
      <script>
      
    var token = $("meta[name='_csrf']").attr("content");
  	var header = $("meta[name='_csrf_header']").attr("content");
        
    const Grid = tui.Grid;
		
		 
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
           scrollY: false,
        columns: [
            {
            	header: '출고처리코드',
            	name: 'dlivyProCode',
            	filter : 'text'
            },
            {
            	header: '출고처리일자',
            	name: 'dlivyDate',
            	filter : 'date'
            },
            {
            	header: '거래처',
                name : 'clientCode',
                filter : 'text'
             },
             {
             	header: '출고방법',
                name: 'dlivyMth',
                filter : 'text',
                editor : 'text'
               
             },
             {
		         header: '운송코드',
		         name: 'dlivyCode',
		         editor : 'text'
             },
             {
		         header: '출고기사',
		         name: 'dlivyName',
		         editor : 'text'
             },
             {
		         header: '기사연락처',
		         name: 'dlivyPnum',
		         editor : 'text'
		     }
		     
        ]
	});
		
	
	 
	const grid2 = new Grid({
        el: document.getElementById('grid2'), // Container element
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
            	header: '출고처리코드',
            	name: 'dlivyProCode',
            	filter : 'text'

            },
            {
            	header: '출고처리일자',
            	name: 'dlivyDate',
            	filter : 'date'
          
            },
            {
            	header: '거래처',
                name: 'clientCode',
                filter : 'text'

             },
             {
             	header: '담당자',
                name: 'empNum',
                filter : 'text'

             }
        ]
	});
    
   
	//모달창
   	staticBackdrop.addEventListener('shown.bs.modal', () => {
   	      grid2.refreshLayout(); //모달창 새로고침
   	 })
    
    
    
	//실행시 그리드
	document.addEventListener("DOMContentLoaded", listDeliveryProInfo)
	
	function listDeliveryProInfo(){
		$.ajax({
			url:'/listDeliveryProInfo',
			success : function(result) {
				console.log(result);
				grid.resetData(result);
			},
			error : function(error){
				console.log(error);
			}
		})
		
    }
	
	//모달창 출고처리 완료된 목록  (일단 모두)
	$.ajax({
		url:'/listDeliveryPro',
		success : function(result) {
			console.log(result);
			grid2.resetData(result);
		},
		error : function(error){
			console.log(error);
		}
	})
		
	
	//모달창에서 누른 코드 검색 부부넹 보이게
   	grid2.on("click", event => {
		console.log(grid2.getRow(event.rowKey))
		console.log(event)

		console.log(grid2.getRow(event.rowKey))   //rowKey : 인덱스 번호  
		// input 태그에 값 넣어주기.
		$('#dlivyProCode').val(grid2.getRow(event.rowKey).dlivyProCode);
		$('#DateSearch').val(grid2.getRow(event.rowKey).dlivyDate);
		$('#ClientSearch').val(grid2.getRow(event.rowKey).clientCode);
		// 모달창 숨기기.
		$('#staticBackdrop').modal('hide');
	})
	
	// 그리드 행 추가
	function addRow() {
		
		let data = { dlivyProCode :  $("#dlivyProCode").val(), dlivyDate : $('#DateSearch').val() , clientCode : $('#ClientSearch').val(), dlivyMth : ""
					, dlivyCode : "", dlivyName : "", dlivyName : "", dlivyPnum : ""}
		
		grid.appendRow(data);
		
	}
	
	
	//정보등록 
	function plusInfo(){
		$.ajax({
			method:'POST',
			url:'/updateInfo',
			contentType : 'application/json',
			dataType:'JSON',
			data: grid5.getModifiedRows(updateRows), //+ 출고요청코드,
			beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
			success : function(result) {
				console.log(result);
				grid.restData()
			},
			error : function(error){
				console.log(error);
			}
		})

	}
	
	
	
	//필터
	Searchbtn.addEventListener('click', () => {
		grid.filter('dlivyProCode' , [{code:'contain', value:$('#CodeSearch').val()}])
		grid.filter('clientCode' , [{code:'contain', value:$('#ClientSearch').val()}])
		grid.filter('dlivyMth' , [{code:'contain', value:$('#MthSearch').val()}])
		
		if($('#DateSearch').val() != '' ){
			grid.filter('dlivyDate' , [{code:'beforeEq', value:$('#DateSearch').val()}])
			
		}
	});

		
	Resetbtn.addEventListener('click', () => {
		document.getElementById('CodeSearch').value = '';
		grid.unfilter('dlivyQCode');
		document.getElementById('ClientSearch').value = '';
		grid.unfilter('clientCode');
		document.getElementById('MthSearch').value = '';
		grid.unfilter('dlivyMth');
		document.getElementById('DateSearch').value = '';
		grid.unfilter('dlivyDate');
	})	 
      
      
	
     
     
     </script>
      </div>
</body>
</html>