<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>deliveryPro 출고처리3</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>출고처리</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">출고처리코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="출고처리코드" id="CodeSearch">&nbsp;
			</div>
			
            <div style="height:50px;">
				<label for="planName" style="width:100px">출고등록일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="DateSearch">&nbsp;
			
           </div>
           
			<div style="height:50px;">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="ClientSearch">&nbsp;
            </div>
            
            <div style="height:50px;">
				<label for="planName" style="width:100px">담당자</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="담당자명" id="EmpSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="Searchbtn">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="Resetbtn">초기화</button>
            </div>
            
           <div>
               <button type="button" style="float:right; margin:5px; margin-right: 10px"  class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getCode()">출고 처리</button>
			</div>

			<div id="grid"></div>
			
			

		</div>


		<!--  출고 모달창  -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">출고 등록 목록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					
					<div class="modal-body">
				  			<div class="container-fluid">
							<label for="row1" style="width:100px; height: 30px; text-align:center;">출고처리코드</label>
								<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="getdlivyCode" readonly >
							
							<label for="row2" style="width:150px; height: 30px; text-align:center;">출고등록코드</label>
				         		<select id="select8" name="no" onchange="handleOnChange8(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white">
				         			<option value="선택">-선택-</option>
				         			<th:block th:each="e : ${deliveryG}">
				         				<option th:value="${e.dlivyGCode}" th:text="${e.dlivyGCode}"></option>
				         			</th:block>  			
				         		</select>
				         		<button class="btn-sm btn-primary" onclick="searchQ()" type="button" >조 회</button>
		         			</div>
		         		</div>


					<div id="grid3"></div>
					<div id="grid4"></div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary">출고처리</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>




				</div>
			</div>
		</div>

		<!--  모달창 끝 -->





		<script>
	      const Grid = tui.Grid;
			
			 
			const grid = new Grid({
		        el: document.getElementById('grid'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
		            {
		            	header: '출고처리코드',
		            	name: 'dlivyProCode',
		            	filter : 'text'

		            },
		            {
		            	header: '출고처리일자',
		            	name: 'dlivyDate',
		            	filter : 'date'
		          
		            },
		            {
		            	header: '거래처',
		                name: 'clientCode',
		                filter : 'text'

		             },
		             {
		             	header: '담당자',
		                name: 'empNum',
		                filter : 'text'
  
		             },
		             {
			            header: '총합계액',
			            name: 'fallSum'
			             }
		            
		        ]
			});
			
			
			const grid3 = new Grid({
		        el: document.getElementById('grid3'), // Container element
		        scrollX: false,
	            scrollY: false,
	            rowHeaders : ['checkbox'],
		        columns: [
		            {
		            	header: '출고등록코드',
		            	name: 'dlivyGCode'
		            },
		        	{
		            	header: '출고등록일자',
		            	name: 'dlivyDate'
		            },
		            {	
		            	header: '거래처',
		                name: 'clientCode'
		             },
		             {
		             	header: '담당자',
		                name: 'empNum'
		             },
		             {	
			             header: '총합계액',
			             name: 'fallSum'
			         }
		            
		        ]
			});
      

			const grid4 = new Grid({
		        el: document.getElementById('grid3'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
			            {
			            	header: '제품코드',
			            	name: 'PRO_CODE'
			            },
			            {
			            	header: '제품명',
			            	name: 'PRO_NAME'
			            },
		        	 	{
			            	header: '출고수량',
			            	name: 'SELL_NUM'
			            },
			            {
			            	header: '재고수량',
			                name: 'PRO_NUM'
			             },
			             {
			             	header: '단가',
			                name: 'fsell_price'
			             },
			             {
				             header: '합계액',
				             name: 'fsum_price'
				         }
			            
			        ]
			});
      
      
      
		//모달창
	   	staticBackdrop.addEventListener('shown.bs.modal', () => {
	   	      grid3.refreshLayout(); //모달창 새로고침
	   	 })
     
			//모달창
	   	staticBackdrop.addEventListener('shown.bs.modal', () => {
	   	      grid4.refreshLayout(); //모달창 새로고침
	   	 })     
			

		
	function DeliveryList(){
		$.ajax({
			url:'/listDeliveryPro',
			success : function(result) {
				console.log(result);
				grid.resetData(result);
			},
			error : function(error){
				console.log(error);
			}
		})
			
     }
	    //모댤창 
		function searchQ(){
	    	 
	    	 console.log(document.getElementById('select8').value);
				var a = document.getElementById('select8').value  
				
				$.ajax({
					method:'GET',
					url:'/MdeliveryGList?dlivyCode='+a,
					success : function(result){
						console.log(JSON.stringify(result) + "a");
						grid3.resetData(result)
					},
					error: function(error){
						console.log(error+"k");
					}
					
				}),
				
				$.ajax({
					method:'GET',
					url:'/MdeliveryGListD?dlivyCode='+a,
					success : function(result){
						console.log(JSON.stringify(result) + "dddd");
						console.log(result+"d");	
						grid4.resetData(result)
					},
					error: function(error){
						console.log(error+"mm");
					}
					
				})
	     }		
      
		//모달창 눌렀을때 코드 있도록	
		function getCode(){
			
			$.ajax({
				url:'/getDlivyPCode',
				success : function(result) {
					$("#getdlivyCode").val(result[0].dlivyProCode);
				},
				error : function(error){
					console.log(error);
				}
			})
		}
		
		//조회버튼 / 리셋버튼
	 	Searchbtn.addEventListener('click', () => {
			grid.filter('dlivyProCode' , [{code:'contain', value:$('#CodeSearch').val()}])
			grid.filter('clientCode' , [{code:'contain', value:$('#ClientSearch').val()}])
			grid.filter('empNum' , [{code:'contain', value:$('#EmpSearch').val()}])
			
			if($('#DateSearch').val() != '' ){
				grid.filter('dlivyDate' , [{code:'beforeEq', value:$('#DateSearch').val()}])
				
			}
		});

			
		Resetbtn.addEventListener('click', () => {
			document.getElementById('CodeSearch').value = '';
			grid.unfilter('dlivyProCode');
			document.getElementById('ClientSearch').value = '';
			grid.unfilter('clientCode');
			document.getElementById('EmpSearch').value = '';
			grid.unfilter('empNum');
			document.getElementById('DateSearch').value = '';
			grid.unfilter('dlivyDate');
		})	 
      
      </script>
	</div>
</body>
</html>