<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>deliveryG 출고등록2</title>

</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>출고등록</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">등록</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">배송</label>
			</div>
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">출고등록코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="출고등록코드" id="CodeSearch">&nbsp;
			</div>
			
            <div style="height:50px;">
				<label for="planName" style="width:100px">출고등록일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="DateSearch">&nbsp;
			
           </div>
           
			<div style="height:50px;">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="ClientSearch">&nbsp;
            </div>
            
            <div style="height:50px;">
				<label for="planName" style="width:100px">담당자</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="담당자명" id="EmpSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="Searchbtn">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="Resetbtn">초기화</button>
            </div>
            
           <div>
               <button type="button" style="float:right; margin:5px; margin-right: 10px"  class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getCode()">출고 요청 조회</button>
			</div>

			
          </div>        
        
	        <div id="grid"></div>
	        <div><br></div>
	        <div id="grid2"></div>
		


		<!--  출고 모달창  -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">출고 요청 목록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					
					  <div class="modal-body">
				  			<div class="container-fluid">
				  			
							<label for="row1" style="width:100px; height: 30px; text-align:center;">출고등록코드</label>
										<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="getdlivyCode" readonly >
									
		         			</div>
		         		</div>
		         				
					<div id="grid3"></div>
					<div id="grid4"></div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="goDeliveryG()">출고등록</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					</div>

				</div>
			</div>
		</div>

	<!--  모달창 끝 -->


	<script>
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

    const Grid = tui.Grid;
	
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: true,
        bodyHeight : 240,
        columns: [
            {
            	header: '출고등록코드',
            	name: 'dlivyGCode',
            	filter : 'text'
            },
            {
            	header: '출고등록일자',
            	name: 'dlivyDate',
            	filter : 'date'
            },
            {
            	header: '거래처',
                name: 'clientCode',
                filter : 'text'
             },
             {
             	header: '담당자',
                name: 'empNum',
                filter : 'text'
             },
             {
            	 header:'상태',
            	 name : 'dlivyGSt',
            	 filter : 'text'
	          }
        ]
	});
	
	const grid2 = new Grid({
        el: document.getElementById('grid2'), // Container element
        scrollX: false,
           scrollY: false,
        columns: [
            {
            	header: 'no',
            	name: 'dlivyGno',
            	hidden :1
            },
            {
            	header: '제품코드',
            	name: 'proCode'
            },
            {
            	header: '제품명',
            	name: 'proName'
            },
            {
            	header: '출고수량',
                name: 'dsellNum'
             }
            
            
        ]
	});
	
    
    
	const grid3 = new Grid({
        el: document.getElementById('grid3'), // Container element
        scrollX: false,
        scrollY: true	,
        bodyHeight : 200,
        rowHeaders : ['checkbox'],
        columns: [
        	{
            	header: '출고등록코드-h',
            	name: 'dlivyGCode',
		        hidden : 1
            },
            {
            	header: '주문코드-h',
            	name: 'orderCode',
		        hidden : 1
            },
            {
            	header: '출고요청코드',
            	name: 'dlivyQCode'
            },
            {	
            	header: '거래처코드',
                name: 'clientCode'
             },
            {	
            	header: '거래처이름',
                name: 'clientName'
             },
        	{
            	header: '출고요청일자',
            	name: 'dlivyDate'
            }
        ]
	});
    

	const grid4 = new Grid({
        el: document.getElementById('grid3'), // Container element
        scrollX: false,
           scrollY: false,
        columns: [
	        	{
	            	header: '출고등록코드-h',
	            	name: 'dlivyGCode',
			        hidden : 1
	            },
	            {
	            	header: '제품코드',
	            	name: 'proCode'
	            },
	            {
	            	header: '제품명',
	            	name: 'proName'
	            },
	            {
	            	header: '요청수량',
	                name: 'dsellNum',
	            },
	            {
	            	header: '재고수량',
	                name: 'proNum'
	            }
	        ]
	});
    
    
	//모달창
   	staticBackdrop.addEventListener('shown.bs.modal', () => {
   	    grid3.refreshLayout(); //모달창 새로고침
   	   	grid4.refreshLayout(); //모달창 새로고침
   	 	
   	   	//모달창 그리드3
   	 	$.ajax({
			method:'GET',
			url:'/MdeliveryQList',
			success : function(result){
				for(let i =0; i< result.length; i++){
					result[i].dlivyGCode= $("#getdlivyCode").val()
				}
				grid3.resetData(result);
				console.log(result)
			},
			error: function(error){
				console.log(error);
			}
		})
   	})
    
	document.addEventListener("DOMContentLoaded", DeliveryList)
	
	function DeliveryList(){
		$.ajax({
			url:'/listDeliveryG',
			success : function(result) {
				console.log(result);
				grid.resetData(result);
			},
			error : function(error){
				console.log(error);
			}
		})
		
    	}
    
     //tr 
     grid.on('click',(event)=>{
    	 console.log(event.nativeEvent.target.textContent);
		var a = grid.getRow(event.rowKey).dlivyGCode;
		
		$.ajax({
			method:'GET',
			url:'/listDeliveryGd?dlivyCode='+a,
			success : function(result){
				grid2.resetData(result)
			},
			error: function(error){
				console.log(error);
			}
			
		})
     })
		
	
   //모달창 눌렀을때 코드 있도록	
 	function getCode(){
	
		$.ajax({
			url:'/getDlivyGCode',
			success : function(result) {
				$("#getdlivyCode").val(result[0].dlivyGCode);
			},
			error : function(error){
				console.log(error);
			}
		})
     }
 		
	//모달창 tr click		
	grid3.on('click', (event)=> {
		
		if(event.columnName != "_checked" ){
		
		var a = grid3.getRow(event.rowKey).dlivyQCode;
		
			$.ajax({
				method:'GET',
				url:'/MdeliveryQListD?dlivyCode='+a,
				success : function(result){
					for(let i =0; i< result.length; i++){
						result[i].dlivyGCode = $("#getdlivyCode").val()
					}
					grid4.resetData(result)
				},
				error: function(error){
					console.log(error);
				}
			})
		}
	})

	
	//모달창 출고등록
	function goDeliveryG(){
	if(grid3.getCheckedRows().length == 1){
		
		let a = 0;
		
		for(let i =0; i < grid4.getData().length; i++){
			if( (grid4.getData()[i].dsellNum) < (grid4.getData()[i].proNum) ){
				a += 0
			//요청수량 > 재고수량	
			}else{
				a +=1
				swal("재고가 부족합니다.")
			}
		}
			
		
		if(a==0){
			//출고등록
			let array=grid3.getCheckedRows()  
			$.ajax({
				method:'POST',
				url:'/insertDlivyG',
				contentType : 'application/json',
				dataType:'JSON',
				data: JSON.stringify(grid3.getCheckedRows()),
				beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
				success : function(result) {
					
					//출고등록상세 등록 여러번
					$.ajax({
						method:'POST',
						url:'/insertDlivyGD',
						contentType : 'application/json',
						dataType:'JSON',
						data: JSON.stringify(grid4.getData()), //+ 출고요청코드,
						beforeSend : function(xhr){
			           		xhr.setRequestHeader(header, token);
			           	 },
						success : function(result) {
							
							//출고 등록 한 만큰 재고-
							$.ajax({
							method:'POST',
							url:'/updateProduct',
							contentType : 'application/json',
							dataType:'JSON',
							data: JSON.stringify(grid4.getData()),
							beforeSend : function(xhr){
				           		xhr.setRequestHeader(header, token);
				           	 },
							success : function(result) {
								
								//출고요청 상태 변경
								$.ajax({
								method:'POST',
								url:'/updateQst',
								contentType : 'application/json',
								dataType:'JSON',
								data: JSON.stringify(array), 
								beforeSend : function(xhr){
					           		xhr.setRequestHeader(header, token);
					           	 },
								success : function(result) {
									swal("출고등록 성공")
									DeliveryList();
								},
								error : function(error){
									console.log(error);
									swal("출고등록 실패 상태변경")
								}
								
								})
							},
							error : function(error){
								console.log(error);
								swal("출고등록 실패 재고-")
							}
								
						})
						},
						error : function(error){
							console.log(error);
							swal("출고등록 실패 상세등록")
						}
							
					})
				},
				error : function(error){
					console.log(error);
					swal("출고등록 실패 등록")
				}
			})	
			DeliveryList()
			//등록버튼 누르면 모달창 닫고 화면
			 $('#staticBackdrop').modal('hide');
			
		}else{
			swal("재고가 부족합니다.")
		}
		
	}else{
		swal("하나만 체크 해주세요")
		
	}
		
		
	}
	// 한 줄 선택시 컬러.
	grid.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid.getColumns().length]
	          }
		            grid.setSelectionRange(record);
    });
	
	// 한 줄 선택시 컬러.
	grid3.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid3.getColumns().length]
	          }
		            grid3.setSelectionRange(record);
    });
	
    //조회버튼 / 리셋버튼
   	planAll.addEventListener('click', () => {
    	grid.unfilter('dlivyGSt');
    })
    planWait.addEventListener('click', () => {
    	grid.filter('dlivyGSt', [{code:'eq', value:'배송'}]);
    })
    planStart.addEventListener('click', () => {
    	grid.filter('dlivyGSt', [{code:'eq', value:'등록'}]);
    })
    
 	Searchbtn.addEventListener('click', () => {
		grid.filter('dlivyGCode' , [{code:'contain', value:$('#CodeSearch').val().toUpperCase()}])
		grid.filter('clientCode' , [{code:'contain', value:$('#ClientSearch').val().toUpperCase()}])
		grid.filter('empNum' , [{code:'contain', value:$('#EmpSearch').val()}])
		
		if($('#DateSearch').val() != '' ){
			grid.filter('dlivyDate' , [{code:'beforeEq', value:$('#DateSearch').val()}])
			
		}
	});
		
	Resetbtn.addEventListener('click', () => {
		document.getElementById('CodeSearch').value = '';
		grid.unfilter('dlivyGCode');
		document.getElementById('ClientSearch').value = '';
		grid.unfilter('clientCode');
		document.getElementById('EmpSearch').value = '';
		grid.unfilter('empNum');
		document.getElementById('DateSearch').value = '';
		grid.unfilter('dlivyDate');
		planAll.checked = true;
		grid.unfilter('dlivyGSt');
	})	 
		
	//모달창 끌때 reset되도록
	$("#staticBackdrop").on('hidden.bs.modal', function (e) {
		grid3.clear()
		grid4.clear()
		
	});
      
      </script>
	</div>
</body>
</html>