	<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>deliveryQ 출고요청1</title>
   
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>출고요청</h2></div>
	<div layout:fragment="content" class="page-content">
			
		<div class="mb-1">
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">요청</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">등록</label>
			</div>
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">출고요청코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="출고요청코드" id="CodeSearch">&nbsp;
			</div>
			
            <div style="height:50px;">
				<label for="planName" style="width:100px">출고요청일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="DateSearch">&nbsp;
			
           </div>
           
			<div style="height:50px;">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="ClientSearch">&nbsp;
            </div>
            
            <div style="height:50px;">
				<label for="planName" style="width:100px">담당자</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="담당자명" id="EmpSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="Searchbtn">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="Resetbtn">초기화</button>
            </div>
            
           <div>
				<button type="button" style="float:right; margin:5px; margin-right: 10px"  class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getCode()">주문서 조회</button>
			</div>

			
          </div>        
        
	        <div id="grid"></div>
	        <div><br></div>
	        <div id="grid2"></div>
        
        
       <!--  출고요청 모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h4 class="modal-title" id="staticBackdropLabel">출고요청</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		        
		      <div class="modal-body">
				  <div class="container-fluid">
				  		<div style="margin-bottom:5px">
							<label for="row1" style="width:100px; height: 30px; text-align:center;">출고요청코드</label>
								<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="dlivyCode" readonly >
		         		</div>		

				   		
				</div>
			</div>
			
	
			<div id="grid4"></div>
			<div id="grid5"></div>

			
		   	  <div class="modal-footer">
			        <button type="button" class="btn btn-primary" onclick="goDlivy()">출고요청</button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
						
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	    
      
      
      
      <script>
      
      
  	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
    
	const Grid = tui.Grid;
		 
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: true,
        bodyHeight : 240,
        columns: [
            {
            	header: '출고요청코드',
            	name: 'dlivyQCode',
            	filter : 'text'
            },
            {
            	header: '출고요청일자',
            	name: 'dlivyDate',
            	filter : 'date'
            },
            {
            	header: '거래처',
                name: 'clientCode',
                filter : 'text'
             },
             {
             	header: '담당자',
                name: 'empNum',
                filter : 'text'
             },
             {
            	 header:'상태',
            	 name : 'dlivyQSt',
            	 filter : 'text'
             }
        ]
	});
	
	const grid2 = new Grid({
        el: document.getElementById('grid2'), // Container element
        scrollX: false,
        scrollY: false,
        columns: [
            {
            	header: 'no',
            	name: 'dlivyQno',
            	hidden : 1
            },
        	{
        		header: '주문코드',
            	name: 'orderCode'
        	},
            {
            	header: '제품코드',
            	name: 'proCode'
            },
            {
            	header: '제품명',
            	name: 'proName'
            },
            {
            	header: '출고요청',
                name: 'dsellNum'
             }
        ]
	});
	
    
    

	//주문목록 
	const grid4 = new Grid({
        el: document.getElementById('grid4'), // Container element
        scrollX: false,
        scrollY: true	,
        bodyHeight : 200,
        rowHeaders: ['checkbox'],
        columns: [
        	{
            	header: '출고요청코드-h',
            	name: 'dlivyQCode',
		        hidden : 1
            },
            {
            	header: '주문코드',
            	name: 'orderCode',
            },
            {
            	header: '거래처코드-h',
            	name: 'clientCode',
            	hidden : 1
            },
            {
            	header: '거래처이름',
            	name: 'clientName',
            },
            {
            	header: '주문등록일자',
                name: 'orderDate',
                
             },
             {
             	header: '납기일자',
                name: 'deDate',
             }
        ]
	});
	
	//상세조회
	const grid5 = new Grid({
        el: document.getElementById('grid5'), // Container element
        scrollX: false,
        scrollY: false,
        columns: [
        	{
            	header: '출고요청코드-h',
            	name: 'dlivyQCode',
		        hidden : 1
            	
            },
        	{
            	header: '번호',
            	name: 'orderDno',
		        hidden : 1
            	
            },
        	{
            	header: '제품코드',
            	name: 'proCode'
            	
            },
            {
            	header: '제품명',
                name: 'proName'
             },
             {
             	header: '수량',
                name: 'sellNum'
             },
             {
	             header: '남품수량',
	             name: 'soldNum'
	          },
	          {
		          header: '출고해야하는 수량',
		           name: 'doDlivyNum'
		      },
		      {
		          header: '출고 할 수량',
		          name: 'dsellNum',
		          editor: 'text',
		          onBeforeChange  : function(ev){
		        	  console.log(ev)
		        	  console.log(grid5.getValue(ev.rowKey, "doDlivyNum"))
		        	  let a = grid5.getValue(ev.rowKey, "doDlivyNum")
		        	  if(ev.nextValue > a){
		        		  swal("적은수량을 입력하세요.")
		        		  ev.stop()
		        	  }
		          }  
		      },
		      {
		          header: '주문코드-h',
		          name: 'orderCode',
		          hidden : 1
		          
		      },
        ]
	});
     
     
	//모달창
   	staticBackdrop.addEventListener('shown.bs.modal', () => {
   	   	  grid4.refreshLayout(); //모달창 새로고침
   	      grid5.refreshLayout(); //모달창 새로고침

   	      //모달창 그리드4
   	      $.ajax({
			url:'/listOrdersOk',
			success : function(result) {
				for(let i =0; i< result.length; i++){
					console.log("ss")
					console.log()
					result[i].dlivyQCode= $("#dlivyCode").val()
				}
				grid4.resetData(result);
				console.log(result)
				
			},
			error : function(error){
				console.log(error);
			}
		})
   	 })
     
 
	
     document.addEventListener("DOMContentLoaded", DeliveryList)
     //
     function DeliveryList(){
    	 $.ajax({
				url:'/listDeliveryQ',
				success : function(result) {
					grid.resetData(result);
				},
				error : function(error){
					console.log(error);
				}
			})
			
     }
	     
     //tr 
     grid.on('click',(event)=>{
    	
    	 console.log(event.nativeEvent.target.textContent);
		var a = grid.getRow(event.rowKey).dlivyQCode
		grid.allCheck
		
		$.ajax({
			method:'GET',
			url:'/listDeliveryQd?dlivyCode='+a,
			success : function(result){
				grid2.resetData(result)
			},
			error: function(error){
				console.log(error);
			}
			
		})
     })
     
		
	//모달창 tr click
	grid4.on('click', (event)=>{
		
		if(event.columnName != "_checked"){
		var a = grid4.getRow(event.rowKey).orderCode;
			
		$.ajax({
			method:'GET',
			url:'/listOrderd?orderCode='+a,
			success : function(result){
				for(let i =0; i< result.length; i++){
					result[i].dlivyQCode = $("#dlivyCode").val()
				}
				grid5.resetData(result)
			},
			error: function(error){
				console.log(error)
			}
			
		})
			
			
		}
	})
    
	    
	    
	 //모달창 눌렀을때 코드 있도록	
	function getCode(){
		
		$.ajax({
			url:'/getDlivyQCode',
			success : function(result) {
				$("#dlivyCode").val(result[0].dlivyQCode);
			},
			error : function(error){
				console.log(error);
			}
		})
	}
	    
	 
	 //모달창에서 출고요청 버튼 눌렀을때
	function goDlivy(){
	//그리드4번 체크 하나만되도록
	if(grid4.getCheckedRows().length == 1){
		
		//출고해야하는 수량 > 출고 할 수량
		let a = 0;
		
		for(let i = 0; i < grid5.getData().length; i++){
			if( grid5.getData()[i].doDlivyNum >= grid5.getData()[i].dsellNum && grid5.getData()[i].dsellNum != '' && grid5.getData()[i].dsellNum != 0){
			 	a += 0
			 	console.log("성공");
			}else {
			 	a += 1
			 	swal("숫자를 다시 입력해주세요.")
			}
		}	
		
		if(a == 0){
			//출고요청 등록
			let a = grid4.getData()[0];
			a.dlivyGCode = $("#dlivyCode").val()
			console.log(grid4.getCheckedRows())			
			//출고 등록 1번
			$.ajax({
				method:'POST',
				url:'/insertDlivyQ',
				contentType : 'application/json',
				dataType:'JSON',
				data: JSON.stringify(grid4.getCheckedRows()),
				beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
				success : function(result) {
					console.log(result);
					grid5.blur();
					//출고요청상세 등록 여러번
					$.ajax({
						method:'POST',
						url:'/insertDlivyQD',
						contentType : 'application/json',
						dataType:'JSON',
						data: JSON.stringify(grid5.getData()), //+ 출고요청코드,
						beforeSend : function(xhr){
			           		xhr.setRequestHeader(header, token);
			           	 },
						success : function(result) {
							console.log(result);
							
							//주문서에 납품수량 + 
							$.ajax({
							method:'POST',
							url:'/updateOrderNum',
							contentType : 'application/json',
							dataType:'JSON',
							data: JSON.stringify(grid5.getData()), //+ 출고요청코드,
							beforeSend : function(xhr){
				           		xhr.setRequestHeader(header, token);
				           	 },
							success : function(result) {
								console.log(result);
								swal("출고요청 완료")
								DeliveryList();
							},
							error : function(error){
								console.log(error);
							}
							
							})
							
						},
						error : function(error){s
							console.log(error);
						}
					})
				},
				error : function(error){
					console.log(error);
				}
			})	
			
			
			//등록버튼 누르면 모달창 닫고 화면
			 $('#staticBackdrop').modal('hide');
			
		}else{
			swal("다시 입력해주세요.")
			getCode();
		} 
		
	}else{
		swal("하나만 체크 해주세요")
	}
		 
			 
	}
		
			
				
				
				
	 
	 
	//조회버튼 / 리셋버튼
	planAll.addEventListener('click', () => {
    	grid.unfilter('dlivyQSt');
    })
    planWait.addEventListener('click', () => {
    	grid.filter('dlivyQSt', [{code:'eq', value:'등록'}]);
    })
    planStart.addEventListener('click', () => {
    	grid.filter('dlivyQSt', [{code:'eq', value:'요청'}]);
    })
	
 	Searchbtn.addEventListener('click', () => {
		grid.filter('dlivyQCode' , [{code:'contain', value:$('#CodeSearch').val()}])
		grid.filter('clientCode' , [{code:'contain', value:$('#ClientSearch').val().toUpperCase()}])
		grid.filter('empNum' , [{code:'contain', value:$('#EmpSearch').val()}])
		
		if($('#DateSearch').val() != '' ){
			grid.filter('dlivyDate' , [{code:'beforeEq', value:$('#DateSearch').val()}])
			
		}
	})
	// 한 줄 선택시 컬러.
	grid.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid.getColumns().length]
	          }
		            grid.setSelectionRange(record);
    });
	
	grid4.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid4.getColumns().length]
	          }
		            grid4.setSelectionRange(record);
    });

		
	Resetbtn.addEventListener('click', () => {
		document.getElementById('CodeSearch').value = '';
		grid.unfilter('dlivyQCode');
		document.getElementById('ClientSearch').value = '';
		grid.unfilter('clientCode');
		document.getElementById('EmpSearch').value = '';
		grid.unfilter('empNum');
		document.getElementById('DateSearch').value = '';
		grid.unfilter('dlivyDate');
		planAll.checked = true;
	})	 
	
    //모달창 끌때 reset되도록
	$("#staticBackdrop").on('hidden.bs.modal', function (e) {
		grid4.clear()
		grid5.clear()
		
	});
	
	
	
      </script>
      </div>
</body>
</html>