<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>Estimate</title>


</head>

<body>
	<div layout:fragment="header" class="page-heading"><h2>견적</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">대기</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">승인</label>
			</div>
				
			<div style="height:50px; ">
				<label for="planName" style="width:100px;">견적코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="견적코드" id="InEstmtCodeSearch">&nbsp;
			</div>
			
			<div style="height:50px; ">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="InClientCodeSearch">&nbsp;
				
				
				
            </div>
            
            <div>
				<label for="planDate" style="width:100px">견적일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="InEstmtDateSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="estmtDateSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="estmtDateReset">초기화</button>
			
           </div>
           <div>
               <button id="showModal" type="button" class="btn btn-sm btn-primary" style= "float:right;  margin:5px; margin-right: 10px"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getEstmtCode()">견적서 등록</button>
			</div>

			
          </div>        
     
	<div id ="grid"></div>
	
	<div><br></div>
	
	<div id ="grid2"></div>
	
	<!--  모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">견적서 등록</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div class="modal-body">
		      	<div class="container-fluid">
		      			<div style="margin-bottom:5px">
				        	<label for="row1" style="width:80px; height: 30px; text-align:center;">견적번호</label>
				        		<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="estmtCode"  readonly>
				        	
				    		<label for="row1" style="width:80px; height: 30px; text-align:center; margin-left:30px;" >납기일자</label>
								<input type="date" class="form-control" style="width: 150px; display:inline; text-align:center;" id="deDate">
								
		      			</div>

						<div style="margin-bottom:5px">
				        	<label for="row2" style="width:80px; height: 30px; text-align:center;" >거래처코드 </label>
				         		<select id="select8" name="no"  onchange="handleOnChange8(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white">
				         			<option value="선택">----선 택----</option>
				         			<th:block th:each="v : ${clientName}">
				         				<option th:value="${v.clientName}" th:text="${v.clientCode}"></option>
				         			</th:block>		
				         		</select>
				   		
				   			
				   			<label for="row2" style="width:80px; height: 30px; text-align:center; margin-left:30px;" >거래처명</label>
				         		<select id="select5" name="no"  onchange="handleOnChange5(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white; display:inline; text-align:center;">
				         			<option value="선택">----선 택----</option>
				         			<th:block th:each="v : ${clientName}">
				         				<option th:value="${v.clientCode}" th:text="${v.clientName}" ></option>
				         			</th:block>		
				         		</select>
				         		
						</div>				   			
				
						<div style="margin-bottom:5px">
										   		
				   			<label for="row3" style="width:80px; height: 30px; text-align:center;" >제품코드</label>
				         		<select id="select6" name="no" onchange="handleOnChange6(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white; display:inline; text-align:center;">
				         			<option value="선택">----선 택----</option>
				         			<th:block th:each="v : ${proCode}">
				         				<option th:value="${v.proName}+'/'+${v.sellPrice}" th:text="${v.proCode}"></option>
											         				
				         			</th:block>
				         		</select>
				         		
				   			
				   			<label for="row3" style="width:80px; height: 30px; text-align:center; margin-left:30px;" >제품명</label>
				         		<select id="select7" name="no" onchange="handleOnChange7(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white; display:inline; text-align:center;">
				         			<option value="선택">----선 택----</option>
				         			<th:block th:each="v: ${proCode}">
				         				<option th:value="${v.proCode}+'/'+${v.sellPrice}" th:text="${v.proName}"></option>
				         			</th:block>
				         		</select>
				        </div> 		
				        <div style="margin-bottom:5px"> 		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">수량</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="productNum">
				         	
				        </div>
				        <div style="margin-bottom:5px">  	
					         	<button onclick="modalResetBtn()" type="button"  class="btn-sm btn-secondary" style="float:right;" >초기화</button>
					         	<button onclick="deletePro()" type="button" class="btn-sm btn-primary" style="float:right; margin-right:5px">제품삭제</button>
					         	<button onclick="plusPro()" type="button" class="btn-sm btn-primary" style="float:right; margin-right:5px" >제품추가</button>
				        </div>
			       </div>
			    
		      </div>
		        
		        
					 <div id ="grid3"></div>
				
		        
		      <div class="modal-footer">
		        <button onclick="insertEstmt()" type="button" class="btn btn-primary" >등록</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
    

	


	<script>
	
	/* token */
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
	
		const Grid = tui.Grid;
		
		
		const grid = new Grid({
            el: document.getElementById('grid'), // Container element
            scrollX: false,
            scrollY: true,
            bodyHeight : 240,
            columns: [
                {
                	header: '견적코드',
                	name: 'estmtCode',
                	filter : 'text',
                },
                {
                	header: '거래처',
                	name: 'clientCode',
                	filter : 'text',
                	
                },
                {
                	header: '견적일자',
                    name: 'estmtDate',
                    filter : 'date'
                 },
                 {
                 	header: '납기일자',
                    name: 'deDate',
                    filter : 'select'
                 },
                 {
                  	header: '총합계액',
                     name: 'allSum',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                     
                     
                  },
                  {
                	  header:'상태',
                	  name: 'estmtSt',
                	  filter : 'select',
                	  align : 'center'
                  }

            ]
           
	
		});
		
		
		const grid2 = new Grid({
            el: document.getElementById('grid2'), // Container element
            scrollX: false,
            scrollY: false,
            columns: [
            	{
                	header: 'no',
                	name: 'estmtDno',
                	hidden : 1
                },
                {
                	header: '제품코드',
                	name: 'proCode'
                },
                {
                	header: '제품명',
                    name: 'proName'
                 },
                 {
                 	header: '수량',
                    name: 'sellNum',
                    formatter : function (ev){
                       	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        }
                 },
                 {
                  	header: '단가',
                     name: 'sellPrice',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                  },
                 
                 {
                  	header: '합계액',
                     name: 'sumPrice',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                  },
            ]
          
		});
		
		
		const grid3 = new Grid({
            el: document.getElementById('grid3'), // Container element
            scrollX: false,
            scrollY: false,
            rowHeaders: ['checkbox'],
            columns: [
            
                {
                	header: '견적코드-h',
                	name: 'estmtCode',
                	hidden : 1
                	
                },
                {
                	header: '제품코드',
                	name: 'proCode'
                },
                {
                	header: '제품명',
                	name: 'proName'
                },
                 {
                 	header: '수량',
                    name: 'sellNum',
                    formatter : function (ev){
                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    }
                 },
                 {
                  	header: '단가',
                     name: 'sellPrice',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                  },
                 
                 {
                  	header: '합계액',
                     name: 'sumPrice',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                  }
                  
            ]
		});
		
		//grid3.hideColumn('estmtCode');
		
		
	//모달창 선택값 리셋
	function modalResetBtn(){
		
		$("#select6").attr('disabled', false)
		$("#select7").attr('disabled',false)
		
		document.getElementById("select7").value = '선택';
		document.getElementById("select6").value = '선택';
		$("#productNum").val('');
				
	}
	
	
	// 모달창 둘중에 하나만 선택 되도록 58거래처     67제품
	
	function handleOnChange5(e){
		if($("#select5").val() != '선택'){
			var idx = $("#select5 option").index( $("#select5 option:selected") );
		    document.getElementById("select8").selectedIndex =idx;
			
			
			$("#select8").attr('disabled', true)
			/* const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('select').value = text; */
			
		}
	} 

	
	function handleOnChange8(e){
		if($("#select8").val() != '선택'){
			var idx = $("#select8 option").index( $("#select8 option:selected") );
		    document.getElementById("select5").selectedIndex =idx;
		    
			$("#select5").attr('disabled', true) 
			
			/* const text = e.value;
			
			//선택한 텍스트 출력
			document.getElementById('result').value = text; */
		}
	
	}
	
	
	
	function handleOnChange6(e){
		if($("#select6").val() != '선택'){
			$("#select7").attr('disabled', true)
		}
		
	}
	
	
	 function handleOnChange7(e){
		 if($("#select7").val() != '선택'){
				$("#select6").attr('disabled', true)
		 }
	}
	
	
	//수량 * 단가 = 합계액
	function add(){
		if(document.getElementById("num").value && document.getElementById("price").value){
			
		}
			  document.getElementById('allsum').value =
				  parseInt(document.getElementById('num').value) * parseInt(document.getElementById('price').value);
	}
	
	
	
	
	//모달창
   	staticBackdrop.addEventListener('shown.bs.modal', () => {
   	      grid3.refreshLayout(); //모달창 새로고침
   	 })
		
   	 
	
	//실행시 전체조회
	document.addEventListener("DOMContentLoaded",estmtList)
	   	
		function estmtList(){
			$.ajax({
				url:'/listEstimate',
				success : function(result) {
					grid.resetData(result);
				},
				error : function(error){
				}
			})
			
		}
   	 

	
	 //tr clickevent
	 grid.on('click', (event)=>{
		 var a  = grid.getRow(event.rowKey).estmtCode
				
		 $.ajax({
					method:'GET',
					url:'/listEstimated?estmtCode='+a,
					success : function(result) {
						grid2.resetData(result);
					},
					error : function(error){
					}
		})

	 })
	
	 
 	//모달창 제품추가 버튼 누르기
	function plusPro(){
		
		if( $("#select6").val() != '선택' && $("#productNum").val() !=''){	
		
			let a = $('#select6').val();
			
			let sumA = parseInt($('#productNum').val());
			let sumB = parseInt((a.split('/'))[1]);
			let result = sumA * sumB;
			 
			const rowData = [
				{
					estmtCode : $('#estmtCode').val(),	
					proCode : $('#select6 option:selected').text(),
					proName : (a.split('/'))[0],
					sellNum : $('#productNum').val(),
					sellPrice : (a.split('/'))[1],
					sumPrice : result
				}	
			];
			 
			
			rowData.forEach(row => {
			  grid3.appendRow(row);
			});
		
			
		  }else if ( $("#select7").val() != '선택'  && $("#productNum").val() !=''){		
			  //console.log("제품명 입력 + 수량")
			  
			 let a = $('#select7').val();
				
			for (let b of a.split('/')){
			}
			
			let sumA = parseInt($('#productNum').val());
			let sumB = parseInt((a.split('/'))[1]);
			let result = sumA * sumB;
			 
			const rowData = [
				{
					estmtCode : $('#estmtCode').val(),
					proCode : (a.split('/'))[0],
					proName : $('#select7 option:selected').text(),
					sellNum : $('#productNum').val(),
					sellPrice : (a.split('/'))[1],
					sumPrice : result
				}	
			];
			 
			
			rowData.forEach(row => {
			  grid3.appendRow(row);
			});
	  
		  
			$("#input7").val ($("#select7").val()) ;		
			//console.log($("#input7").val());			//제품명 출력
			
				  
		  }else{
			  //제품코드만 입력
			swal("값을 다 넣어주세요.")
			
			  
		  }
		
	 }//function
	 
		 
	//모달창 눌렀을때 견적코드 있도록	
	function getEstmtCode(){
		
		$.ajax({
			url:'/getEstmtCode',
			success : function(result) {
				//console.log(result[0].estmtCode)
				$("#estmtCode").val(result[0].estmtCode);
			},
			error : function(error){
			}
		})
	}
	 
	 
	//견적서 등록버튼 눌렀을때
	function insertEstmt(){

	 if( $("#select5").val() != '선택'  && $("#deDate").val() !=''){
		 
		let allSum = plusSum();
		
 		const data = [
 			{	
 				estmtCode : $("#estmtCode").val(),
				deDate : $("#deDate").val(),
				clientCode : $("#select5").val(),
				allSum : allSum
 			}
 		]
		masterinsert(data);
 		$('#staticBackdrop').modal('hide');
		 
	 } else if($("#select8").val() != '선택' && $("#deDate").val() !=''){
	 		

		 let allSum = plusSum();
			
	 		const data = [
	 			{	
	 				estmtCode : $("#estmtCode").val(),
					deDate : $("#deDate").val(),
					clientCode : $("#select8 option:selected").text(),
					allSum :  allSum
	 			}
	 		]
	 		
			// 견적서 input에 있는 값들 insert 
	 		masterinsert(data);
	 		//등록버튼 누르면 모달창 닫고 화면 gridreload
	 		$('#staticBackdrop').modal('hide');
	 		
	 		 
		
	}else{
	 	swal("값을 다 넣어주세요");
 	}
	
	
	
	}
	 
	 function masterinsert(data){	
	 		
		// 견적서 input에 있는 값들 insert 
		$.ajax({
			method:'POST',
			url:'/insertEstmt',
			contentType : "application/json",
			dataType:"JSON",
			data: JSON.stringify(data),
            beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
			success : function(result) {
				deinsert();
			},
			error : function(error){
				swal("견적서 등록 실패")
			}
		})
				
	 }
	 
	 
	 //상세
	 function deinsert(){
		// 견적상세 그리드에 있는 값을 insert + 견적코드 
		//grid3.getData().push($("#estmtCode").val())
		console.log(grid3.getData())
		$.ajax({
			method:'POST',
			url:'/insertEstmtD',
			contentType : "application/json",
			dataType:"JSON",
			data: JSON.stringify(grid3.getData()),
             	beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
			success : function(result) {
				swal("견적서 등록 완료")
				estmtList();
				
			},
			error : function(error){
				swal("견적서 등록 실패")
			}
		})
		 
	 }
	 
	 
	 function plusSum(){
			let a = grid3.getData();
			let b = 0;
			for(let i =0; i<a.length; i++){
				b += a[i].sumPrice;
			}
			return b;
	 }
			
		
	//조회버튼 / 리셋버튼
	planAll.addEventListener('click', () => {
    	grid.unfilter('estmtSt');
    })
    
    planWait.addEventListener('click', () => {
    	grid.filter('estmtSt', [{code:'eq', value:'승인'}]);
    })
    
    planStart.addEventListener('click', () => {
    	grid.filter('estmtSt', [{code:'eq', value:'대기'}]);
    })
	
	estmtDateSearch.addEventListener('click', () => {
		grid.filter('estmtCode' , [{code:'contain', value:$('#InEstmtCodeSearch').val().toUpperCase()	}])
		grid.filter('clientCode' , [{code:'contain', value:$('#InClientCodeSearch').val().toUpperCase() }])
		if($('#InEstmtDateSearch').val() != '' ){
			grid.filter('estmtDate' , [{code:'beforeEq', value:$('#InEstmtDateSearch').val()}])
			
		}
	});

		
	estmtDateReset.addEventListener('click', () => {
		document.getElementById('InEstmtCodeSearch').value = '';
		grid.unfilter('estmtCode');
		document.getElementById('InClientCodeSearch').value = '';
		grid.unfilter('clientCode');
		document.getElementById('InEstmtDateSearch').value = '';
		grid.unfilter('estmtDate');
		planAll.checked = true;
		grid.unfilter('estmtSt')
	})	
	
	
	
	
	//모달창 선택된 행 삭제
	function deletePro(){
		grid3.removeCheckedRows(true)
	}
	
	// 한 줄 선택시 컬러.
	grid.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid.getColumns().length]
	          }
		            grid.setSelectionRange(record);
    });

	
	
	//모달창 끌때 reset되도록
	$("#staticBackdrop").on('hidden.bs.modal', function (e) {
		grid3.clear()
		$("#deDate").val('');
		
		$("#select5").attr('disabled', false)
		$("#select6").attr('disabled',false)
		$("#select7").attr('disabled', false)
		$("#select8").attr('disabled', false)
		
		var a = "----선 택----";
		document.getElementById("select5").value = '선택';
		document.getElementById("select8").value = '선택';
		document.getElementById("select7").value = '선택';
		document.getElementById("select6").value = '선택';
		
		$("#productNum").val('');
		
			 
	});
	 
	
	</script>
	</div>
</body>

</html>