<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>facilities 설비관리</title>
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>설비관리</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">설비상태</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">사용</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">미사용</label>
			</div>
			
			<div class="filters1" style="height:35px">
				<label for="sysDiv" style="width:100px">설비구분</label>
				<label><input type="radio" id="sysAll"  name="plan1"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="sysFam"  name="plan1" value="fam">프레임</label>&nbsp;
				<label><input type="radio" id="sysEng"  name="plan1" value="eng">엔진</label>
				<label><input type="radio" id="sysEnd"  name="plan1" value="end">최종</label>&nbsp;
				<label><input type="radio" id="sysTes"  name="plan1" value="tes">테스트</label>
			</div>
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">설비코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비코드" id="sysCode">&nbsp;
			</div>	
			
			<div style="height:50px; margin-bottom:10px">
				<label for="planName" style="width:100px">설비명</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비명" id="sysName">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="goSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="goReset">초기화</button>
			</div>
			
			 <div>
			 	<button onclick="facDelete()" type="button" class="btn btn-sm btn-primary"style="float:right; margin:5px; margin-right: 5px" >삭제</button>
				<button id="showModal" type="button" class="btn btn-sm btn-primary" style= "float:right;  margin:5px; "
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >설비 등록</button>
            </div>
       </div>
			
	
		<div id="grid"></div>
	
	   <!--  모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">설비 등록</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div class="modal-body">
		      	<div class="container-fluid">
		      			<div style="margin-bottom:5px">
				        	<label for="row1" style="width:80px; height: 30px; text-align:center;">설비코드</label>
				        		<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="sysCode"  readonly>
	      				</div>
				        	
				        <div style="margin-bottom:5px">
				        	<label for="row2" style="width:80px; height: 30px; text-align:center;" >설비 구분*</label>
				         		<select id="selectSys" name="no" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white">
				         			<option value="선택">--선 택--</option>
				         			<option vlaue="프레임">프레임</option>	
				         			<option vlaue="프레임">엔진</option>	
				         			<option vlaue="프레임">최종</option>	
				         			<option vlaue="프레임">테스트</option>	
				         		</select>
			        	</div>
			
				          <div style="margin-bottom:5px"> 			
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비모델*</label>	
				         		<input type="text"  min="1" class="form-control"style="width:150px; display:inline" id="sysModel">
				      	 </div>
				      	 
 	 			        <div style="margin-bottom:5px"> 			
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비명*</label>	
				         		<input type="text" class="form-control"style="width:150px; display:inline" id="sysNamee">
				      	 </div>
				      	 
				        <div style="margin-bottom:5px"> 		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비규격*</label>	
				         		<input type="text"  min="1" class="form-control"style="width:150px; display:inline" id="sysKs">
				         </div>
				         
				      	 
				       <div style="margin-bottom:5px"> 		 		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비가격*</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="sysMoney">	
				        </div> 		
				        
				        <div style="margin-bottom:5px"> 
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">점검주기*</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="testCycle">		
				        </div>
			    
		      </div>
		        
		        
					 <div id ="grid3"></div>
				
		        
		      <div class="modal-footer">
		        <button onclick="insertSys()" type="button" class="btn btn-primary" >등록</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->

	<script>
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	const Grid = tui.Grid;
	
	
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: true,
        rowHeaders : ['checkbox'],
        bodyHeight : 400,
        columns: [
            {
            	header: '설비코드',
            	name: 'sysCode',
            	filter : 'text'
            },
            {
            	header: '설비구분',
            	name: 'sysDiv',
            	filter : 'text',
            },
            {
            	header: '설비명',
            	name: 'sysName',
            	filter : 'text',
            },
            {
            	header: '설비등록날짜',
                name: 'sysDate'
             },
             {
	             header: '설비규격',
	             name: 'sysKs',
	         },
	         {
	             header: '설비모델',
	             name: 'sysModel',
	         },
	         {
	             header: '설비가격',
	             name: 'sysMoney',
	             
	         },
	         {
	             header: '점검주기',
	             name: 'testCycle',
	         },
	         {
	             header: '담당자',
	             name: 'empName'
	         },
	         {
	             header: '설비상태',
	             name: 'sysStatus',
	           	 filter : 'text',
	           	 align : 'center'
	           	 
	         }
        ]
        
        
		
	});
	
	

	document.addEventListener("DOMContentLoaded",facList())
	//select
	function facList(){
		
		$.ajax({
			url:'/facList',
			success:function(result){
				grid.resetData(result);	
			},
			error : function(error){
			}
		})
	
	}
	

	//설비등록
	function insertSys(){
		const data = [
			{
				sysName : $("#sysNamee").val(),
				sysKs : $("#sysKs").val(),
				sysModel : $("#sysModel").val(),
				sysMoney : $("#sysMoney").val(),
				testCycle : $("#testCycle").val(),
			}
		]
		
		var a = $("#selectSys option:selected").text();
		
		if( a =='프레임' ){
			$.ajax({
					method:'POST',
					url:'/facInsertFam',
					contentType : "application/json",
					dataType:"JSON",
					data: JSON.stringify(data),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						swal("설비등록 완료")
						 $('#staticBackdrop').modal('hide');
						facList()
					},
					error : function(error){
						swal("설비등록 실패")
					}
				})
				
		}else if(a=='엔진'){
			$.ajax({
					method:'POST',
					url:'/facInsertEng',
					contentType : "application/json",
					dataType:"JSON",
					data: JSON.stringify(data),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						swal("설비등록 완료")
						 $('#staticBackdrop').modal('hide');
						facList()
					},
					error : function(error){
						swal("설비등록 실패")					}
				})
				
		}else if(a=='최종'){
			$.ajax({
					method:'POST',
					url:'/facInsertEnd',
					contentType : "application/json",
					dataType:"JSON",
					data:JSON.stringify(data),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						swal("설비등록 완료")
						 $('#staticBackdrop').modal('hide');
						facList()
					},
					error : function(error){
						swal("설비등록 실패")
					}
				})
			
		}else if(a=='테스트'){
			$.ajax({
					method:'POST',
					url:'/facInsertTes',
					contentType : "application/json",
					dataType:"JSON",
					data:JSON.stringify(data),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						swal("설비등록 완료")
						 $('#staticBackdrop').modal('hide');
						facList()
					},
					error : function(error){
						swal("설비등록 실패")
					}
				})
			
		}else{
			swal("설비구분을 입력해주세요.")
			
		}
		
		
	}
	
	// 그리드 행 추가
	function addRow() {
		
		let data = { dlivyProCode :  $("#getdlivyCode").val(), dlivyGCode : $("#dlivyProCode").val() , orderCode : $("#getorderCode").val(), dlivyDate : "" , clientCode : $('#ClientSearch').val(), dlivyMth : ""
					, dlivyCode : "", dlivyName : "", dlivyName : "", dlivyPnum : ""}
		
		grid.appendRow(data);
		grid.check(grid.getRowCount()-1);
		
	}
	
	//설비삭제
	function facDelete(){
		$.ajax({
			method:'POST',
			url:'/facDelete',
			contentType : "application/json",
			dataType:"JSON",
			data: JSON.stringify(grid.getCheckedRows()),
            beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
			success : function(result) {
				console.log(result);
				swal("설비삭제 완료")
				facList()
			},
			error : function(error){
				console.log(error);
			}
		})
		
	}
	
	
	
	// 그리드 필터
	planAll.addEventListener('click', () => {
    	grid.unfilter('sysStatus');
    })
    
    planWait.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'미사용'}]);
    })
    
    planStart.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'사용'}]);
    })
	
	
    // 그리드 필터
	sysAll.addEventListener('click', () => {
    	grid.unfilter('sysDiv');
    })
    
    sysFam.addEventListener('click', () => {
    	grid.filter('sysDiv', [{code:'eq', value:'프레임'}]);
    })
    
   	sysEng.addEventListener('click', () => {
    	grid.filter('sysDiv', [{code:'eq', value:'엔진'}]);
    })
    
    sysEnd.addEventListener('click', () => {
    	grid.filter('sysDiv', [{code:'eq', value:'최종'}]);
    })
    
    sysTes.addEventListener('click', () => {
    	grid.filter('sysDiv', [{code:'eq', value:'테스트'}]);
    })
    
    
    
    
    
    
    
    
	goSearch.addEventListener('click', () => {
		grid.filter('sysCode' , [{code:'contain', value:$('#sysCode').val().toUpperCase()}])
		grid.filter('sysName' , [{code:'contain', value:$('#sysName').val().toUpperCase()}])
			
		
	});


	goReset.addEventListener('click', () => {
		sysAll.checked = true;
		planAll.checked = true;
		grid.unfilter('sysStatus');
		grid.unfilter('sysDiv');
		
		document.getElementById('sysCode').value = '';
		grid.unfilter('sysCode');
		document.getElementById('sysName').value = '';
		grid.unfilter('sysName');
		grid.unfilter('sysStatus');
		grid.unfilter('sysDiv');
	})	
		
	//모달창 끌때 reset되도록
	$("#staticBackdrop").on('hidden.bs.modal', function (e) {
		
		document.getElementById("selectSys").value = '선택';
		
		$("#sysModel").val('');
		$("#sysMoney").val('');
		$("#sysKs").val('');
		$("#sysNamee").val('');
		$("#testCycle").val('');
		
			 
	});	
	</script>
	
	</div>
	
	
</body>
</html>