<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>facilities 설비관리</title>
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>설비관리</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">사용</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">미사용</label>
			</div>
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">설비코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비코드" id="sysCode">&nbsp;
			</div>	
			
			<div style="height:50px; margin-bottom:10px">
				<label for="planName" style="width:100px">설비명</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비명" id="sysName">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="goSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="goReset">초기화</button>
			</div>
			
			 <div>
            	<button type="button" class="btn btn-sm btn-primary" style="float:right; margin:5px; margin-right: 5px" onclick="facInsert()">설비등록</button>   
            	<button onclick="deletePro()" type="button" class="btn-sm btn-primary" style="float:right; margin-right:5px; margin:5px;" >행삭제</button>
				<button type="button"  style="float:right; margin:5px;" class="btn btn-sm btn-primary" onclick="addRow()">
					<svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
						<path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
				</button> 
            </div>
       </div>
			
	
		<div id="grid"></div>
	
	   

	<script>
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	const Grid = tui.Grid;
	
	
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: false,
        bodyHeight : 400,
        columns: [
            {
            	header: '설비코드',
            	name: 'sysCode',
            	filter : 'text'
            },
            {
            	header: '설비명',
            	name: 'sysName',
            	filter : 'text',
            	editor : 'text'
            },
            {
            	header: '설비등록날짜',
                name: 'sysDate'
             },
             {
	             header: '설비규격',
	             name: 'sysKs',
	             editor : 'text'
	         },
	         {
	             header: '설비모델',
	             name: 'sysModel',
	             editor : 'text'
	         },
	         {
	             header: '설비가격',
	             name: 'sysMoney',
	             editor : 'text',
	             
	         },
	         {
	             header: '점검주기',
	             name: 'testCycle',
	             editor : 'text'
	         },
	         {
	             header: '담당자',
	             name: 'empName'
	         },
	         {
	             header: '설비상태',
	             name: 'sysStatus',
	           	 filter : 'text',
	           	 align : 'center'
	           	 
	         }
        ]
        
        
		
	});
	
	

	document.addEventListener("DOMContentLoaded",facList())
	//select
	function facList(){
		
		$.ajax({
			
			url:'/facList',
			success:function(result){
				console.log("연결");
				console.log(result);
				grid.resetData(result);
			},
			error : function(error){
				console.log(error);
			}
		})
	
	}
	
	
	
	
	//insert 
	function facInsert(){
	
		//빈값 없도록
		if(grid.getValue(grid.getRowCount()-1, "sysCode") == ''){
			swal("설비코드를 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysName") == ''){
			swal("설비명을 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysKs") == ''){
			swal("설비규격을 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysModel") == ''){
			swal("설비모델을 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "sysMoney") == ''){
			swal("설비가격을 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "sysStatus") == ''){
			swal("설비상태 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "testCycle") == ''){
			swal("점검주기를 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "empNum") == ''){
			swal("담당자를 입력하세요.")		
		}else{
			//전부 입력 되어있으면 등록
			$.ajax({
					method:'POST',
					url:'/facInsert',
					contentType : "application/json",
					dataType:"JSON",
					data: JSON.stringify(grid.getCheckedRows()),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						console.log(result);
						swal("설비등록 완료")
					},
					error : function(error){
						console.log(error);
					}
				})
		}
				
	 }
	
	// 그리드 행 추가
	function addRow() {
		
		let data = { dlivyProCode :  $("#getdlivyCode").val(), dlivyGCode : $("#dlivyProCode").val() , orderCode : $("#getorderCode").val(), dlivyDate : "" , clientCode : $('#ClientSearch').val(), dlivyMth : ""
					, dlivyCode : "", dlivyName : "", dlivyName : "", dlivyPnum : ""}
		
		grid.appendRow(data);
		grid.check(grid.getRowCount()-1);
		
	}
	
	//행삭제
	function deletePro(){
		grid.removeCheckedRows(true)
	}
	
	
	
	
	
	
	// 그리드 필터
	planAll.addEventListener('click', () => {
    	grid.unfilter('sysStatus');
    })
    
    planWait.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'미사용'}]);
    })
    
    planStart.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'사용'}]);
    })
	
	
	goSearch.addEventListener('click', () => {
		grid.filter('sysCode' , [{code:'contain', value:$('#sysCode').val()}])
		grid.filter('sysName' , [{code:'contain', value:$('#sysName').val()}])
			
		
	});


	goReset.addEventListener('click', () => {
		document.getElementById('sysCode').value = '';
		grid.unfilter('sysCode');
		document.getElementById('sysName').value = '';
		grid.unfilter('sysName');
	})	
		
		
	</script>
	
	</div>
	
	
</body>
</html>