<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>facilities 설비관리</title>
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>설비관리</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
		
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">사용</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">미사용</label>
			</div>
				
			<div style="height:50px;">
				<label for="planName" style="width:100px">설비코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비코드" id="sysCode">&nbsp;
			</div>	
			
			<div style="height:50px; margin-bottom:10px">
				<label for="planName" style="width:100px">설비명</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="설비명" id="sysName">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="goSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="goReset">초기화</button>
			</div>
			
			 <div>
			 	<button onclick="facDelete()" type="button" class="btn btn-sm btn-primary"style="float:right; margin:5px; margin-right: 5px" >삭제</button>
            	<button type="button" class="btn btn-sm btn-primary" style="float:right; margin:5px; margin-right: 5px" onclick="facInsert()">설비등록</button>   
            	<button onclick="deletePro()" type="button" class="btn btn-sm btn-primary" style="float:right; margin:5px; margin-right: 5px" >행삭제</button>
				<button id="showModal" type="button" class="btn btn-sm btn-primary" style= "float:right;  margin:5px; "
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >설비 등록</button>
            </div>
       </div>
			
	
		<div id="grid"></div>
	
	   <!--  모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">설비 등록</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div class="modal-body">
		      	<div class="container-fluid">
		      			<div style="margin-bottom:5px">
				        	<label for="row1" style="width:80px; height: 30px; text-align:center;">견적번호</label>
				        		<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="estmtCode"  readonly>
				        	
				        	<label for="row2" style="width:80px; height: 30px; text-align:center;" >설비 구분</label>
				         		<select id="select8" name="no"  onchange="handleOnChange8(this)" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white">
				         			<option value="선택">--선 택--</option>
				         			<option vlaue="프레임">프레임</option>	
				         			<option vlaue="프레임">엔진</option>	
				         			<option vlaue="프레임">최종</option>	
				         			<option vlaue="프레임">테스트</option>	
				         		</select>
		      			</div>

			
				        <div style="margin-bottom:5px"> 		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비규격</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="productNum">
				         		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비모델</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="productNum">
				         		
				       </div>
				       <div style="margin-bottom:5px"> 		 		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">설비가격</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="productNum">	
				         		
				         	<label for="row3" style="width:80px; height: 30px; text-align:center;">점검주기</label>	
				         		<input type="number"  min="1" class="form-control"style="width:150px; display:inline" id="productNum">		
				        </div>
			       </div>
			    
		      </div>
		        
		        
					 <div id ="grid3"></div>
				
		        
		      <div class="modal-footer">
		        <button onclick="insertEstmt()" type="button" class="btn btn-primary" >등록</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->

	<script>
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	const Grid = tui.Grid;
	
	
	const grid = new Grid({
        el: document.getElementById('grid'), // Container element
        scrollX: false,
        scrollY: false,
        rowHeaders : ['checkbox'],
        bodyHeight : 400,
        columns: [
            {
            	header: '설비코드',
            	name: 'sysCode',
            	filter : 'text'
            },
            {
            	header: '설비명',
            	name: 'sysName',
            	filter : 'text',
            	editor : 'text'
            },
            {
            	header: '설비등록날짜',
                name: 'sysDate'
             },
             {
	             header: '설비규격',
	             name: 'sysKs',
	             editor : 'text'
	         },
	         {
	             header: '설비모델',
	             name: 'sysModel',
	             editor : 'text'
	         },
	         {
	             header: '설비가격',
	             name: 'sysMoney',
	             editor : 'text',
	             
	         },
	         {
	             header: '점검주기',
	             name: 'testCycle',
	             editor : 'text'
	         },
	         {
	             header: '담당자',
	             name: 'empName'
	         },
	         {
	             header: '설비상태',
	             name: 'sysStatus',
	           	 filter : 'text',
	           	 align : 'center'
	           	 
	         }
        ]
        
        
		
	});
	
	

	document.addEventListener("DOMContentLoaded",facList())
	//select
	function facList(){
		
		$.ajax({
			
			url:'/facList',
			success:function(result){
				console.log("연결");
				console.log(result);
				grid.resetData(result);	
			},
			error : function(error){
				console.log(error);
			}
		})
	
	}
	
	
	
	
	//insert 
	function facInsert(){
	
		//빈값 없도록
		if(grid.getValue(grid.getRowCount()-1, "sysCode") == ''){
			swal("설비코드를 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysName") == ''){
			swal("설비명을 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysKs") == ''){
			swal("설비규격을 입력하세요.")
		}else if(grid.getValue(grid.getRowCount()-1, "sysModel") == ''){
			swal("설비모델을 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "sysMoney") == ''){
			swal("설비가격을 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "sysStatus") == ''){
			swal("설비상태 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "testCycle") == ''){
			swal("점검주기를 입력하세요.")		
		}else if(grid.getValue(grid.getRowCount()-1, "empNum") == ''){
			swal("담당자를 입력하세요.")		
		}else{
			//전부 입력 되어있으면 등록
			$.ajax({
					method:'POST',
					url:'/facInsert',
					contentType : "application/json",
					dataType:"JSON",
					data: JSON.stringify(grid.getCheckedRows()),
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
					success : function(result) {
						console.log(result);
						swal("설비등록 완료")
						facList()
					},
					error : function(error){
						console.log(error);
					}
				})
		}
				
	 }
	
	// 그리드 행 추가
	function addRow() {
		
		let data = { dlivyProCode :  $("#getdlivyCode").val(), dlivyGCode : $("#dlivyProCode").val() , orderCode : $("#getorderCode").val(), dlivyDate : "" , clientCode : $('#ClientSearch').val(), dlivyMth : ""
					, dlivyCode : "", dlivyName : "", dlivyName : "", dlivyPnum : ""}
		
		grid.appendRow(data);
		grid.check(grid.getRowCount()-1);
		
	}
	
	//행삭제
	function deletePro(){
		grid.removeCheckedRows(true)
	}
	
	//설비삭제
	function facDelete(){
		$.ajax({
			method:'POST',
			url:'/facDelete',
			contentType : "application/json",
			dataType:"JSON",
			data: JSON.stringify(grid.getCheckedRows()),
            beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
			success : function(result) {
				console.log(result);
				swal("설비삭제 완료")
				facList()
			},
			error : function(error){
				console.log(error);
			}
		})
		
	}
	
	
	
	// 그리드 필터
	planAll.addEventListener('click', () => {
    	grid.unfilter('sysStatus');
    })
    
    planWait.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'미사용'}]);
    })
    
    planStart.addEventListener('click', () => {
    	grid.filter('sysStatus', [{code:'eq', value:'사용'}]);
    })
	
	
	goSearch.addEventListener('click', () => {
		grid.filter('sysCode' , [{code:'contain', value:$('#sysCode').val()}])
		grid.filter('sysName' , [{code:'contain', value:$('#sysName').val()}])
			
		
	});


	goReset.addEventListener('click', () => {
		document.getElementById('sysCode').value = '';
		grid.unfilter('sysCode');
		document.getElementById('sysName').value = '';
		grid.unfilter('sysName');
	})	
		
		
	</script>
	
	</div>
	
	
</body>
</html>