<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>Order</title>
	
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>주문</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
			
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">진행</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">마감</label>
				<label><input type="radio" id="planEnd"  name="plan" value="wait">완료</label>
			</div>
			
			<div style="height:50px;">
				<label for="planName" style="width:100px">주문코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="주문코드" id="InEstmtCodeSearch">&nbsp;
			</div>
			
			<div style="height:50px; ">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="InClientCodeSearch">&nbsp;
            </div>
            
            <div>
				<label for="planDate" style="width:100px">주문일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="InEstmtDateSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="estmtDateSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="estmtDateReset">초기화</button>
			
           </div>
           <div>
               <button id="showModal" type="button" class="btn btn-sm btn-primary" style= "float:right;  margin:5px; margin-right:10px;"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getOrderCode()">견적서 조회</button>
			</div>

			
          </div>     
	
		<div id="grid"></div>
		
		<div><br></div>
		
		<div id="grid2"></div>
	
		<div><br></div>
		<div><br></div>
		
		<div class="mb-1">
				<div style="height:50px; margin-bottom:10px">
					<label for="planName" style="width:100px">제품명</label>
					<input type="text" class="form-control" style="width:200px; display:inline" placeholder="제품명" id="InProduct">&nbsp;
					<button type="button" class="btn btn-sm btn-primary" id="proSearch">검색</button>&nbsp;
					<button type="button" class="btn btn-sm btn-secondary" id="proReset">초기화</button>
				
				</div>
				
	            
	     </div>
		
		<div id="grid3"></div>
	
	
	
	
	<!--  견적코드 모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h4 class="modal-title" id="staticBackdropLabel">견적서</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
		      </div>
		        
		      <div class="modal-body">
				  <div class="container-fluid">
							<label for="row1" style="width:80px; height: 30px; text-align:center;">주문코드</label>
				        		<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="orderCode"  readonly>
							
							<label for="row2" style="width:80px; height: 30px; text-align:center;"> 견적코드</label>
				         		<select id="select4" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white" name="no">
				         			<option value="선택">----선 택----</option>
				         			<th:block th:each="e : ${estmtCode1}">
				         				<option th:value="${e.estmtCode}" th:text="${e.estmtCode}"></option>
				         			</th:block>  			
				         		</select>
			         		 	<button class="btn-sm btn-primary" onclick="searchEstmtCode()" type="button" >조 회</button>
		         				
				</div>
			 </div>
			 
			 		<div id="grid4"></div>
			 		<div id="grid5"></div>
		      
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" onclick="plusOrder()">주문 등록</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	   
	    
	    
	
		<script>
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		
		const Grid = tui.Grid;
		
		//주문목록 
		const grid = new Grid({
	        el: document.getElementById('grid'), // Container element
	        scrollX: false,
	        scrollY: true,
            bodyHeight : 240,
	        columns: [
	            {
	            	header: '주문코드',
	            	name: 'orderCode',
	            	filter : 'text'
	            },
	            {
	            	header: '거래처',
	            	name: 'clientName',
	            	filter : 'text'
	            },
	            {
	            	header: '주문등록일자',
	                name: 'orderDate',
	                filter : 'date'
	                
	             },
	             {
	             	header: '납기일자',
	                name: 'deDate',
	                filter : 'select'
	             },
	             {
	                 header: '총합계액',
	                 name: 'allSum',
	                 formatter : function (ev){
	                   	 console.log(ev)
	                 return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    },
	                  align : 'right'
	                 
	             },
	             {
               	  	header:'상태',
               	  	name: 'orderSt',
               	 	filter : 'text',
               	 	align : 'center'
                 }
                 
	            
	        ]
		});
		
		//상세조회
		const grid2 = new Grid({
	        el: document.getElementById('grid2'), // Container element
	        scrollX: false,
            scrollY: false,
	        columns: [
	           
	        	{
	            	header: '제품코드',
	            	name: 'proCode',
	            	
	            },
	            {
	            	header: '제품명',
	                name: 'proName'
	             },
	             {
	             	header: '총수량',
	                name: 'sellNum',
	                formatter : function (ev){
	                   	 console.log(ev)
	                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    }
	             },
	             {
	            	header: '남품수량',
		            name: 'soldNum',
	                formatter : function (ev){
	                   	 console.log(ev)
	                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    }
		             },
	             {
	              	header: '단가',
	                 name: 'sellPrice',
	                 formatter : function (ev){
	                   	 console.log(ev)
	                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    },
	                    align : 'right'
	              },
	             
	             {
	              	header: '합계액',
	                 name: 'sumPrice',
	                 formatter : function (ev){
	                   	 console.log(ev)
	                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    },
	                 align : 'right'
	              }
	              
	        ]
		});
	
		//제품재고 조회
		const grid3 = new Grid({
	        el: document.getElementById('grid3'), // Container element
	        scrollX: false,
	        scrollY: true,
            bodyHeight : 240,
	        columns: [
	        	{
	            	header: '제품코드',
	            	name: 'proCode',
	            	filter : 'select'
	            },
	            {
	            	header: '제품명',
	                name: 'proName',
	                filter : 'text'
	             },
	             {
	             	header: '제품재고수량',
	                name: 'proNum'
	             }
	              
	        ]
		});
		
		
		
		//견적코드 모달창
		const grid4 = new Grid({
	        el: document.getElementById('grid4'), // Container element
	        scrollX: false,
            scrollY: false,
	        columns: [
	        
	        	{
                	header: '견적코드',
                	name: 'estmtCode'
                },
                {
                	header: '거래처코드-h',
                	name: 'clientCode',
                	hidden : 1
                	
                },
                {
                	header: '거래처',
                	name: 'clientName'
                },
                {
                	header: '견적일자',
                    name: 'estmtDate'
                 },
                 {
                 	header: '납기일자',
                    name: 'deDate'
                 },
                 {
                  	header: '총합계액',
                     name: 'allSum',
                     formatter : function (ev){
	                   	 console.log(ev)
	                 return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	                    },
	                align : 'right'
                  },
	        ]
		});
		
		
		
		//견적코드 모달창
		const grid5 = new Grid({
	        el: document.getElementById('grid5'), // Container element
	        scrollX: false,
            scrollY: false,
	        columns: [
	        	{
                	header: '주문코드-h',
                	name: 'orderCode',
                	hidden : 1
                },
	        	{
                	header: '제품코드',
                	name: 'proCode'
                },
                {
                	header: '제품명',
                	name: 'proName'
                },
                 {
                 	header: '수량',
                    name: 'sellNum',
                    formatter : function (ev){
                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    }
                 },
                {
                	header: '단가',
                    name: 'sellPrice',
                    formatter : function (ev){
                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    },
                    align : 'right'
                 },
                 {
                  	header: '합계액',
                     name: 'sumPrice',
                     formatter : function (ev){
                    	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                     },
                     align : 'right'
                     
                  },
	        ]
		});
		
		

		//모달창
	   	staticBackdrop.addEventListener('shown.bs.modal', () => {
	   	      grid4.refreshLayout(); //모달창 새로고침
	   	 })
	   	 
	   	 //모달창
	   	staticBackdrop.addEventListener('shown.bs.modal', () => {
	   	      grid5.refreshLayout(); //모달창 새로고침
	   	 })
			
			
		//실행시 조회
		document.addEventListener("DOMContentLoaded",ordersList)
	   	
		function ordersList(){
			console.log("연결성공")
			$.ajax({
				url:'/listOrders',
				success : function(result) {
					grid.resetData(result);
				},
				error : function(error){
					console.log(error);
				}
			}),
			
			$.ajax({
				url:'/proList',
				success : function(result) {
					grid3.resetData(result);
				},
				error : function(error){
					console.log(error);
				}
			})
			
		}
   	 
		
		
		//tr click
		grid.on('click', (event)=>{
			console.log(event.nativeEvent.target.textContent);
			var a = grid.getRow(event.rowKey).orderCode;
			
			$.ajax({
				method:'GET',
				url:'/listOrderd?orderCode='+a,
				success : function(result){
					grid2.resetData(result)
				},
				error: function(error){
					console.log(error);
				}
				
			})
		})
			
		
		
		//모달창 견적코드 조회
		function searchEstmtCode(){
			
			var a = $("#select4").val();  
			
			$.ajax({
				method:'GET',
				url:'/MestmtList?estmtCode='+a,
				success : function(result){
					grid4.resetData(result)
				},
				error: function(error){
					console.log(error+"k");
				}
				
			}),
			
			
			
			
			$.ajax({
				method:'GET',
				url:'/MestmtListD?estmtCode='+a,
				success : function(result){
					
					for(i=0; i<result.length; i++){
						result[i].orderCode= $("#orderCode").val()
					} 
					grid5.resetData(result);
				},
				error: function(error){
					console.log(error);
				}
				
			})
		}
		
		
		//모달창에 주문코드 있도록
		function getOrderCode(){
			$.ajax({
				url:'/getOrderCode',
				success : function(result) {
					$("#orderCode").val(result[0].orderCode);
				},
				error : function(error){
					console.log(error);
				}
			})	
		}
		
		
		//주문서등록
		function plusOrder(){
			console.log("버튼누름")
			let b = grid4.getData()[0];
			b.orderCode = $("#orderCode").val()
			
			// 주문 등록
			$.ajax({
				method:'POST',
				url:'/insertOrder',
				contentType : 'application/json',
				dataType:'JSON',
				data: JSON.stringify(b),
				beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
				success : function(result) {
					console.log(result);
					
					//주문 상세
					$.ajax({
						method:'POST',
						url:'/insertOrderD',
						dataType:'JSON',
						contentType : 'application/json',
						data: JSON.stringify(grid5.getData()),
						beforeSend : function(xhr){
			           		xhr.setRequestHeader(header, token);
			           	 },
						success : function(result) {
							console.log(result);
						
							//주문등록 하면서 견적서 상태 승인으로 없데이트 시켜줌
							$.ajax({
								method:'POST',
								url:'/updateEstmtSt',
								beforeSend : function(xhr){
					           		xhr.setRequestHeader(header, token);
					           	 },
								contentType : 'application/json',
								dataType:'JSON',
								data: JSON.stringify(grid4.getData()),
								success : function(result) {
									console.log(result)
									swal("주문 등록 완료")
									ordersList();
									
								},
								error : function(error){
									console.log(error);
								}
							})
							
					},
					error : function(error){
						console.log("견적상세 er");
						console.log(error)
					}
				
					})
					
				},
				error : function(error){
					console.log("주문 er")
					console.log(error)
				}
			})
			
			ordersList();
			//등록버튼 누르면 모달창 닫고 화면
			 $('#staticBackdrop').modal('hide');
			
			
		}
			
		
	// 조회버튼 / 리셋버튼
 	planAll.addEventListener('click', () => {
    	grid.unfilter('orderSt');
    })
    planEnd.addEventListener('click', () => {
    	grid.filter('orderSt', [{code:'eq', value:'완료'}]);
    })
    planWait.addEventListener('click', () => {
    	grid.filter('orderSt', [{code:'eq', value:'마감'}]);
    })
    planStart.addEventListener('click', () => {
    	grid.filter('orderSt', [{code:'eq', value:'진행'}]);
    })

	
	estmtDateSearch.addEventListener('click', () => {
		grid.filter('orderCode' , [{code:'contain', value:$('#InEstmtCodeSearch').val()}])
		grid.filter('clientCode' , [{code:'contain', value:$('#InClientCodeSearch').val()}])
		if($('#InEstmtDateSearch').val() != '' ){
			grid.filter('orderDate' , [{code:'beforeEq', value:$('#InEstmtDateSearch').val()}])
			
		}
	});

		
	estmtDateReset.addEventListener('click', () => {
		document.getElementById('InEstmtCodeSearch').value = '';
		grid.unfilter('orderCode');
		document.getElementById('InClientCodeSearch').value = '';
		grid.unfilter('clientCode');
		document.getElementById('InEstmtDateSearch').value = '';
		grid.unfilter('orderDate');
	})	
	
	
	proSearch.addEventListener('click', () => {
		grid3.filter('proName' , [{code:'contain', value:$('#InProduct').val()}])
			
		
	});


	proReset.addEventListener('click', () => {
		document.getElementById('InProduct').value = '';
		grid3.unfilter('proName');
	})	
	
	
	 
	
	//모달창 끌때 reset되도록
	$("#staticBackdrop").on('hidden.bs.modal', function (e) {
		grid4.clear()
		grid5.clear()
		$("#select4").attr('disabled', false)
		document.getElementById("select4").value = '선택';
		
	});
	 

	

	</script>
	</div>
	
</body>
</html>