<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
   <meta charset="UTF-8">
   <title>orderCan</title>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	 <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
   
</head>

<body>
<div layout:fragment="content">
 <h4>주문마감</h4>
	
	<div class="row">
	<form action="#" method="get">
		<div>
			<table style="margin:30px;">
				<tr>
					<td>진행구분
						<label><input type="radio" name="orderSt" value="all" checked>전체</label>
						<label><input type="radio" name="orderSt" value="go">진행</label>
						<label><input type="radio" name="orderSt" value="done">마감</label>
					</td> 
				</tr>
				
				<tr>
					<td>거래처<input style="width: 100px;" id="result">&nbsp; <i class="bi bi-search">&nbsp;</i>
		         		<select name="no" onchange="handleOnChange(this)" style="width: 80px;">
		         			<option value="선택">-선택-</option>
		         			<option value="번호1">번호1</option>
		         			<option value="번호2">번호2</option>
		         			<option value="번호3">번호3</option>   			
		         		</select>         		
	         		</td>
	         		
					<td>
						주문등록일자 <input type="date" style="width: 120px;">
	               	<button id="showModal" type="button" style="width: 80px; background-color: black; color:white; margin-left:20px;">조 회</button>
					</td>
				</tr>
			</table>
         </div>
      </form>
         
        <div id="grid"></div>
        <div id="grid2"></div>
        
      </div>
      
      
      <script>
	      const Grid = tui.Grid;
			
			//주문목록 
			const grid = new Grid({
		        el: document.getElementById('grid'), // Container element
		        scrollX: false,
	            scrollY: false,
	            columns: [
		            {
		            	header: '주문코드',
		            	name: 'orderCode',
		            	filter : 'select'
		            },
		            {
		            	header: '거래처',
		            	name: 'clientCode',
		            	filter : 'select'
		            },
		            {
		            	header: '주문등록일자',
		                name: 'orderDate',
		                filter : 'select'
		                
		             },
		             {
		             	header: '납기일자',
		                name: 'deDate',
		                filter : 'select'
		             },
		             {
		                 header: '총합계액',
		                 name: 'allSum'
		             }
		            
		        ]
			});
			
			
			const grid2 = new Grid({
		        el: document.getElementById('grid2'), // Container element
		        scrollX: false,
	            scrollY: false,
		        columns: [
		            {
		            	header: 'no',
		            	name: 'ORDER_DNO'
		            },
		            {
		            	header: '제품코드',
		            	name: 'PRO_CODE'
		            },
		            {
		            	header: '제품명',
		            	name: 'PRO_NAME'
		            },
		            {
		            	header: '총수량',
		                name: 'ALLSELL_NUM'
		             },
		             {
		             	header: '남품수량',
		                name: 'SELL_NUM'
		             },
		             {
			             header: '취소수량',
			             name: 'CAN_NUM'
			         }
		            
		        ]
			
			});
			
			Grid.applyTheme('striped'); // Call API of static method
      
      

      
      
      
      	
	      function handleOnChange(e){
				//선택된 데이터의 텍스트값 가져오기
				const text = e.value;
				
				//선택한 텍스트 출력
				document.getElementById('result').value = text;
			}
	      
	      
			
		//실행시 조회
		document.addEventListener("DOMContentLoaded",listOrderCan)
	   	
		function listOrderCan(){
			console.log("연결성공")
			$.ajax({
				url:'/listorderCan',
				success : function(result) {
					console.log(result);
					grid.resetData(result);
				},
				error : function(error){
					console.log(error);
				}
			})
			
		}
		
		//tr click
		grid.on('click', (event)=>{
			console.log(event.nativeEvent.target.textContent);
			var a = event.nativeEvent.target.textContent;
			
			$.ajax({
				method:'GET',
				url:'/listOrderCanD?orderCode='+a,
				success : function(result){
					console.log("상세tr")
					console.log(result);
					grid2.resetData(result)
				},
				error: function(error){
					console.log(error);
				}
				
			})
		})
			
			
			
	      
      
      
      </script>
      </div>
</body>
</html>