<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
   <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
   <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
   <title>orderCan</title>
	
   
</head>

<body>
<div layout:fragment="header" class="page-heading"><h2>주문마감</h2></div>
	<div layout:fragment="content" class="page-content">
				
		<div class="mb-1">
			
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">구분</label>
				<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planStart"  name="plan" value="start">진행</label>&nbsp;
				<label><input type="radio" id="planWait"  name="plan" value="wait">마감</label>
			</div>
			
			<div style="height:50px;">
				<label for="planName" style="width:100px">주문코드</label>
				<input type="text" class="form-control" style="width:200px; display:inline" placeholder="견적코드" id="InEstmtCodeSearch">&nbsp;
			</div>
			
			<div style="height:50px; ">
				<label for="planName" style="width:100px">거래처</label>
				<input type="text" class="form-control"style="width:200px; display:inline" placeholder="거래처명" id="InClientCodeSearch">&nbsp;
            </div>
            
            <div>
				<label for="planDate" style="width:100px">주문일자</label>
				<input type="date" class="form-control" style="width:200px; display:inline" id="InEstmtDateSearch">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="estmtDateSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="estmtDateReset">초기화</button>
			
           </div>
           <div>
               <button type="button" class="btn btn-sm btn-primary" style="float:right;  margin:5px; margin-right: 10px" onclick="updateOrderSt()">주문 마감</button>   
			</div>
			
           <div><br></div>
			
          </div>     
	
		<div id="grid"></div>
		
		<div><br></div>
		
		<div id="grid2"></div>
	
		
      <script>
      
      
      var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");
		
		
	      const Grid = tui.Grid;
			
			//주문목록 
			const grid = new Grid({
		        el: document.getElementById('grid'), // Container element
		        scrollX: false,
		        scrollY: true,
	            bodyHeight : 240,
	            rowHeaders : ['checkbox'],
	            columns: [
		            {
		            	header: '주문코드',
		            	name: 'orderCode',
		            	filter : 'text'
		            },
		            {
		            	header: '거래처',
		            	name: 'clientName',
		            	filter : 'text'
		            },
		            {
		            	header: '주문등록일자',
		                name: 'orderDate',
		                filter : 'date'
		                
		             },
		             {
		             	header: '납기일자',
		                name: 'deDate',
		                filter : 'select'
		             },
		             {
		                 header: '총합계액',
		                 name: 'allSum',
		                 formatter : function (ev){
		                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		                    },
		                  align : 'right'
		             },
		             {
		               	header:'상태',
		           	  	name: 'orderSt',
		           	 	filter : 'text',
		           	 	align : 'center'
		              }
		            
		        ]
			});
			
			grid.on('check', () => {
				 grid2.checkAll
				});
			
			
			const grid2 = new Grid({
		        el: document.getElementById('grid2'), // Container element
		        scrollX: false,
	            scrollY: false,
	            rowHeaders: ['checkbox'],
		        columns: [
		        	{
		        		header: '주문코드',
		            	name: 'orderCode'
		        	},
		        	{
		        		header: 'no-h',
		            	name: 'orderDno',
		            	hidden : 1
		        	},
		            {
		            	header: '제품코드',
		            	name: 'proCode'
		            },
		            {
		            	header: '제품명',
		            	name: 'proName'
		            },
		            {
		            	header: '총수량',
		                name: 'sellNum',
		                formatter : function (ev){
		                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		                }
		             },
		             {
		             	header: '남품수량',
		                name: 'soldNum',
		                formatter : function (ev){
		                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		                }
		             },
		             {
			             header: '취소수량',
			             name: 'canNum',
			             formatter : function (ev){
			                   	return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			             }
			         }
		            
		        ]
			
			});
			
     function handleOnChange(e){
		//선택된 데이터의 텍스트값 가져오기
		const text = e.value;
		
		//선택한 텍스트 출력
		document.getElementById('result').value = text;
	}
	      
	      
			
    //실행시 조회
	document.addEventListener("DOMContentLoaded",ordersList)
   	
	function ordersList(){
		console.log("연결성공")
		$.ajax({
			url:'/listOrders',
			success : function(result) {
				grid.resetData(result);
			},
			error : function(error){
				console.log(error);
			}
		})
		
	}
	   	 
			
			
			//tr click
			grid.on('click', (event)=>{
				console.log(event.nativeEvent.target.textContent);
				
				var a = grid.getRow(event.rowKey).orderCode;

				
				$.ajax({
					method:'GET',
					url:'/listOrderd?orderCode='+a,
					success : function(result){
						grid2.resetData(result)
						grid.check();
						grid2.checkAll();
					},
					error: function(error){
						console.log(error);
					}
					
				})
			})
			
		
		
		//마감 상태 업데이트 
		function updateOrderSt(){
			Swal.fire({
			   title: '정말로 그렇게 하시겠습니까?',
			   text: '다시 되돌릴 수 없습니다. 신중하세요.',
			   icon: 'warning',
			   
			   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
			   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
			   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
			   confirmButtonText: '승인', // confirm 버튼 텍스트 지정
			   cancelButtonText: '취소', // cancel 버튼 텍스트 지정
			   
			   reverseButtons: true, // 버튼 순서 거꾸로
			   
			}).then(result => {
			   // 만약 Promise리턴을 받으면,
			   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				   $.ajax({
						method:'POST',
						url:'/updateOrderCanSt',
						contentType : 'application/json',
						dataType:'JSON',
						data: JSON.stringify(grid2.getCheckedRows()),
						beforeSend : function(xhr){
			           		xhr.setRequestHeader(header, token);
			           	 },
						success : function(result) {
							console.log(result)
							
							 $.ajax({
									method:'POST',
									url:'/updateCanNum',
									contentType : 'application/json',
									dataType:'JSON',
									data: JSON.stringify(grid2.getCheckedRows()),
									beforeSend : function(xhr){
						           		xhr.setRequestHeader(header, token);
						           	 },
									success : function(result) {
										Swal.fire("주문마감 되었습니다.")
										ordersList();
									},
									error : function(error){
									}
								})
							//location.reload(result);
						},
						error : function(error){
						}
					})		
				   
				   
			      Swal.fire('승인이 완료되었습니다.', '화끈하시네요~!', 'success');
			   }
			});
				
			
		}
			
			
	// 한 줄 선택시 컬러.
	grid.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid.getColumns().length]
	          }
		            grid.setSelectionRange(record);
    });		
			
	// 조회버튼 / 리셋버튼
 	planAll.addEventListener('click', () => {
    	grid.unfilter('orderSt');
    })
    
    planWait.addEventListener('click', () => {
    	grid.filter('orderSt', [{code:'eq', value:'마감'}]);
    })
    
    planStart.addEventListener('click', () => {
    	grid.filter('orderSt', [{code:'eq', value:'진행'}]);
    })
	
	
	estmtDateSearch.addEventListener('click', () => {
		grid.filter('orderCode' , [{code:'contain', value:$('#InEstmtCodeSearch').val()}])
		grid.filter('clientName' , [{code:'contain', value:$('#InClientCodeSearch').val().toUpperCase()}])
		if($('#InEstmtDateSearch').val() != '' ){
			grid.filter('orderDate' , [{code:'beforeEq', value:$('#InEstmtDateSearch').val()}])
			
		}
	});

		
	estmtDateReset.addEventListener('click', () => {
		document.getElementById('InEstmtCodeSearch').value = '';
		grid.unfilter('orderCode');
		document.getElementById('InClientCodeSearch').value = '';
		grid.unfilter('clientName');
		document.getElementById('InEstmtDateSearch').value = '';
		grid.unfilter('orderDate');
		planAll.checked = true;
	})		
	      
      
      
      </script>
      
      </div>
</body>
</html>