<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">	
<head>
<meta charset="UTF-8">
<title>발주 취소</title>
</head>
<body>
<div layout:fragment="content" class="page-content">
	<div id="content" class="center">
		<h2>발주취소</h2>
		<label for="code_group" style="width:65px">부서</label>
		<input id="empDept" type="text"> <i class="bi bi-search" id="emplist" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor:pointer"></i>
		 사원 <input id="empName" type="text">
		<button id="DelBtn">삭제</button>
		
	</div>
	
	<div id="grid"></div>
	
	<div id="grid2"></div>
	
	<script>
	 $(document).ready(function() {
	      $('#DelBtn').click(DeleteInfo)
	   })
	   
	   function DeleteInfo() {
		 $.ajax({
			 url : '',
			 type : '',
			 success : function(data) {
				 console.log(data);
			 },
			 error : function(error) {
				 console.log(123);
			 }
		 })
	 }
	
	
	   const gridData = [
	       {
	          name:'',
	          artist:'',
	          type:'',
	          position : "bottom",
	          release:'',
	          genre:''
	       }];
	   const grid = new tui.Grid({
		    el: document.getElementById('grid'),
		    data: gridData,
		    scrollX: false,
		    scrollY: false,
		    position : "bottom",
		    rowHeaders : ['checkbox'],
		    columns: [
		      {
		    	
		        header: '발주번호',
		        name: '발주번호'
		      },
		      {
		        header: '발주일자',
		        name: '발주일자'
		      },
		      {
		        header: '코드',
		        name: '거래처'
		      },
		      {
		        header: '거래처명',
		        name: '담당자'
		      }
		    ]
		  });
	   
	
  const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'NO',
        name: 'NO'
      },
      {
        header: '품번',
        name: '품번'
      },
      {
        header: '품명',
        name: '품명'
      },
      {
        header: '규격',
        name: '규격'
      },
      {
        header: '단위',
        name: '단위'
      },
      {
        header: '납기일',
        name: '납기일'
        },
        {
        header: '입고예정일',
        name: '입고예정일'
          },
          {
        header: '발주수량',
        name: '발주수량'
            },
            {
        header: '단가',
        name: '단가'
            },
            {
        header: '공급가',
        name: '공급가'
            }
    ]
  });

	    grid.on('check', ev => {
	      console.log('check!', ev);
	    });

	    grid.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

	    grid.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
	  
   </script>
   </div>
</body>
</html>