<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">   
<head>
<meta charset="UTF-8">
<title>발주 등록</title>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content" class="page-content">
   <div id="content">
      <h2>발주등록</h2>
      <label for="code_group" style="width:65px;" >부서</label>
      <input id="empDept" type="text"> <i class="bi bi-search" id="emplist" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor:pointer"></i>
       사원 <input id="empName" type="text">     
   </div>
   
 
   <div style="margin-left: 3px;">   
         <button id="insertBtn" type="button" style="width: 80px; background-color: black; color:white; float:right; margin:5px;">등록</button>
   </div>
   <div id="grid"></div>   
   
   
   
   
   <button id="addBtn" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="width: 80px; background-color: black; color:white; float:right; margin:5px;">자재검색</button>
   <div id="grid2"></div>
   
   
 	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">사원 목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalGrid"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	
	   <!-- Modal -->
	<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel2">자재 목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalGrid1"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>   
   
   
   <script>
   
   	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
   
   $(document).ready(function() {
      $('#emplist').click(empList)
      $('#insertBtn').click(insertInfo)  //발주
      $('#addBtn').click(inseto)  //자재추가
   })
   
   
   function insertInfo() {
	   console.log(grid.getData()[0])
	   $.ajax({
		   url : '/insertOrderCh',
		   type : 'POST',
		   beforeSend : function(xhr){
         		xhr.setRequestHeader(header, token);
         	},
		   contentType: 'application/json',
		   data : JSON.stringify({'morder' : grid.getData()[0], 'detailOrder': grid2.getData()    }),
		   success : function(data) {
			   console.log(data);
			   location.reload();
		   },
		   error : function(error) {
			   console.log(error);
			   alert('실패')
		   }
	   })
   }
   
   
   function empList() {
      $.ajax({
         url : 'ajax/list',
         type : 'POST',
         beforeSend : function(xhr){
        	xhr.setRequestHeader(header, token);
         },
         data : {"empNum" : $('#empNum').val(),},
         success : function(data) {
            console.log(data);
            modalGrid.resetData(data);
         },
         error : function(rejcet) {
            console.log(123);
         }
      })
   }
   
   function inseto() {
       
       $('#addBtn').on('click', (col) =>{
    	   $('#staticBackdrop2').modal("show");
    	   $.ajax({
    		   url:'/proInfo',
    		   type : 'GET',
    		   success : function(data) {
    			   console.log(data);
    			   modalGrid1.resetData(data);		
    		   },
    		   error :  function(reject) {
    			   console.log(reject)
    		   }
    	   })
       })
   }
   
   var gridData = [
          {
             name:'',
             artist:'',
             type:'',
             position : "bottom",
             release:'',
             genre:''
          }];
  
      const grid = new tui.Grid({
          el: document.getElementById('grid'),
          scrollX: false,
          scrollY: false,
          rowHeaders : ['checkbox'],
          columns: [
            {
              header: '발주번호',
              name: 'orderNo',
            },
            {
              header: '발주일자',
              name: 'orderDate',
              editor: {
                  type: 'datePicker', 
              option : {
            	  format:'yyyy-MM-dd',
              }
             }
              },
              {
              header: '납기일',
              name: 'orderReceiving',
              editor: {
              type: 'datePicker',
              options: {
              format: 'yyyy-MM-dd'
             }
             }
            },
            {
              header: '부서',
              name: 'empDept',
            },
            {
              header: '담당자',
              name: 'empName',
            },
            {
              header: '비고',
              name: 'comments',
              editor: 'text'
            }
          ]
        });
      
   
  var grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    scrollX: false,
    scrollY: false,
    rowHeaders : ['rowNum'],
    columns: [
      {
        header: '품번',
        name: 'proCode',
      },
      {
        header: '품명',	
        name: 'proName',
      },
      {
        header: '규격',
        name: 'standard',
      },
      {
        header: '단위',
        name: 'unit',
      },
    
          {
        header: '발주수량',
        name: 'orderNum',
        editor : 'text',
        onAfterChange : function(ev) {
	        //console.log(ev.value,this)	
	        let row = grid2.getRow(ev.rowKey)
	        let sum = row.sellPrice * ev.value
	        grid2.setValue(ev.rowKey, 'sumPrice', sum)
        }
	  },
	  {
    	header: '거래처코드',
    	name: 'clientCode'
    	 },
      {
        header: '단가',
        name: 'sellPrice',
      },
      {
        header: '공급가',
        name: 'sumPrice'
      }
    ]
  });
       
       var modalGrid = new tui.Grid({
    	      el: document.getElementById('modalGrid'),
    	      bodyHeight: 200,
    	      scrollX: true,
    	      scrollY: true,
    	      columns: [
    	         {
    	            header: '부서',
    	            name: 'empDept',
    	         },
    	         {
    	            header: '사원',
    	            name: 'empName',
    	         }
    	      ]
    	   });
       
       var modalGrid1 = new tui.Grid({
    	      el: document.getElementById('modalGrid1'),
    	      bodyHeight: 200,
    	      scrollX: true,
    	      scrollY: true,
    	      columns: [
    	    	 {
  	      	     	header: '품번',
	      	    	name: 'proCode',
	       		 },
    	         {
    	            header: '품명',
    	            name: 'proName',
    	         },
    	         {
    	        	header: '규격',
     	            name: 'standard',
    	         },
    	         {
    	        	  header: '거래처코드',
    	        	  name: 'clientCode',
    	        	 },
    	         {
     	        	header: '단가',
      	            name: 'sellPrice',
     	         },
     	        {
      	        	header: '단위',
       	            name: 'unit',
      	         }
    	      ]
    	   });

       
       modalGrid.on("click", event => {
    	   //console.log("inner modal grd ", modalGrid.getRow(event.rowKey).empDept)
    	  let managers = [
    		  {
    			  "empName" :  modalGrid.getRow(event.rowKey).empName,
    			  "empDept" :  modalGrid.getRow(event.rowKey).empDept
    		  }
    	  ] 
    	
		grid.appendRows(managers)
		
    	$('#empDept').val(modalGrid.getRow(event.rowKey)['empDept']);
		$('#empName').val(modalGrid.getRow(event.rowKey)['empName']);
		$('#large').modal('hide');
       })
       
       modalGrid1.on('click', event => {
    	   let pronames = [
    		   {
    			   "proCode" : modalGrid1.getRow(event.rowKey).proCode,
    			   "proName" : modalGrid1.getRow(event.rowKey).proName,
    			   "sellPrice" : modalGrid1.getRow(event.rowKey).sellPrice,
    			   "standard" : modalGrid1.getRow(event.rowKey).standard,
    			   "clientCode" : modalGrid1.getRow(event.rowKey).clientCode,
    			   "unit" : modalGrid1.getRow(event.rowKey).unit
    		   }
    	   ]
    	   
    	   grid2.appendRows(pronames)
    	   
    	   $('#proCode').val(modalGrid1.getRow(event.rowKey)['proCode']);
    	   $('#proName').val(modalGrid1.getRow(event.rowKey)['proName']);
    	   $('#standard').val(modalGrid1.getRow(event.rowKey)['standard']);
    	   $('#sellPrice').val(modalGrid1.getRow(event.rowKey)['sellPrice']);
    	   $('#clientCode').val(modalGrid1.getRow(event.rowKey)['clientCode']);
    	   $('#unit').val(modalGrid1.getRow(event.rowKey)['unit']);
    	   
    	   $('#large').modal('hide');
       })
       
       
       staticBackdrop.addEventListener('shown.bs.modal', () => {
       	modalGrid.refreshLayout(); 
       })
       
      staticBackdrop2.addEventListener('shown.bs.modal', () => {
       	modalGrid1.refreshLayout(); 
       })
       
       
     
   </script>
   </div>
</body>
</html>