<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">   
<head>
<meta charset="UTF-8">
<title>발주 등록</title>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content" class="page-content">
	<div  class="mb-10 ">
		<h2>발주등록</h2>
	</div>

   <div class="mb-3 row">
			<div class="col-md-auto mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">담당자</label>
					<input type="text" id="empDept" class="form-control "
						placeholder="담당자코드" aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#staticBackdrop" id="emplist" style="cursor: pointer"><i
						class="bi bi-search" ></i></span>
				</div>
			</div>
			
			<div class="col-lg-auto col-sm-12">
				<input  id="empName" name="clientName" class="form-control"placeholder="담당자명">
			</div>
			
			<!-- <div class="col-md-auto mb-1" style="margin-left: 50px">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">거래처</label>
					<input type="text" id="clientCode" class="form-control"
						placeholder="거래처코드" aria-label="Recipient's username"
						aria-describedby="button-addon2"><span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#searchClient" id="searchClientSpan" style="cursor: pointer"><i
						class="bi bi-search" ></i></span>
				</div> 
			</div>
			
			<div class="col-lg-auto col-sm-12">
				<input  id="clientName" name="clientName" class="form-control"placeholder="거래처명">
			</div> -->
	</div>		
 
   <div style="margin-left: 3px;">   
         <button id="insertBtn" type="button" class="btn btn-sm btn-primary" style="width: 80px; float:right; margin:5px;">등록</button>
   </div>
   <div id="grid"></div>   
         
   <button id="addBtn" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="width: 80px; float:right; margin:5px;">자재검색</button>
   <div id="grid2"></div>
   
   
 	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">사원 목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalGrid"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-primary"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	
	   <!-- Modal -->
	<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel2">자재 목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalGrid1"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>   
	
	<!-- Modal for search client  -->
	<div class="modal fade" id="searchClient" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel2">거래처목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalClient"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>   
   
   
   <script>
   
   	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
   
   $(document).ready(function() {
      $('#emplist').click(empList)
      $('#searchClientSpan').click(clientList)
      $('#insertBtn').click(insertInfo)  //발주
      $('#addBtn').click(inseto)  //자재추가
   })
   
    
   
   // 등록 ajax
   function insertInfo() {
	   console.log(grid.getData()[0])
	   $.ajax({
		   url : '/insertOrderCh',
		   type : 'POST',
		   beforeSend : function(xhr){
         		xhr.setRequestHeader(header, token);
         	},
		   contentType: 'application/json',
		   data : JSON.stringify({'morder' : grid.getData()[0], 'detailOrder': grid2.getData()    }),
		   success : function(data) {
			  swal('등록이 성공하였습니다.')
			  setTimeout(function() {
	              location.reload();
	            }, 3000);
		   },
		   error : function(error) {
			   console.log(error);
			   swal('실패')
		   }
	   })
   }
   
   
   
   //사원정보 ajax
   function empList() {
      $.ajax({
         url : 'ajax/list',
         type : 'POST',
         beforeSend : function(xhr){
        	xhr.setRequestHeader(header, token);
         },
         data : {"empNum" : $('#empNum').val(),},
         success : function(data) {
            console.log(data);
            modalGrid.resetData(data);
         },
         error : function(rejcet) {
            console.log(123);
         }
      })
   }
   
   
   //거래처목록 ajax
   function clientList (){
	   $.ajax({
	         url : '/callClient',
	         type : 'GET',
	         beforeSend : function(xhr){
	        	xhr.setRequestHeader(header, token);
	         },
	          success : function(data) {
	            console.log(data);
	            gridClient.resetData(data);
	         },
	         error : function(rejcet) {
	            console.log(123);
	         }
	      })
	   
   }
   
   
   
   //자재검색 목록
   function inseto() {
    	   $.ajax({
    		   url:'/proInfo',
    		   type : 'GET',
    		   success : function(data) {
    			   console.log(data);
    			   modalGrid1.resetData(data);		
    		   },
    		   error :  function(reject) {
    			   console.log(reject)
    		   }
    	   })
       
   }
   
   var gridData = [
          {
             name:'',
             artist:'',
             type:'',
             position : "bottom",
             release:'',
             genre:''
          }];
  
      const grid = new tui.Grid({
          el: document.getElementById('grid'),
          scrollX: false,
          scrollY: false,
          rowHeaders : ['checkbox'],
          columns: [
            {
              header: '발주번호',
              name: 'orderNo',
            },
            {
              header: '발주일자',
              name: 'orderDate',
              editor: {
                  type: 'datePicker', 
              option : {
            	  format:'yyyy-MM-dd',
              }
             }
              },
              {
              header: '납기일',
              name: 'orderReceiving',
              editor: {
              type: 'datePicker',
              options: {
              format: 'yyyy-MM-dd'
             }
             }
            },
            {
            	header: '거래처',
            	name: 'clientCode'
            	
            },
            {
              header: '담당자',
              name: 'empName',
            },
            {
                header: '담당자사번',
                name: 'empNum',
            },
            {
              header: '비고',
              name: 'comments',
              editor: 'text'
            }
          ]
        });
      
   
  var grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    scrollX: false,
    scrollY: false,
    rowHeaders : ['rowNum'],
    columns: [
      {
        header: '품번',
        name: 'proCode',
      },
      {
        header: '품명',	
        name: 'proName',
      },
      {
        header: '규격',
        name: 'standard',
      },
      {
        header: '단위',
        name: 'unit',
        
      },
    
          {
        header: '발주수량',
        name: 'orderNum',
        editor : 'text',
        onAfterChange : function(ev) {
	        //console.log(ev.value,this)	
	        let row = grid2.getRow(ev.rowKey)
	        let sum = row.sellPrice * ev.value
	        grid2.setValue(ev.rowKey, 'sumPrice', sum)
        }
	  },
	 
      {
        header: '단가',
        name: 'sellPrice',
        formatter : function (ev){
        	console.log(ev)
            return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
          },
          align : 'right'
      },
      {
        header: '공급가',
        name: 'sumPrice',
        formatter : function (ev){
            var a = ev;
            const b= Object.values(a)[2]
            const c = b + '';
            return c.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
             },
          align : 'right'
      }
    ]
  });
       
       var modalGrid = new tui.Grid({
    	      el: document.getElementById('modalGrid'),
    	      bodyHeight: 200,
    	      scrollX: true,
    	      scrollY: true,
    	      columns: [
    	         {
    	            header: '부서',
    	            name: 'empDept',
    	         },
    	         {
    	            header: '사원',
    	            name: 'empName',
    	         }
    	      ]
    	   });
       
       var gridClient = new tui.Grid({
    	      el: document.getElementById('modalClient'),
    	      bodyHeight: 200,
    	      scrollX: true,
    	      scrollY: true,
    	      columns: [
    	         {
    	            header: '거래처코드',
    	            name: 'clientCode',
    	         },
    	         {
    	            header: '거래처명',
    	            name: 'clientName',
    	         }
    	      ]
    	   });
       
       var modalGrid1 = new tui.Grid({
    	      el: document.getElementById('modalGrid1'),
    	      bodyHeight: 200,
    	      scrollX: true,
    	      scrollY: true,
    	      columns: [
    	    	 {
  	      	     	header: '품번',
	      	    	name: 'proCode',
	       		 },
    	         {
    	            header: '품명',
    	            name: 'proName',
    	         },
    	         {
    	        	header: '규격',
     	            name: 'standard',
    	         },
    	         {
    	        	  header: '거래처코드',
    	        	  name: 'clientCode',
    	        	 },
    	         {
     	        	header: '단가',
      	            name: 'sellPrice',
      	          formatter : function (ev){
      	        	console.log(ev)
      	            return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
      	          },
      	          align : 'right'
     	         },
     	        {
      	        	header: '단위',
       	            name: 'unit',
      	         }
    	      ]
    	   });

       
       modalGrid.on("click", event => {
    	   //console.log("inner modal grd ", modalGrid.getRow(event.rowKey).empDept)
    	  let managers = [
    		  {
    			  "empName" :  modalGrid.getRow(event.rowKey).empName,
    			  "empDept" :  modalGrid.getRow(event.rowKey).empDept,
    			  "empNum" :  modalGrid.getRow(event.rowKey).empNum
    		  }
    	  ] 
    	
		grid.appendRows(managers)
		
    	$('#empDept').val(modalGrid.getRow(event.rowKey)['empDept']);
		$('#empName').val(modalGrid.getRow(event.rowKey)['empName']);
		$('#large').modal('hide');
       })
       
       modalGrid1.on('click', event => {
    	   let pronames = [
    		   {
    			   "proCode" : modalGrid1.getRow(event.rowKey).proCode,
    			   "proName" : modalGrid1.getRow(event.rowKey).proName,
    			   "sellPrice" : modalGrid1.getRow(event.rowKey).sellPrice,
    			   "standard" : modalGrid1.getRow(event.rowKey).standard,
    			   "clientCode" : modalGrid1.getRow(event.rowKey).clientCode,
    			   "unit" : modalGrid1.getRow(event.rowKey).unit
    		   }
    	   ]
    	   
    	   grid2.appendRows(pronames)
    	   
    	   $('#proCode').val(modalGrid1.getRow(event.rowKey)['proCode']);
    	   $('#proName').val(modalGrid1.getRow(event.rowKey)['proName']);
    	   $('#standard').val(modalGrid1.getRow(event.rowKey)['standard']);
    	   $('#sellPrice').val(modalGrid1.getRow(event.rowKey)['sellPrice']);
    	   $('#clientCode').val(modalGrid1.getRow(event.rowKey)['clientCode']);
    	   $('#unit').val(modalGrid1.getRow(event.rowKey)['unit']);
    	   
    	   $('#large').modal('hide');
       })
       
        gridClient.on('click', ev=>{
        	console.log(gridClient.getRow(ev.rowKey))
        	grid.setValue(getRowClient,'clientCode',gridClient.getRow(ev.rowKey).clientCode)
       })  
       //거래처등록
       let getRowClient;
      	grid.on('click',ev=>{
      		getRowClient= ev.rowKey
      		if(ev.columnName == 'clientCode'){
      			clientList();
      			$('#searchClient').modal('show');
      			
      		}
      	})
       
       staticBackdrop.addEventListener('shown.bs.modal', () => {
       	modalGrid.refreshLayout(); 
       })
       
      staticBackdrop2.addEventListener('shown.bs.modal', () => {
       	modalGrid1.refreshLayout(); 
       })
      searchClient.addEventListener('shown.bs.modal', () => {
    	  gridClient.refreshLayout(); 
       })
       
   
   </script>
   </div>
</body>
</html>