<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>발주현황</title>
</head>
<body>
	<div layout:fragment="content" class="page-content">
	
		<div id="content">
			<h2>발주현황</h2>
<!-- =============필터 레디오 =========== -->		
		<div class="filters mt-4" style="height:35px" >
			<label for="planStatus" style="width:100px">진행구분</label>
			<label><input type="radio" id="planAll"  name="plan"value="all" checked>전체</label>&nbsp;
			<label><input type="radio" id="ogwt"  name="plan" value="og-wt">진행</label>&nbsp;
			<label><input type="radio" id="ogco"  name="plan" value="og-co">완료</label>
		</div>
		
		<label for="code_group" style="width:80px;">발주번호</label>
		<input type="text" id="orderNo" name="code_group" class="form-control" style="width:150px; display:inline"><br>
		<label for="code_group" style="width:80px;">납기일</label>
		<input type="date"  id="orderReceiving" class="form-control" style="width:150px; display:inline">
<!-- ============버튼=========== -->	
		<div class="mb-3 row flex-right mt-3">
			<div class="col-lg-auto col-sm-12 ">
		        <button class="ml-5 btn btn-sm btn-primary" id= "orderSearch" >조건조회</button>
		        <button class="ml-5 btn btn-sm btn-primary" onclick="getList()">조회</button>
		        <button class="ml-5 btn btn-sm btn-primary" onclick="commitOrder()">발주확정</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="window.location.reload()">초기화</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="cancel()">발주취소</button>
			</div>
		</div>
		
		</div>
	<!-- =============그리드 =========== -->
		<div class="row">
			<div>
				<div id="grid"></div>
			</div>
		</div>
			<div class="row" >
				<div id="grid2" ></div>
			</div>
		<br>
		
		
		<script>
	
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	   const grid = new tui.Grid({
	          el: document.getElementById('grid'),
	          scrollX: false,
	          scrollY: false,
	          rowHeaders : ['checkbox'],
	          columns: [
	            {
	              header: '발주번호',
	              name: 'orderNo',
	              filter : 'select'
	            },
	            {
	              header: '발주일자',
	              name: 'orderDate',
	              },
	              {
	              header: '납기일',
	              name: 'orderReceiving',
	              filter : 'select'
	            },
	            {
	            	header: '거래처',
	            	name: 'clientName'
	            },
	            {
	              header: '담당자',
	              name: 'empName',
	            },
	            {
	                header: '담당자사번',
	                name: 'empNum',
	            },
	            {
	              header: '진행상황',
	              name: 'orderGroup',
		          filter : 'select',
	              
	            }
	           
	          ] ,pageOptions: {
	    	        useClient: true,
	    	        perPage:20
	    	      }
	  });
		    
   //상세조회
	  var grid2 = new tui.Grid({
	    el: document.getElementById('grid2'),
	    rowHeders : ['rowNum'], 
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '품번',
	        name: 'proCode'
	      },
	      {
	        header: '품명',
	        name: 'proName'
	      },
	      {
	        header: '규격',
	        name: 'standard'
	      },
	      {
	        header: '단위',
	        name: 'unit'
	      },
	      {
	        header: '발주수량',
	        name: 'orderNum'
	        }
	        
	    ]
	  });	  
   let gridRowKey;
	   grid.on('click',ev=>{
		   gridRowKey=  ev.rowKey
		   //console.log(ab.nativeEvent.target.innerText)
		   $.ajax({
			   url:'/detailList',
			   data : {'orderNo' : grid.getRow(ev.rowKey).orderNo},
              	beforeSend : function(xhr){
            		xhr.setRequestHeader(header, token);
            	 },
			   success : function(data) {
				   //console.log(data);
				   grid2.resetData(data);				   
				   
			   },
			   error :  function(reject) {
				   console.log(111)
			   }
		   })
		   
	   })
	/* =================기=능===================== */
 //조회
	function getList (){
		   $.ajax({
				url : '/materialListInfo',
              	beforeSend : function(xhr){
            		xhr.setRequestHeader(header, token);
            	 },
				success : function(data) {
					grid.resetData(data)
					console.log(data);
				},
				error : function(reject) {
					console.log(reject);
				}
			})
		   
	   }
	 // 진행구분
		planAll.addEventListener('click', () => {
	    	grid.unfilter('orderGroup');
	    })
	    
	   ogwt.addEventListener('click', () => {
	    	grid.filter('orderGroup', [{code:'eq', value:'og-wt'}]);
	    })
	    
	    ogco.addEventListener('click', () => {
	    	grid.filter('orderGroup', [{code:'eq', value:'og-co'}]);
	    })
	//필터
	orderSearch.addEventListener('click', () => {
		grid.filter('orderNo' , [{code:'contain', value:$('#orderNo').val()}])
		if($('#orderReceiving').val() != '' ){
			grid.filter('orderReceiving' , [{code:'beforeEq', value:$('#orderReceiving').val()}])
		}
	});
	//발주확정 commitOrder
	function commitOrder(){
		let a = grid.getCheckedRows()
		let getOrderNo = []
		
		$(grid.getCheckedRowKeys()).each((a,val)=>{
			getOrderNo.push(grid.getRow(val).orderNo)
		})
		console.log(grid.getRow(gridRowKey))
		
		if(grid.getRow(gridRowKey).orderGroup == 'og-wt'){
			console.log(123123,grid.getCheckedRowKeys())
			if(grid.getCheckedRowKeys().length==1){
				
				 $ .ajax({
							url : '/commitOrder',
							type : 'post',
							contentType : "application/json",
							data : JSON.stringify(getOrderNo),
			              	beforeSend : function(xhr){
			            		xhr.setRequestHeader(header, token);
			            	 },
							success : function(data) {
								let mes = data+'건 확정'
								swal(mes)
								grid.removeRows(grid.getCheckedRowKeys())
							},
							error : function(reject) {
								swal('확정실패')
								console.log(reject);
							}
						}) 
			}else if (grid.getCheckedRowKeys()<1){
				swal('최소 하나의 발주를선택해야합니다.')
			}else {
				swal('하나의 발주만 선택해야합니다.')
			}
		}else{
			swal('발주대상이 아닙니다.')
		}	
	}
   </script>
	</div>
</body>
</html>