<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">	
<head>
<meta charset="UTF-8">
<title>자재조정</title>
</head>
<body>
<div layout:fragment="content" class="page-content">
	<div id="content">
		<h3>자재조정</h3>
		&nbsp;
		<table class="mb-5">
		<tr>
			<td> 창고 <input type="text"> <i class="bi bi-search"></i> <input type="text"></td>
		</tr>
		<tr>
			<td> 장소 <input type="text"> <i class="bi bi-search"></i> <input type="text"> <button id="list">조회</button></td>
		</tr>
		</table>
	</div>
	<br>
	
	<div id="grid"></div>
	<div id="grid2"></div>
	<script>
   const gridData = [
       {
          name:'',
          artist:'',
          type:'',
          release:'',
          genre:''
       }];
   const grid = new tui.Grid({
	    el: document.getElementById('grid'),
	    data: gridData,
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	    	
	        header: '조정번호',
	        name: '부서'
	      },
	      {
	        header: '조정일자',
	        name: '사원'
	      },
	      {
	        header: '창고',
	        name: '거래처'
	      },
	      {
	        header: '장소',
	        name: '발주기간'
	      },
	      {
	        header: '담당자',
	        name: '발주번호'
	      },
	      {
	        header: '거래처',
	        name: '발주번호'
	        }
	    ]
	  });
   
   
  const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'NO',
        name: '부서'
      },
      {
        header: '품번',
        name: '사원'
      },
      {
        header: '품명',
        name: '거래처'
      },
      {
        header: '규격',
        name: '발주기간'
      },
      {
        header: '단위',
        name: '발주번호'
      },
      {
        header: '조정수량',
        name: '발주번호'
        },
        {
        header: '단가',
        name: '발주번호'
          },
          {
        header: 'LOT',
        name: '발주번호'
            }
    ]
  });	  
   </script>
   </div>
</body>
</html>