<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>출고 현황</title>
<style type="text/css">
</style>
</head>
<body>
	<div layout:fragment="content" class="page-content">
		<div id="content" class="center">
			<h2>출고현황</h2>
			&nbsp;
		</div>
		<div style="margin-left: 3px;">
		</div>
		
		<div id="grid"></div>
		<br>
		<div id="grid2"></div>
		
		<script>
	   const gridData = [
	       {
	          name:'',
	          artist:'',
	          type:'',
	          position : "bottom",
	          release:'',
	          genre:''
	       }];
	   
	   var grid = new tui.Grid({
		    el: document.getElementById('grid'),
		    data: gridData,
		    scrollX: false,
		    scrollY: true,
		    bodyHeight : 320,
		    position : "bottom",
		    columns: [
		      {
		    	
		        header: '출고코드',
		        name: 'releaseCode'
		      },
		      {
		        header: '출고일자',
		        name: 'releaseDate'
		      },
		      {
			    header: '지시코드',
			    name: 'mfOrderCode'
			  }
		    ]
		  });
		
	  var grid2 = new tui.Grid({
	    el: document.getElementById('grid2'),
	    scrollX: false,
	    scrollY: false,
	    columns: [
		  {
		    header: 'NO',
		    name: 'rn'
		  },
	      {
	        header: '자재코드',
	        name: 'proCode'
	      },
	      {
	        header: '자재명',
	        name: 'proName'
	      },
	       {
	        header: '출고상태',
	        name: 'releaseStatus'
	       },
	      {
	        header: 'LOT NO',
	        name: 'lotCode'
	       }
	    ]
	  });
	  
	  document.addEventListener("DOMContentLoaded", mrselectList)
	  
	  function mrselectList(ev) {
			$.ajax({
				url : '/selectMrList',
				success : function(data) {
					grid.resetData(data)
					console.log(data);
				},
				error : function(reject) {
					console.log(reject);
				}
			})
		}
	  
	  grid.on('click', (ab) => {
		  console.log(ab.nativeEvent.target.innerText);
		  $.ajax({
			  url : '/dataList',
			  data : {'releaseCode' : ab.nativeEvent.target.innerText},
			  success : function(data) {
				  console.log(data)
				  grid2.resetData(data);
			  },
			  error : function(error) {
				  console.log(error)
			  }
		  })
	  })
	   
    // 한 줄 선택시 컬러.
	grid.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid.getColumns().length]
	          }
		            grid.setSelectionRange(record);
    });
	    
   </script>

	</div>
</body>
</html>