<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>입고처리</title>
</head>
<body>
	<div layout:fragment="content" class="page-content">
	
		<div id="content">
			<h2>입고처리</h2>
<!-- =============필터 레디오 =========== -->		
		
		
		<label for="code_group" style="width:80px;">입고번호</label>
		<input type="text" id="orderNo" name="code_group" class="form-control" style="width:150px; display:inline"><br>
		<label for="code_group" style="width:80px;">입고일</label>
		<input type="date"  id="orderReceiving" class="form-control" style="width:150px; display:inline">
<!-- ============버튼=========== -->	
		<div class="mb-3 row flex-right mt-3">
			<div class="col-lg-auto col-sm-12 ">
		     
		        <button class="ml-5 btn btn-sm btn-primary" onclick="doCommit()">입고처리</button>
		        <button class="ml-5 btn btn-sm btn-primary" onclick="commitOrder()">완료발주검색</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="window.location.reload()">초기화</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="test()">test</button>
				
			</div>
		</div>
		
		</div>
	<!-- =============그리드 =========== -->
		<div class="row">
			<div>
				<div id="grid"></div>
			</div>
		</div>
			<div class="row" >
				<div id="grid2" ></div>
			</div>
		<br>
		
	<!--  입고처리 모달창  -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">  
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h4 class="modal-title" id="staticBackdropLabel">발주완료</h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
		      </div>
		        
		      <div class="modal-body">
				  <div class="container-fluid">
							<label for="row1" style="width:80px; height: 30px; text-align:center;">주문코드</label>
				        		<input type="text" class="form-control form-control-sm" style="width:150px; display:inline" id="orderCode"  readonly>
							
							<label for="row2" style="width:80px; height: 30px; text-align:center;"> 견적코드</label>
				         		<select id="select4" class="btn" style="width:150px; border:1px solid #dce7f1; background-color:white" name="no">
				         			<option value="0">==선택==</option>
				         			<th:block th:each="e : ${orderList}">
				         				<option th:value="${e.orderNo}" th:text="${e.orderNo}"></option>
				         			</th:block>  			
				         		</select>
			         		 	<button class="btn-sm btn-primary" onclick="searchOrder()" type="button" >조 회</button>
		         				
				</div>
			 </div>
			 
			 		<div id="gridM1" ></div>
			 		<div id="gridM2"></div>
		      
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" onclick="plusOrder()">입고완료</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    
	    <!--창고코드 modal  -->
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="WHcodemodal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">창고</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="gridWH" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDo()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block">Close</span>
							</button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--담당자(사원) 검색 modal  -->
		
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="empModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">사원검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="searchEmp" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDoEmp()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block" >Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal" onclick="">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	    <div id="gridre"style="margin-bottom: 50px" ></div>
		<div id="gridreD"></div>	
		<script>
	
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	   const grid = new tui.Grid({
	          el: document.getElementById('gridM1'),
	          scrollX: false,
	          scrollY: false,
	          rowHeaders : ['checkbox'],
	          columns: [
	            {
	              header: '발주번호',
	              name: 'orderNo',
	              filter : 'select'
	            },
	            {
	              header: '발주일자',
	              name: 'orderDate',
	              editor: {
	                  type: 'datePicker', 
	              option : {
	            	  format:'yyyy-MM-dd',
	              }
	             }
	              },
	              {
	              header: '납기일',
	              name: 'orderReceiving',
	              editor: {
	              type: 'datePicker',
	              options: {
	              format: 'yyyy-MM-dd'
	             }
	             },
	         	filter : 'select'
	            },
	            {
	            	header: '거래처',
	            	name: 'clientName'
	            },
	            {
	              header: '담당자',
	              name: 'empName',
	            },
	            {
	                header: '담당자사번',
	                name: 'empNum',
	            }
	           
	          ] ,pageOptions: {
	    	        useClient: true,
	    	        perPage:20
	    	      }
	  });
		    
   //상세조회
	  var grid2 = new tui.Grid({
	    el: document.getElementById('gridM2'),
		rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '품번',
	        name: 'proCode'
	      },
	      {
	        header: '품명',
	        name: 'proName'
	      },
	      {
	        header: '규격',
	        name: 'standard'
	      },
	      {
	        header: '단위',
	        name: 'unit'
	      },
	      {
	        header: '발주수량',
	        name: 'orderNum'
	        },
	        {
		        header: 'aaa',
		        name: 'orderNo'
		        }
	        
	    ]
	  });	  
   //입고현황
    var gridre = new tui.Grid({
	    el: document.getElementById('gridre'),
		rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '입고번호',
	        name: 'receivingCode'
	      },
	      {
	        header: '발주번호',
	        name: 'orderNo'
	      },
	    
	      {
	        header: '거래처',
	        name: 'clientCode'
	      },
	      {
		        header: '거래처명',
		        name: 'clientName'
		      },
	      {
	        header: '담당자',
	        name: 'manager'
	        },
	      {
	        header: '비고',
	        name: 'comments'
	        }
	    ]
	  });	  
   //입고현황 상세
    var gridred = new tui.Grid({
	    el: document.getElementById('gridreD'),
		rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '물품코드',
	        name: 'proCode'
	      },
	      {
	        header: '품명',
	        name: 'proName'
	      },
	      {
	        header: '창고',
	        name: 'whCode'
	      },
	      {
	        header: 'LOT번호',
	        name: 'lotCode'
	      },
	      {
	        header: '발주수량',
	        name: 'orderNum'
	        }
	        
	    ]
	  });	  
  //사원검색 모달/아작스
	const searchEmp = new tui.Grid({
			el : document.getElementById('searchEmp'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum'
			}, {
				header : '사원이름',
				name : 'empName'
			}, {
				header : '부서',
				name : 'empDept'
			}
			]
	});
	empModal.addEventListener('shown.bs.modal', () => {
		//모달창 새로고침
		searchEmp.refreshLayout(); 
		 $.ajax({
	           url : "ajax/list",
	           type: "post",
	           beforeSend : function(xhr){
	       		xhr.setRequestHeader(header, token);
	       	 }, 
	           success : function(data){
	              console.log(data);
	             searchEmp.resetData(data);
	           },
	           error : err=>{
	              console.log(err)
	           }
	    })
	})
  //검색필터 그리드 in modal(WH)
	const gridWH = new tui.Grid({
		el : document.getElementById('gridWH'),
		rowHeaders: ['rowNum'],
		scrollX : false,
		scrollY : false,
		columns : [ {
			header : '창고코드',
			name : 'whCode'
		}, {
			header : '창고명',
			name : 'whName'
		}, {
			header : '창고설명',
			name : 'whExplain'
		}, {
			header : '담당자',
			name : 'whManager'
		}
		]
	});
	 //그리드 열리시 실행될구문
	WHcodemodal.addEventListener('shown.bs.modal', () => {
		//모달창 새로고침
		   gridWH.refreshLayout(); 
	 $.ajax({
           url : "/whList",
           type: "post",
           beforeSend : function(xhr){
       		xhr.setRequestHeader(header, token);
       	 },
           success : function(data){
              console.log(data);
              gridWH.resetData(data);
           },
           error : err=>{
              console.log(err)
           }
        })
	  })
      grid.on('click',(ab)=>{
		   //console.log(ab.nativeEvent.target.innerText)
	
		   $.ajax({
			   url:'/detailList',
			   data : {'orderNo' : grid.getRow(ab.rowKey).orderNo},
              	beforeSend : function(xhr){
            		xhr.setRequestHeader(header, token);
            	 },
			   success : function(data) {
				   //console.log(data);
				   grid2.resetData(data);				   
				   
			   },
			   error :  function(reject) {
				   console.log(111)
			   }
		   })
		   
	   }) 
	   
	  
	/* =================기=능===================== */
 //조회
	function getList (){
		   $.ajax({
				url : '/relList',
              	beforeSend : function(xhr){
            		xhr.setRequestHeader(header, token);
            	 },
				success : function(data) {
					grid.resetData(data)
					console.log(data);
				},
				error : function(reject) {
					console.log(reject);
				}
			})
		   
	   }
	 
	//필터
		//발주확정 commitOrder
	function commitOrder(){
		$('#staticBackdrop').modal('show')
	}
	
	//새로고침
	 	staticBackdrop.addEventListener('shown.bs.modal', () => {
	   	      grid.refreshLayout(); //모달창 새로고침
	   	      grid2.refreshLayout(); //모달창 새로고침
	   	 })
	  //조회버튼 	 
	function searchOrder(){
		let orderN = $('#select4').val();
			   $.ajax({
					url : '/searchOrder/?orderNo='+orderN,
	              	beforeSend : function(xhr){
	            		xhr.setRequestHeader(header, token);
	            	 },
					success : function(data) {
						grid.resetData(data)
					},
					error : function(reject) {
						console.log(reject);
					}
				})
		   }
	//입고처리 그리드로 
	function plusOrder(){
		//grid.getRow(grid.getCheckedRowKeys()[0]).orderNo
		console.log(grid.getCheckedRows())
		if (grid.getCheckedRowKeys().length >1){
			swal('확정은 하나씩 해주세요.')
		}else {
			gridre.resetData(grid.getCheckedRows())
			gridred.resetData(grid2.getData())
		}
		
		$('#staticBackdrop').modal('hide')
	}
	//입고 실질 처리 
	function doCommit(){
		//console.log(gridred.getData())
		if(gridre.getData()==null || gridre.getData()==''  ){
			swal('선택된 발주내역이 없습니다.')
		}else{
			//console.log('마스터',gridre.getRow(0))
			 $.ajax({
		           url : "/insertReceiving",
		           type: "post",
		           data: gridre.getRow(0),
		           beforeSend : function(xhr){
		       		xhr.setRequestHeader(header, token);
		       	 }, 
		           success : function(data){
		        	  console.log('succ')
		        	   $.ajax({
				           url : "/insertReceivingD",
				           type: "post",
				           contentType : "application/json",
				           data : JSON.stringify(gridred.getData()),
				           beforeSend : function(xhr){
				         		xhr.setRequestHeader(header, token);
				         	 },
				           success : function(data){
				          		swal('입고완료!')
				           },
				           error : err=>{
				              console.log(err)
				           }
				    })
		           },
		           error : err=>{
		              console.log(err)
		           }
		    })
		}
	}
	//창고선택
	let gridredRow ;
	gridred.on('click',ev=>{
		console.log(ev)
		gridredRow = ev.rowKey
		if(ev.columnName == 'whCode'){
			$('#WHcodemodal').modal('show');
		}
	})
	gridWH.on('click',ev=>{
		//console.log('클릭된 상세 행',gridredRow)
		//console.log('클린된 창고 정보 ',gridWH.getRow(ev.rowKey))
		gridred.setValue(gridredRow,'whCode',gridWH.getRow(ev.rowKey).whCode)
		
		$('#WHcodemodal').modal('hide')
	})
	
	//사원선택 gridr
	
	gridre.on('click',ev=>{
	
		gridredRow = ev.rowKey
		if(ev.columnName == 'manager'){
			$('#empModal').modal('show');
		}
	})
	
	searchEmp.on('click',ev=>{
	console.log('클릭된 상세 행',searchEmp.getRow(ev.rowKey))
	//console.log('클린된 창고 정보 ',gridWH.getRow(ev.rowKey))
	gridre.setValue(0,'manager',searchEmp.getRow(ev.rowKey).empNum)
	
	
	$('#empModal').modal('hide')
	})
	
	function test(){
		console.log(gridred.getData())
	}
   </script>
	</div>
</body>
</html>