<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">	
<head>
<meta charset="UTF-8">
<title>입고관리</title>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content" class="page-content">
	<div id="content">
		<h3>입고관리</h3>
		&nbsp;
		<table class="mb-5">
		<tr>
			<td> 부서 <input type="text" id="empDept"> <i class="bi bi-search" id="emplist" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor:pointer"> </i> 사원 <input type="text" id="empName"> </td>
		</tr>
		<tr>
			<td> 거래처 <input type="text" id="clientCode"></td>
		</tr>
		</table>
	</div>
	<br>
	
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">사원 목록</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalGrid"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="grid"></div>
	<div id="grid2"></div>
	<script>
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
   const gridData = [
       {
          name:'',
          artist:'',
          type:'',
          release:'',
          genre:''
       }];
   const grid = new tui.Grid({
	    el: document.getElementById('grid'),
	    scrollX: false,
	    scrollY: false,
	    rowHeaders : ['checkbox'],
	    columns: [
	      {
	    	
	        header: '발주번호',
	        name: 'orderNo'
	      },
	      {
	        header: '발주일자',
	        name: 'orderDate'
	      },
	      {
	        header: '납기일',
	        name: 'orderReceiving',
	      },
	      {
	        header: '담당자',
	        name: 'empName'
	      }
	    ]
	  });
   
   
  const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'NO',
        name: '부서'
      },
      {
        header: '품번',
        name: '사원'
      },
      {
        header: '품명',
        name: '거래처'
      },
      {
        header: '규격',
        name: '발주기간'
      },
      {
        header: '단위',
        name: '발주번호'
      },
      {
        header: '수량',
        name: '발주번호'
        },
        {
        header: '검사수량',
        name: '발주번호'
          },
          {
        header: '구분',
        name: '발주번호'
            }
    ]
  });
  
	  var modalGrid = new tui.Grid({
	      el: document.getElementById('modalGrid'),
	      bodyHeight: 200,
	      scrollX: true,
	      scrollY: true,
	      columns: [
	         {
	            header: '부서',
	            name: 'empDept',
	         },
	         {
	            header: '사원',
	            name: 'empName',
	         }
	      ]
	   });
	  
	  modalGrid.on("click", event => {
   	   //console.log("inner modal grd ", modalGrid.getRow(event.rowKey).empDept)
   	  let managers = [
   		  {
   			  "empName" :  modalGrid.getRow(event.rowKey).empName,
   			  "empDept" :  modalGrid.getRow(event.rowKey).empDept,
   			  "orderReceiving" :  modalGrid.getRow(event.rowKey).orderReceiving,
   			  "orderNo" :  modalGrid.getRow(event.rowKey).orderNo,
   			  "orderDate" :  modalGrid.getRow(event.rowKey).orderDate,
   		  }
   	  ] 
   	
		grid.appendRows(managers)
		
   		$('#empDept').val(modalGrid.getRow(event.rowKey)['empDept']);
		$('#empName').val(modalGrid.getRow(event.rowKey)['empName']);
		$('#clientCode').val(modalGrid.getRow(event.rowKey)['clientCode']);
		$('#large').modal('hide');
      })
	  
	  
	  
  
  	emplist.addEventListener("click", () => {
  		  $.ajax({
         url : 'selectOrList',
         type : 'POST',
         beforeSend : function(xhr){
        	xhr.setRequestHeader(header, token);
         },
         data : {"empNum" : $('#empNum').val(),},
         success : function(data) {
            console.log(data);
            modalGrid.resetData(data);
         },
         error : function(rejcet) {
            console.log(123);
         }
      })
  	})
  	
  	staticBackdrop.addEventListener('shown.bs.modal', () => {
	       	modalGrid.refreshLayout(); 
	  })
   </script>
   </div>
</body>
</html>