<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">	
<head>
<meta charset="UTF-8">
<title>입고 검사</title>
</head>
<body>
<div layout:fragment="content" class="page-content">
	<div id="content" class="center">
		<h3>입고검사</h3>
		&nbsp;
		<table class="mb-5">
			<tr>
				<td>품명 <input type="text"> <i class="bi bi-search"></i>
					<input type="text"></td>
			</tr>
			<tr>
				<td>담당자 <input type="text"> <i class="bi bi-search"></i>
					<input type="text"></td>
			</tr>
			<tr>
				<td>검사기간 <input type="date"> ~ <input type="date"> <button id="list">조회</button></td>
			</tr>
		</table>
	</div>

	<div id="grid"></div>

	<div style="margin-left: 3px;">

		<button type="button" class="btn btn-primary"
			style="width: 140px; background-color: black; color: white; float: right; margin: 5px;">취
			소</button>
		<button type="button" class="btn btn-primary"
			style="width: 140px; background-color: black; color: white; float: right; margin: 5px;">저
			장</button>
		<!-- Button trigger modal -->
		<button id="selectCno" type="button" class="btn btn-primary"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop"
			style="width: 140px; background-color: black; color: white; float: right; margin: 5px;">발주내역조회
		</button>


		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">발주내역조회</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div id="modalGrid"></div>
						<div id="modalGrid1"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">확인</button>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div id="grid2"></div>
	<script>

	
	   const gridData = [
	       {
	          name:'',
	          artist:'',
	          type:'',
	          position : "bottom",
	          release:'',
	          genre:''
	       }];
	   const grid = new tui.Grid({
		    el: document.getElementById('grid'),
		    data: gridData,
		    scrollX: false,
		    scrollY: false,
		    position : "bottom",
		    rowHeaders : ['checkbox'],
		    columns: [
		      {
		    	
		        header: '검사번호',
		        name: '발주번호'
		      },
		      {
		        header: '검사일자',
		        name: '발주일자'
		      },
		      {
		        header: '거래처',
		        name: '거래처'
		      },
		      {
		        header: '입고창고',
		        name: '담당자'
		      },
		      {
			    header: '담당자',
			    name: '담당자'
			  },
		      {
			    header: '발주번호',
			    name: '담당자'
			  }
		    ]
		  });
	   
	</script>

	<script>
   
	
  const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    rowHeaders : ['checkbox'],
    columns: [
      {
        header: 'NO',
        name: 'NO'
      },
      {
        header: '품번',
        name: '품번'
      },
      {
        header: '품명',
        name: '품명'
      },
      {
        header: '규격',
        name: '규격'
      },
      {
        header: '단위',
        name: '단위'
      },
      {
        header: '검사수량',
        name: '납기일'
        },
        {
        header: '합격수량',
        name: '입고예정일'
          },
          {
        header: '불량수량',
        name: '발주수량'
            }
    ]
  });
  
  var modalGrid = new tui.Grid({
      el: document.getElementById('modalGrid'),
      bodyHeight: 200,
      data: [{
         planCode: 'pro12309',
         planName: '20221115',
         planDCode: 'hello123',
         productName: 'oS'
      }],
      rowHeaders: ['checkbox'],
      scrollX: true,
      scrollY: true,
      columns: [
         {
            header: '발주번호',
            name: 'planCode',
         },
         {
            header: '발주일자',
            name: 'planName',
         },
         {
            header: '거래처',
            name: 'planDCode'
         },
         {
            header: '제품명',
            name: 'productName'
         }
      ]
   });
  
  var modalGrid1 = new tui.Grid({
      el: document.getElementById('modalGrid1'),
      bodyHeight: 200,
      data: [{
         planCode: 'pro12309',
         planName: '20221115',
         planDCode: 'hello123',
         productName: 'o123',
         productName1: '123',
         productName2: '123'
      }],
      rowHeaders: ['checkbox'],
      scrollX: true,
      scrollY: true,
      columns: [
         {
            header: 'NO',
            name: 'planCode',
         },
         {
            header: '품번',
            name: 'planName',
         },
         {
            header: '품명',
            name: 'planDCode'
         },
         {
            header: '규격',
            name: 'productName'
         },
         {
            header: '단위',
            name: 'productName1'
         },
         {
            header: '검사수량',
            name: 'productName2'
         }
      ]
   });
  
    staticBackdrop.addEventListener('shown.bs.modal', () => {
    	modalGrid.refreshLayout(); //모달창 새로고침
    	modalGrid1.refreshLayout(); 
    })
	    
   </script>
     
</div>
</body>
</html>