<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.common.mapper.BomMapper">
	<!-- bom list -->
	<select id="bomList" parameterType="com.cart.eco.common.service.BomVO" resultType="com.cart.eco.common.service.BomVO">
			SELECT *
			FROM bom
			<where>
				<if test="bomCode != null and !bomCode.equals('')">
           	 	   bom_code = #{bomCode}
        		</if>
				<if test="proCode != null and !proCode.equals('')">
           	 	   pro_code = #{proCode}
        		</if>
        		<if test="bomGroup != null and !bomGroup.equals('')">
           	 	   bom_group = #{bomGroup}
        		</if>
        	
			</where>
	</select>
			
	<insert id="bomInsert" parameterType="com.cart.eco.common.service.BomVO" >
 	<selectKey keyProperty="bomCode"  resultType="String" order="BEFORE">
		<!-- select #{proCode}||'-' ||#{bomGroup}||'-'||(select subStr(to_char(sysdate,'yyyyMMdd'),1,4) from dual)  from dual -->
	select case                        
        when tset01(#{proCode} ||'-' || to_char(sysdate,'yyyy') ) = 'n' then (select  #{proCode} ||'-' ||to_char(sysdate,'yyyy')||'001' from dual)
        else tset01(#{proCode} ||'-' || to_char(sysdate,'yyyy') )||(select lpad((select max(to_number(substr(bom_code,-2))) from bom where bom_code like  '%' ||  #{proCode} || '%'),2,0) from dual )   end "bomCode"
        from dual
	</selectKey> 
		INSERT INTO bom 
		VALUES (
	     #{bomCode}
		,#{proCode}
		,#{bomHire}
		 <if test="bomFire != null and !bomFire.equals('')">
           , #{bomFire}
         </if>
          <if test="bomFire == null and bomFire.equals('')">
            ,'9999/01/01'
         </if>
        	 
          <if test="bomNeedDay != 0 ">
            ,#{bomNeedDay}
         </if>
          <if test="bomNeedDay == 0 ">
           , null
         </if>
          <if test="totalPrice != 0 ">
            ,#{totalPrice}
         </if>
          <if test="totalPrice == 0">
           , null
         </if>
         ,#{bomManager}
         ,#{bomGroup}
		)
	</insert>
	<!-- bom insert option -->
	<insert id="bomInsertOP" parameterType="com.cart.eco.common.service.BomChildernVO">
		insert into bom_children
		values ((select max(ch_no)+1 from bom_children),#{bomCode},#{proCode}
			 ,null	,#{bomNum}
          <if test="loss != 0  ">
           ,#{loss}
         </if>
          <if test="loss == 0 ">
           ,0
         </if>
		,#{needNum})
		
		
	</insert>
<!-- 	bom자제품검 -->
	<select id="bomChildren" parameterType="com.cart.eco.common.service.BomVO" resultType="com.cart.eco.common.service.BomVO">
		SELECT * 
		FROM bom_children 
		WHERE bom_code = #{bomCode}
	</select>
</mapper>