<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.common.mapper.CommonMapper">

    <!--공통코드 - 부서코드, 부서이름 조회  -->
	<select id="selectDept" resultType="com.cart.eco.common.service.CommonVO">
		SELECT code_id, code_name
		FROM common_code
		WHERE code_group ='dept'
	</select>
	
	 <!--공통코드 - 품목군코드, 품목군명 조회  -->
	<select id="selectProItem" resultType="com.cart.eco.common.service.CommonVO">
		SELECT code_id, code_name
		FROM common_code
		WHERE code_group ='items'
	</select>
	
	<!-- 공통 그룹 리스트 -->
	<select id="selectWHCC" resultType="com.cart.eco.common.service.CommonVO" parameterType="com.cart.eco.common.service.CommonVO">
		SELECT code_id, code_name,code_content
		FROM common_code
		WHERE code_group =#{codeGroup}
	</select>
	
	<!--공통코드 - 거래처코드, 거래처명  -->
   <select id="callClient" resultType="com.cart.eco.common.service.ClientVO">
      SELECT client_code, client_name 
      FROM client
   </select>
   
   
   
   <!--공통코드 - 전체조회  -->
   <select id="callCommon" resultType="com.cart.eco.common.service.CommonVO" parameterType="com.cart.eco.common.service.CommonVO">
      select * 
      from common_code 
      <where>
         <if test="codeId != null and !codeId.equals('')">
            code_id = #{codeId}
         </if>
         <if test="codeName != null and !codeName.equals('')">
          and code_name = #{codeName}
         </if>
         <if test="codeGroup != null and !codeGroup.equals('')">
          and  code_group = #{codeGroup}
         </if>
         <if test="codeUsed != null and !codeUsed.equals('')">
          ands  code_used = #{codeUsed} 
         </if>
         
      </where>
   </select>
	
	<insert id="callInsert" parameterType="com.cart.eco.common.service.CommonVO" >
		insert into common_code
		values (#{codeId},#{codeName},#{codeGroup},#{codeContent},#{codeUsed})
	</insert>
	
	<update id="callupdate" parameterType="com.cart.eco.common.service.CommonVO">
		update common_code 
		<set>
         <if test="codeName != null and !codeName.equals('')">
            code_name = #{codeName},
         </if>
         <if test="codeGroup != null and !codeGroup.equals('')">
            code_group = #{codeGroup},
         </if>
         <if test="codeContent != null and !codeContent.equals('')">
            code_content = #{codeContent},
         </if>
         <if test="codeUsed != null and !codeUsed.equals('')">
            code_used = #{codeUsed}
         </if>
		
		</set> 
		where code_id =  #{codeId}
	
	</update>
	<delete id="callDelete" parameterType="com.cart.eco.common.service.CommonVO">
		delete
		from common_code
		where code_id=#{codeId}
	
	</delete>
</mapper>