<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.common.mapper.ProductMapper">

	<!--제품검색 이름:코드만 -->
	<select id="selectName" resultType="com.cart.eco.common.service.ProductVO">
		SELECT *
		FROM   product
	</select>
	
	<!--물품 조회.  -->
	<select id="selectPro" parameterType="com.cart.eco.common.service.ProAllVO" resultType="com.cart.eco.common.service.ProAllVO">
		
		SELECT p.pro_code, c.code_id, c.code_name, cl.client_code, 
       		   cl.client_name, o.pro_manager, e.emp_name, p.pro_name,
                p.lot_used, p.test_used, p.pro_hire,p.pro_num,
               o.lead_time, o.bs, o.ppd, o.cost, o.sell_price, o.standard, o.unit,p.pro_get
               ,p.pro_group
		FROM product p
		   LEFT JOIN common_code c
		    ON p.pro_item = c.code_id
		   LEFT JOIN product_option o
		    ON p.pro_code = o.pro_code
		   LEFT JOIN client cl
		    ON o.client_code = cl.client_code
		   LEFT JOIN employees e
		    ON e.emp_num = o.pro_manager
		   JOIN common_code c2
		    ON p.pro_group = c2.code_id
		
		 <where>
		<if test="proCode != null and !proCode.equals('')">
		 	 pro_item = #{proCode}
		 </if> 
   		<if test="codeId != null and !codeId.equals('')">
   		 	c.code_id = #{codeId}
   		 </if>
   		  <if test="codeName != null and !codeName.equals('')">
   		 	AND c.code_name = #{codeName}
   		 </if>
   		 <if test="proGroup != null and !proGroup.equals('')">
           AND p.pro_group = #{codeContent}
         </if>
         <if test="lotUsed != null and !lotUsed.equals('')">
           AND p.lot_used = #{lotUsed} 
         </if>
         <if test="testUsed != null and !testUsed.equals('')">
           AND p.test_used = #{testUsed} 
         </if>
         <if test="proGet != null and !proGet.equals('')">
           AND p.pro_get = #{proGet} 
         </if>
        
   		</where> 
   		
   		
	</select>
	
	<!--물품 등록.-->
	<insert id="insertPro" parameterType="com.cart.eco.common.service.ProAllVO">
		       
		INSERT INTO product (pro_code, pro_name, pro_group,pro_item, pro_get,lot_used, test_used, pro_hire,pro_num)
		VALUES(#{proCode},#{proName},#{proGroup},#{proItem},#{proGet},#{lotUsed},#{testUsed},#{proHire},0)
	</insert>
		
		 
	
	 <!--물품 옵션 등록.-->
	<insert id="insertProOption" parameterType="com.cart.eco.common.service.ProAllVO">
	
		INSERT INTO product_option (pro_code
		<if test="leadTime != null">
			,lead_time
		</if>
		<if test="bs != null">
			,bs 
		</if>
		<if test="ppd != null">
			,ppd
		</if>
			,client_code, pro_manager 
		<if test="cost != null">
			,cost
		</if>
		<if test="sellPrice != null">
			,sell_price
		</if>
		)
		VALUES(#{proCode}
		<if test="leadTime != null">
			,#{leadTime}
		</if>
		<if test="bs != null">
			,#{bs}
		</if>
		<if test="ppd != null">
			,#{ppd}
		</if>
			,#{clientCode},#{proManager}
		<if test="cost != null">
			,#{cost}
		</if>	
		<if test="sellPrice != null">
			,#{sellPrice}
		</if>
		)
	</insert>
	
	<!--물품 수정.-->
	<update id="updatePro" parameterType="com.cart.eco.common.service.ProAllVO">
		update product
		<set>
   				<if test="proCode != null and !proCode.equals('')">
   					pro_code = #{proCode},
   				</if>
   				<if test="proItem != null and !proItem.equals('')">
   					pro_item = #{proItem},
   				</if>
   				<if test="proName != null and !proName.equals('')">
   					pro_name = #{proName},
   				</if>
   				<if test="proGroup != null and !proGroup.equals('')">
   					pro_group = #{proGroup},
   				</if>
   				<if test="proGet != null and !proGet.equals('')">
   					pro_get = #{proGet},
   				</if>
   				<if test="lotUsed != null and !lotUsed.equals('')">
   					lot_used = #{lotUsed},
   				</if>
   				<if test="testUsed != null and !testUsed.equals('')">
   					test_used = #{testUsed},
   				</if>
   				<if test="proHire != null and !proHire.equals('')">
   					pro_hire = #{proHire}
   				</if>
   			</set>
		WHERE pro_code = #{proCode}
	</update>
	
	<!--물품 옵션 수정.-->
	<update id="updateProInfo" parameterType="com.cart.eco.common.service.ProAllVO">
		update product_option
		<set>
   				<if test="leadTime != null and !leadTime.equals('')">
   					lead_time = #{leadTime},
   				</if>
   				<if test="bs != null and !bs.equals('')">
   					bs = #{bs},
   				</if>
   				<if test="ppd != null and !ppd.equals('')">
   					ppd = #{ppd},
   				</if>
   				<if test="clientCode != null and !clientCode.equals('')">
   					client_code = #{clientCode},
   				</if>
   				
   				<if test="cost != null and !cost.equals('')">
   					cost = #{cost},
   				</if>
   				<if test="sellPrice != null and !sellPrice.equals('')">
   					 sell_price = #{sellPrice},
   				</if>
   				<if test="standard != null and !standard.equals('')">
   					standard = #{standard},
   				</if>
   				<if test="unit != null and !unit.equals('')">
   					unit= #{unit}
   				</if>
   			</set>
   		WHERE pro_code = #{proCode}	
	</update>
	
	<!--물품 삭제.-->
	<delete id="deletePro" parameterType="com.cart.eco.common.service.ProAllVO">
		DELETE
		FROM product
		WHERE pro_code = #{proCode}
	</delete>
	
	<!--물품 옵션 삭제.-->
	<delete id="deleteProInfo" parameterType="com.cart.eco.common.service.ProAllVO">
		DELETE
		FROM product_option
		WHERE pro_code = #{proCode}
	</delete>
</mapper>