<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.common.mapper.WarehouseMapper">
	<select id="WHList" parameterType="com.cart.eco.common.service.WHVO" resultType="com.cart.eco.common.service.WHVO">
	  SELECT * 
      FROM warehouse
      <where>
         <if test="whCode != null and !whCode.equals('')">
            wh_code = #{whCode}
         </if>
         <if test="whName != null and !whName.equals('')">
          and wh_name = #{whName}
         </if>
         <if test="whField != null and !whField.equals('')">
          and  wh_field = #{whField}
         </if>
         <if test="whUsed != null and !whUsed.equals('')">
          and  wh_used = #{whUsed} 
         </if>
         <if test="whManager != null and !whManager.equals('')">
          and  wh_manager = #{whManager} 
         </if>
         
      </where>
		
		
	</select>
	
	<insert id="WHInsert" parameterType="com.cart.eco.common.service.WHVO">
		
		insert into warehouse(
			wh_code,
			wh_name,
			wh_field,
			<if test="whExplain != null and !whExplain.equals('')">
		            wh_explain ,
		    </if>
			wh_used,
			wh_hire,
			wh_manager
			<if test="comments != null and !comments.equals('')">
		           ,comments
		    </if>
		)
		values (#{whCode},
				#{whName},
				#{whField},
				 <if test="whExplain != null and !whExplain.equals('')">
		        #{whExplain} ,
		         </if>
				#{whUsed},
				#{whHire},
				#{whManager}
				 <if test="comments != null and !comments.equals('')">
		            ,comments = #{comments} 
		         </if>
				)
	
		
		
	</insert>

</mapper>