<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.mf.mapper.MfMakingMapper">
	<select id="getMfResultList" resultType="com.cart.eco.mf.service.MfMakingVO">
		SELECT *
		FROM mf_making
		ORDER BY mf_making_code
	</select>
			
	<select id="getMfFaultyList" parameterType="String" resultType="Map">
		SELECT d.mf_making1 "mfMaking1", d.mf_making2 "mfMaking2", d.mf_making3 "mfMaking3", d.mf_making4 "mfMaking4", d.faulty_code "faultyCode", f.faulty_content "faultyContent"
		FROM mf_making_detail d JOIN mf_making m
		ON d.mf_making_code = m.mf_making_code
		LEFT OUTER JOIN faulty_code f
		ON d.faulty_code = f.faulty_code
		WHERE m.mf_making_code = #{mfMakingCode}
		AND d.mf_making4 != '통과'
		ORDER BY d.faulty_code
	</select>
	
	<select id="getMfOrderDecideList" resultType="com.cart.eco.mf.service.MfMakingVO">
		SELECT d.mf_order_code, d.mf_order_no, o.pro_code, o.pro_name, d.mf_order_num, d.mf_order_date
		FROM mf_order_detail d JOIN mf_order o
		ON d.mf_order_code = o.mf_order_code
		WHERE d.mf_order_status = '확정'
		AND trunc(d.mf_order_date) = trunc(SYSDATE)
	</select>
	
	<select id="getMfMakingTotal" parameterType="String" resultType="Map">
		SELECT mf_making_code "mfMakingCode", mf_order_code "mfOrderCode", line_no "lineNo", input_num "inputNum", making_num "makingNum", faulty_num "faultyNum", start_time "startTime", end_time "endTime", process_status "processStatus"
		FROM mf_making
		WHERE mf_making_code = #{mfMakingCode}
	</select>
	
	<select id="getMfMakingDetailList" parameterType="String" resultType="Map">
		SELECT d.mf_making1 "mfMaking1", d.mf_making2 "mfMaking2", d.mf_making3 "mfMaking3", d.mf_making4 "mfMaking4", d.faulty_code "faultyCode", f.faulty_content "faultyContent"
		FROM mf_making_detail d LEFT OUTER JOIN faulty_code f
		ON d.faulty_code = f.faulty_code
		WHERE mf_making_code = #{mfMakingCode}
		ORDER BY mf_making_no
	</select>
	
	<select id="getMfMakingCode" resultType="String">
		SELECT concat('MFM-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(mf_order_code, 12))),0)+1)))
		FROM mf_making
	</select>

	<insert id="insertMakingProduct" parameterType="com.cart.eco.mf.service.MfMakingVO">
		<selectKey keyProperty="mfMakingNo" resultType="Integer" order="BEFORE">
			SELECT nvl(max(mf_making_no),0)+1
			FROM mf_making_detail
		</selectKey>
			INSERT FIRST
			WHEN ROUND(dbms_random.value(1,100)) = 1 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '불량'
				 , '-'
				 , '-'
				 , '-'
				 , 'FA-MF00')
			WHEN ROUND(dbms_random.value(1,100)) = 2 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '불량'
				 , '-'
				 , '-'
				 , 'FA-MF01')
			WHEN ROUND(dbms_random.value(1,100)) = 3 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '불량'
				 , '-'
				 , 'FA-MF02')
			WHEN ROUND(dbms_random.value(1,100)) = 4 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '통과'
				 , '불량'
				 , 'FA-MF03')
			ELSE
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '통과'
				 , '통과')
			SELECT * FROM DUAL
	</insert>
	
	<insert id="insertMakingResult" parameterType="com.cart.eco.mf.service.MfMakingVO">
		INSERT INTO mf_making(mf_making_code
							, mf_order_code
							, line_no
							, input_num)
		VALUES(#{mfMakingCode}
			 , #{mfOrderCode}
			 , #{lineNo}
			 , #{inputNum})
	</insert>
	
	<update id="updateMakingResult" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE mf_making
		SET making_num = (SELECT COUNT(mf_making4)
						  FROM mf_making_detail
						  WHERE mf_making4 = '통과'
						  AND mf_making_code = #{mfMakingCode})
		  , faulty_num = (SELECT COUNT(mf_making4)
						  FROM mf_making_detail
						  WHERE mf_making4 != '통과'
						  AND mf_making_code = #{mfMakingCode})
		  <if test="startTime != null and !startTime.equals('')">, start_time = #{startTime}</if>
		  <if test="endTime != null and !endTime.equals('')">, end_time = #{endTime}</if>
		  <if test="processStatus != null and !processStatus.equals('')">, process_status = #{processStatus}</if>
		 WHERE mf_making_code = #{mfMakingCode}
	</update>
</mapper>