<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.mf.mapper.MfMakingMapper">
	<select id="getMfResultList" resultType="com.cart.eco.mf.service.MfMakingVO">
		SELECT DISTINCT m.mf_making_code, m.mf_order_code, m.line_no, m.input_num, m.making_num, m.faulty_num, m.start_time, m.end_time, d.mf_order_date
		FROM mf_making m JOIN mf_order_detail d
		ON m.mf_order_code = d.mf_order_code
		ORDER BY d.mf_order_date DESC, m.start_time
	</select>
			
	<select id="getMfFaultyList" parameterType="String" resultType="Map">
		SELECT d.mf_making1 "mfMaking1", d.mf_making2 "mfMaking2", d.mf_making3 "mfMaking3", d.mf_making4 "mfMaking4", d.faulty_code "faultyCode", f.faulty_content "faultyContent"
		FROM mf_making_detail d JOIN mf_making m
		ON d.mf_making_code = m.mf_making_code
		LEFT OUTER JOIN faulty_code f
		ON d.faulty_code = f.faulty_code
		WHERE m.mf_making_code = #{mfMakingCode}
		AND d.mf_making4 != '통과'
		ORDER BY d.faulty_code
	</select>
	
	<select id="getMfOrderDecideList" resultType="com.cart.eco.mf.service.MfMakingVO">
		SELECT d.line_no, d.mf_order_code, d.mf_order_no, o.pro_code, o.pro_name, d.mf_order_num, d.mf_order_date
		FROM mf_order_detail d JOIN mf_order o
		ON d.mf_order_code = o.mf_order_code
		WHERE d.mf_order_status = '확정'
		AND trunc(d.mf_order_date) = trunc(SYSDATE)
	</select>
	
	<select id="getMfMakingTotal" parameterType="String" resultType="Map">
		SELECT mf_making_code "mfMakingCode", mf_order_code "mfOrderCode", line_no "lineNo", input_num "inputNum", making_num "makingNum", faulty_num "faultyNum", start_time "startTime", end_time "endTime", process_status "processStatus"
		FROM mf_making
		WHERE mf_making_code = #{mfMakingCode}
	</select>
	
	<select id="getMfMakingDetailList" parameterType="String" resultType="Map">
		SELECT d.mf_making_code "mfMakingCode", d.mf_making1 "mfMaking1", d.mf_making2 "mfMaking2", d.mf_making3 "mfMaking3", d.mf_making4 "mfMaking4", d.faulty_code "faultyCode", f.faulty_content "faultyContent"
		FROM mf_making_detail d LEFT OUTER JOIN faulty_code f
		ON d.faulty_code = f.faulty_code
		WHERE mf_making_code = #{mfMakingCode}
		ORDER BY mf_making_no
	</select>
	
	<select id="getMfMakingCode" resultType="String">
		SELECT concat('MFM-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(mf_making_code, 12))),0)+1)))
		FROM mf_making
	</select>

	<insert id="insertMakingProduct" parameterType="com.cart.eco.mf.service.MfMakingVO">
		<selectKey keyProperty="mfMakingNo" resultType="Integer" order="BEFORE">
			SELECT nvl(max(mf_making_no),0)+1
			FROM mf_making_detail
		</selectKey>
			INSERT FIRST
			WHEN ROUND(dbms_random.value(1,100)) = 1 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '불량'
				 , '-'
				 , '-'
				 , '-'
				 , 'FA-MF00')
			WHEN ROUND(dbms_random.value(1,100)) = 2 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '불량'
				 , '-'
				 , '-'
				 , 'FA-MF01')
			WHEN ROUND(dbms_random.value(1,100)) = 3 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '불량'
				 , '-'
				 , 'FA-MF02')
			WHEN ROUND(dbms_random.value(1,100)) = 4 THEN
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4
								, faulty_code)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '통과'
				 , '불량'
				 , 'FA-MF03')
			ELSE
			INTO mf_making_detail(mf_making_no
								, mf_making_code
								, mf_making1
								, mf_making2
								, mf_making3
								, mf_making4)
			VALUES(#{mfMakingNo}
				 , #{mfMakingCode}
				 , '통과'
				 , '통과'
				 , '통과'
				 , '통과')
			SELECT * FROM DUAL
	</insert>
	
	<insert id="insertMakingResult" parameterType="com.cart.eco.mf.service.MfMakingVO">
		INSERT INTO mf_making(mf_making_code
							, mf_order_code
							, line_no
							, input_num
							<if test="startTime != null and !startTime.equals('')">, start_time</if>
							, process_status)
		VALUES(#{mfMakingCode}
			 , #{mfOrderCode}
			 , #{lineNo}
			 , #{inputNum}
			 <if test="startTime != null and !startTime.equals('')">, #{startTime}</if>
			 , #{processStatus})
	</insert>
	
	<insert id="insertFinishLot" parameterType="com.cart.eco.mf.service.MfMakingVO">
		<selectKey keyProperty="lotCode" resultType="String" order="BEFORE">
			SELECT concat('MFL-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(lot_code, 12))),0)+1)))
			FROM lot
		</selectKey>
		INSERT INTO lot(lot_code
					  , pro_code
					  , pro_name
					  , lot_date
					  , lot_num
					  , mf_making_code)
		VALUES(#{lotCode}
			 , #{proCode}
			 , #{proName}
			 , SYSDATE
			 , #{lotNum}
			 , #{mfMakingCode})
	</insert>
	
	<update id="updateMakingResult" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE mf_making
		SET making_num = (SELECT COUNT(mf_making4)
						  FROM mf_making_detail
						  WHERE mf_making4 = '통과'
						  AND mf_making_code = #{mfMakingCode})
		  , faulty_num = (SELECT COUNT(mf_making4)
						  FROM mf_making_detail
						  WHERE mf_making4 != '통과'
						  AND mf_making_code = #{mfMakingCode})
		  <if test="endTime != null and !endTime.equals('')">, end_time = #{endTime}</if>
		  <if test="processStatus != null and !processStatus.equals('')">, process_status = #{processStatus}</if>
		 WHERE mf_making_code = #{mfMakingCode}
	</update>
	
	<update id="updateOrderFinish" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE order_d
		SET order_mf = '생산완료'
		WHERE order_code = (SELECT p.order_code
						    FROM mf_plan p JOIN mf_order o
							ON p.mf_plan_code = o.mf_plan_code
							WHERE o.mf_order_code = #{mfOrderCode})
		AND pro_code = #{proCode}
	</update>
	
	<update id="updateMfPlanFinish" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE mf_plan
		SET mf_plan_status = '완료'
		WHERE mf_plan_code = (SELECT mf_plan_code
							  FROM mf_order
							  WHERE mf_order_code = #{mfOrderCode})
	</update>
	
	<update id="updateMfOrderFinish" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE mf_order_detail
		SET mf_order_status = '완료'
		WHERE mf_order_no = #{mfOrderNo}
	</update>
	
	<update id="updateProductNum" parameterType="com.cart.eco.mf.service.MfMakingVO">
		UPDATE product p
		SET pro_num = pro_num + (SELECT lot_num
								 FROM lot l
								 WHERE l.pro_code = p.pro_code
								 AND lot_code = #{lotCode})
		WHERE p.pro_code = #{proCode}
	</update>
	
</mapper>