<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.mf.mapper.MfOrderMapper">
	<select id="getMfOrderList" resultType="com.cart.eco.mf.service.MfOrderVO">
		SELECT o.mf_order_code, o.pro_code, o.pro_name, d.mf_order_num, d.mf_order_date, d.mf_order_status
		FROM mf_order o JOIN mf_order_detail d
		ON o.mf_order_code = d.mf_order_code
	</select>

	<select id="getMfReadyOrderList" resultType="com.cart.eco.mf.service.MfOrderVO">
		SELECT o.mf_order_code, d.mf_order_no, o.pro_code, o.pro_name, d.mf_order_num, d.mf_order_date
		FROM mf_order o JOIN mf_order_detail d
		ON o.mf_order_code = d.mf_order_code
		WHERE d.mf_order_status = '대기'
	</select>
	
	<select id="getMfReadyPlanList" resultType="com.cart.eco.mf.service.MfOrderVO">
		SELECT p.mf_plan_code, p.mf_plan_name, d.pro_code, d.pro_name, d.need_num
		FROM mf_plan p JOIN mf_plan_detail d
		ON p.mf_plan_code = d.mf_plan_code
		WHERE p.mf_plan_status = '대기'
	</select>
	
	<select id="getMfOrderMaterialList" parameterType="String" resultType="Map">
		SELECT c.pro_code "proCode", c.pro_name "proName", p.need_num*c.bom_num as "bomNeedNum"
		FROM mf_plan_detail p JOIN bom b
        ON p.pro_code = b.pro_code
        JOIN bom_children c
        ON b.bom_code = c.bom_code
        WHERE p.mf_plan_code = #{mfPlanCode}
        ORDER BY c.ch_no
	</select>
	
	<select id="getMfLotList" parameterType="String" resultType="Map">
		SELECT pro_code "proCode", pro_name "proName", lot_code "lotCode", rest_num "restNum"
		FROM receiving_detail
		WHERE pro_code = #{proCode}
		AND rest_num > 0
	</select>
	
	<select id="getMfOrderCode" resultType="String">
		SELECT concat('MFO-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(mf_order_code, 12))),0)+1)))
		FROM mf_order
	</select>
	
	<select id="getReleaseCode" resultType="String">
		SELECT concat('REL-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(release_code, 12))),0)+1)))
		FROM m_release
	</select>
	
	<insert id="insertMfOrder" parameterType="com.cart.eco.mf.service.MfOrderVO">
		INSERT INTO mf_order(mf_order_code
						   , mf_plan_code
						   , pro_code
						   , pro_name)
		VALUES(#{mfOrderCode}
			 , #{mfPlanCode}
			 , #{proCode}
			 , #{proName})
	</insert>
	
	<insert id="insertMfOrderDetail" parameterType="com.cart.eco.mf.service.MfOrderVO">
		<selectKey keyProperty="mfOrderNo" resultType="Integer" order="BEFORE">
			SELECT nvl(max(mf_order_no),0)+1
			FROM mf_order_detail
		</selectKey>
			INSERT INTO mf_order_detail(mf_order_no
									  , mf_order_code
									  , mf_order_date
									  , mf_order_num
									  , line_no)
			VALUES(#{mfOrderNo}
				 , #{mfOrderCode}
				 , #{mfOrderDate}
				 , #{mfOrderNum}
				 , #{lineNo}) 
	</insert>
	
	<insert id="insertMfOrderLot" parameterType="com.cart.eco.mf.service.MfOrderVO">
		INSERT INTO m_release(release_code
							, mf_order_code)
		VALUES(#{releaseCode}
			 , #{mfOrderCode})
	</insert>
	
	<insert id="insertMfOrderLotDetail" parameterType="com.cart.eco.mf.service.MfOrderVO">
		<selectKey keyProperty="releaseNo" resultType="Integer" order="BEFORE">
			SELECT nvl(max(release_no),0)+1
			FROM m_release_detail
		</selectKey>
			INSERT INTO m_release_detail(release_no
									   , release_code
									   , pro_code
									   , pro_name
									   , request_num
									   , lot_code)
			VALUES(#{releaseNo}
				 , #{releaseCode}
				 , #{proCode}
				 , #{proName}
				 , #{requestNum}
				 , #{lotCode}) 
	</insert>
	
	<update id="updateReceivingDetail" parameterType="com.cart.eco.mf.service.MfOrderVO">
		MERGE INTO receiving_detail rd
		USING m_release_detail mrd
		ON (rd.lot_code = mrd.lot_code)
		WHEN MATCHED THEN
		UPDATE SET rd.rest_num = rd.rest_num - mrd.request_num
        WHERE rd.lot_code = #{lotCode}
        AND rd.pro_code = #{proCode}
        AND mrd.release_code = #{releaseCode}
	</update>
	
	<update id="updateMfOrderLotDetail" parameterType="com.cart.eco.mf.service.MfOrderVO">
		UPDATE m_release_detail
		SET release_status = '승인'
		WHERE release_code = #{releaseCode}
		AND pro_code = #{proCode}
	</update>
	
	<update id="updateMfPlanStatus" parameterType="com.cart.eco.mf.service.MfOrderVO">
		UPDATE mf_plan
		SET mf_plan_status = '진행'
		where mf_plan_code = #{mfPlanCode}
	</update>
	
	<update id="decideMfOrder" parameterType="com.cart.eco.mf.service.MfOrderVO">
		UPDATE mf_order_detail
		SET mf_order_status = '확정'
		WHERE mf_order_no = #{mfOrderNo}
	</update>
</mapper>