<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.mf.mapper.MfPlanMapper">
	<select id="getMfPlanList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT p.mf_plan_code, p.mf_plan_name, d.pro_code, d.pro_name, p.mf_plan_date, o.de_date, d.need_num, d.total_order_num, p.mf_plan_status
		FROM mf_plan p JOIN mf_plan_detail d
		ON p.mf_plan_code = d.mf_plan_code
		LEFT JOIN orders o
		ON p.order_code = o.order_code
	</select>
	
	<select id="getOrderList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT o.order_code, d.pro_code, d.pro_name, d.allsell_num, o.de_date
		FROM orders o LEFT JOIN order_d d
		ON o.order_code = d.order_code
		WHERE o.de_date >= TO_DATE(SYSDATE, 'yy/MM/dd')
		AND o.order_st = '대기'
	</select>
	
	<select id="getProductList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT pro_code, pro_name
		FROM product
	</select>
	
	<select id="getMfDeletePlanList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT p.mf_plan_code, p.mf_plan_name, d.pro_code, d.pro_name, p.mf_plan_date, o.de_date, d.need_num, d.total_order_num
		FROM mf_plan p JOIN mf_plan_detail d
		ON p.mf_plan_code = d.mf_plan_code
		LEFT JOIN orders o
		ON p.order_code = o.order_code
		WHERE p.mf_plan_status != '완료'
	</select>
	
	<insert id="insertMfPlan" parameterType="com.cart.eco.mf.service.MfPlanVO">
		<selectKey keyProperty="mfPlanCode" resultType="String" order="BEFORE">
		SELECT concat('PLAN-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(mf_plan_code, 13)),0))+1)))
		FROM mf_plan
		</selectKey>
		INSERT ALL
		INTO mf_plan(mf_plan_code
					, mf_plan_name
					<if test="orderCode != null and !orderCode.equals('')">, order_code</if>)
		VALUES(#{mfPlanCode}
				, #{mfPlanName}
				<if test="orderCode != null and !orderCode.equals('')">, #{orderCode}</if>)
		INTO mf_plan_detail(mf_plan_code
							, pro_code
							, pro_name
							, need_num)
		VALUES(#{mfPlanCode}
				, #{proCode}
				, #{proName}
				, #{needNum})
		SELECT * FROM DUAL
	</insert>
	
	<delete id="deleteMfPlan" parameterType="com.cart.eco.mf.service.MfPlanVO">
		DELETE FROM mf_plan
		WHERE mf_plan_code = #{mfPlanCode}
	</delete>
	
	<delete id="deleteMfPlan2" parameterType="com.cart.eco.mf.service.MfPlanVO">
		DELETE FROM mf_plan_detail
		WHERE mf_plan_code = #{mfPlanCode}
	</delete>
</mapper>