<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.mf.mapper.MfPlanMapper">
	<select id="getMfPlanList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT p.mf_plan_code, p.mf_plan_name, d.pro_code, d.pro_name, p.mf_plan_date, o.de_date, d.need_num, d.total_order_num, p.mf_plan_status
		FROM mf_plan p JOIN mf_plan_detail d
		ON p.mf_plan_code = d.mf_plan_code
		LEFT JOIN orders o
		ON p.order_code = o.order_code
	</select>
	
	<select id="getOrderList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT o.order_code, d.pro_code, p.pro_name, d.sell_num, o.de_date
		FROM orders o LEFT OUTER JOIN order_d d
		ON o.order_code = d.order_code
		JOIN product p
		ON d.pro_code = p.pro_code
		WHERE o.de_date >= trunc(SYSDATE)
		AND d.order_mf = '미생산'
		AND o.order_st = '진행'
		ORDER BY o.de_date
	</select>
	
	<select id="getProductList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT pro_code, pro_name
		FROM product
		WHERE pro_group = 'CP'
	</select>
	
	<select id="getMfDeletePlanList" resultType="com.cart.eco.mf.service.MfPlanVO">
		SELECT p.mf_plan_code, p.mf_plan_name, d.pro_code, d.pro_name, p.mf_plan_date, o.de_date, d.need_num, d.total_order_num, o.order_code
		FROM mf_plan p JOIN mf_plan_detail d
		ON p.mf_plan_code = d.mf_plan_code
		LEFT JOIN orders o
		ON p.order_code = o.order_code
		WHERE p.mf_plan_status = '대기'
		ORDER BY p.mf_plan_date
	</select>
	
	<insert id="insertMfPlan" parameterType="com.cart.eco.mf.service.MfPlanVO">
		<selectKey keyProperty="mfPlanCode" resultType="String" order="BEFORE">
			SELECT concat('MFP-',concat(to_char(SYSDATE,'YYmmdd'),concat('-', nvl(max(to_number(substr(mf_plan_code, 12))),0)+1)))
			FROM mf_plan
		</selectKey>
		INSERT ALL
		INTO mf_plan(mf_plan_code
				   , mf_plan_date
				   <if test="mfPlanName != null and !mfPlanName.equals('')">, mf_plan_name</if>
				   <if test="orderCode != null and !orderCode.equals('')">, order_code</if>)
		VALUES(#{mfPlanCode}
			 , current_date
				<if test="mfPlanName != null and !mfPlanName.equals('')">, #{mfPlanName}</if>
				<if test="orderCode != null and !orderCode.equals('')">, #{orderCode}</if>)
		INTO mf_plan_detail(mf_plan_code
						  , pro_code
						  , pro_name
						  , need_num)
		VALUES(#{mfPlanCode}
			 , #{proCode}
			 , #{proName}
			 , #{needNum})
		SELECT * FROM DUAL
	</insert>
	
	<update id="updateOrderList" parameterType="com.cart.eco.mf.service.MfPlanVO">
		UPDATE order_d
		SET order_mf = '생산중'
		WHERE order_code = #{orderCode}
		AND pro_code = #{proCode}
	</update>
	
	<update id="updateOrderListReturn" parameterType="com.cart.eco.mf.service.MfPlanVO">
		UPDATE order_d
		SET order_mf = '미생산'
		WHERE pro_code = #{proCode}
		AND order_code = #{orderCode}
	</update>
	
	<delete id="deleteMfPlan" parameterType="com.cart.eco.mf.service.MfPlanVO">
		DELETE FROM mf_plan
		WHERE mf_plan_code = #{mfPlanCode}
	</delete>
	
	<delete id="deleteMfPlan2" parameterType="com.cart.eco.mf.service.MfPlanVO">
		DELETE FROM mf_plan_detail
		WHERE mf_plan_code = #{mfPlanCode}
	</delete>
</mapper>