<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>Insert title here</title>
	<style type="text/css">
		#ddt{
       
			background-image: url("../../assets/images/bg/maineco.png");
		background-size : 1370px 300px;
        background-repeat : no-repeat;
        opacity: 0.5
		}
		
	#div1 {
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    -webkit-transform: scale(1);
}
.move_to_left {
    -webkit-animation-name: animation_move;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both
}

@-webkit-keyframes animation_move {
    0% {
        -webkit-transform: translateX(0px) translateY(0px) scale(1);
    }

    100% {
        -webkit-transform: translateX(1300px) translateY(0px) scale(1);
    }
}
	</style>

</head>
<body>
<div layout:fragment="content" class="page-content">
	<div id="ddt" class="card" style="width: 1370px; height:120px; ">
					<div id="div1"> 
						<img class="move_to_left" src="../../assets/images/bg/top.png" height="100" width="80" style="margin-top: 20px"/></div>
					</div>
			
			<div class="row" style="margin-top: 65px">
				<div class=" col-lg-6 card " style="margin-left:30px; height:490px">
				<div class="mt-1">주문현황</div>
					<div class="row">
						
						<button class="col-lg-2 btn btn-primary" onclick="location.href='/mfPlanManage';" style="width: 70px; height: 35px; margin-left: 10px; margin-top: 13px">생산</button>
						
						<div class="flex-right mt-4 col-lg-10">
							<div class="filters" style="height:35px">
								<label for="planStatus" style="width:100px">진행구분</label>
								<label><input type="radio" id="planAll"  name="plan"value="all" >전체</label>&nbsp;
								<label><input type="radio" id="planStart"  name="plan" value="start" checked="checked">진행</label>&nbsp;
								<label><input type="radio" id="planWait"  name="plan" value="wait">마감</label>
								<label><input type="radio" id="planEnd"  name="plan" value="wait">완료</label>
							</div>
						</div>	
					</div>				
					<div id="orderList"></div>
					
				</div>
				<div class=" col-lg-5 card " style="margin-left:50px; height:490px">
					<div id="mfResultGridId"></div>
				</div>
			</div>
			<script type="text/javascript">
			$.ajax({
				url:'/forChart',
				success : function(result) {
					let dataNew =[	{name : '전기바이크001',
									 data : '1'},
									{name : '전기바이크002'},
									{name : '전기바이크003'},
									{name : '전기바이크004'}]
						let	sum1=[0,0,0,0];		
						let	sum2=[0,0,0,0];		
						let	sum3=[0,0,0,0];		
						let	sum4=[0,0,0,0];		
					$(result).each((a,val)=>{
						switch (val.sumPrice) {
						  case 1:
						  case 2:
						  case 3:
							  sum1[0] += val.desllNum
							   
						  case 4:
						  case 5:
						  case 6:
							  sum1[0] += val.desllNum
							   
						  case 7:
						  case 8:
						  case 9:
							  sum3 += val.desllNum
							  
						  case 10:
						  case 11:
						  case 12:
							  sum4 += val.desllNum
						 
						}
					})

				},
				error : function(error){
					console.log(error);
				}
			})
			
			const data = {
					  categories: ['1분기', '2분기',  '3분기',  '4분기'],
					  series: [
					    {
					      name: '전기바이크01',
					      data: [5000, 3000, 5000, 7000,]
					    },
					    {
					      name: '전기바이크02',
					      data: [8000, 4000, 7000, 2000, 6000, 3000, 5000]
					    },
					    {
					      name: '전기바이크03',
					      data: [4000, 4000, 6000, 3000, 4000, 5000, 7000]
					    },
					    {
					      name: '전기바이크04',
					      data: [3000, 4000, 3000, 1000, 2000, 4000, 3000]
					    }
					  ]
					}
		      const options = {
			        chart: { title: '연출고량', width: 570, height: 500 },
			        xAxis: { pointOnColumn: false, title: { text: '분기' } },
			        yAxis: { title: '판매량' },
			      };

			const chart = toastui.Chart.columnChart({el:document.getElementById('mfResultGridId'), data, options});
			
			const grid = new tui.Grid({
		        el: document.getElementById('orderList'), // Container element
		        scrollX: false,
		        scrollY: true,
	            bodyHeight : 350,
		        columns: [
		            {
		            	header: '주문코드',
		            	name: 'orderCode',
		            	filter : 'text'
		            },
		            {
		            	header: '거래처',
		            	name: 'clientName',
		            	filter : 'text'
		            },
		            {
		            	header: '주문등록일자',
		                name: 'orderDate',
		                filter : 'date'
		                
		             },
		             {
		             	header: '납기일자',
		                name: 'deDate',
		                filter : 'select'
		             },
		             {
		                 header: '총합계액',
		                 name: 'allSum',
		                 formatter : function (ev){
		                 return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		                    },
		                  align : 'right'
		                 
		             },
		             {
	               	  	header:'상태',
	               	  	name: 'orderSt',
	               	 	filter : 'text',
	               	 	align : 'center'
	                 }
		        ]
			});
			
			//
				$.ajax({
				url:'/listOrders',
				success : function(result) {
					grid.resetData(result);
					grid.filter('orderSt', [{code:'eq', value:'진행'}]);
				},
				error : function(error){
					console.log(error);
				}
			})
			// 조회버튼 / 리셋버튼
		 	planAll.addEventListener('click', () => {
		    	grid.unfilter('orderSt');
		    })
		    planEnd.addEventListener('click', () => {
		    	grid.filter('orderSt', [{code:'eq', value:'완료'}]);
		    })
		    planWait.addEventListener('click', () => {
		    	grid.filter('orderSt', [{code:'eq', value:'마감'}]);
		    })
		    planStart.addEventListener('click', () => {
		    	grid.filter('orderSt', [{code:'eq', value:'진행'}]);
		    })
			//
			
			var mfResultGrid = new tui.Grid({
			el: document.getElementById(''),
			scrollX: false,
			scrollY: false,
			bodyHeight: 200,
			rowHeaders: ['rowNum'],
			columns: [
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '라인번호',
		          name: 'lineNo'
		        },
		        {
		          header: '총투입량',
		          name: 'inputNum'
		        },
		        {
		          header: '총생산량',
		          name: 'makingNum'
		        },
		        {
		          header: '총불량량',
		          name: 'faultyNum'
		        },
		        
		        {
		          header: '생산일자',
		          name: 'mfOrderDate',
		          filter: 'date'
		        }
			]
		});
		$.ajax({
    		url:'/mfResultListAll',
    		success:function(data){
    			mfResultGrid.resetData(data);
    		},
    		error:function(error){
    			console.log(error);
    		}
    	})
			</script>
</div>
</body>
</html>