<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.open.mapper.EstimateMapper">

	<!-- 견적서 전체 조회 -->
	<select id="selectEstimateList" resultType="com.cart.eco.open.service.EstimateVO">
		select e.estmt_code, c.client_name "client_code", e.estmt_date, e.de_date, TO_CHAR(e.all_sum,'999,999') || '원' "fall_sum",e.estmt_st
		from estimate e, client c
		where e.client_code = c.client_code
		
	</select>

	
	<!--  견적서 상세 조회 -->
	<select id="EstimateDList" resultType="Map" parameterType="String">
		select d.estmt_dno, d.pro_code, p.pro_name, d.sell_num, TO_CHAR(o.sell_price,'999,999') || '원' "fsell_price", TO_CHAR( (d.sell_num * o.sell_price),'999,999,999') || '원'  fsum_price
		from estimate e, estimate_D d, product p, product_option o
		where e.estmt_code = d.estmt_code 
		and d.pro_code = p.pro_code
		and p.pro_code = o.pro_code
		and e.estmt_code = #{estmtCode}
		order by estmt_dno
	
	</select>

   <!-- 셀렉트 옵션 -->
   <select id="selectProCode" resultType="com.cart.eco.common.service.ProductVO">
   		select p.pro_code, p.pro_name, o.sell_price
		from product p, product_option o
		where p.pro_code =o.pro_code
		
   </select>
   
   <!-- 셀렉트 옵션 -->
   <select id="selectClientName" resultType="com.cart.eco.common.service.ClientVO">
   		select client_name, client_code from client
   </select>
	

	<!-- 견적서 등록 -->
	<insert id="insertEstmt" parameterType="com.cart.eco.open.service.EstimateVO" >
		<selectKey keyProperty="estmtCode" resultType="String" order="BEFORE">
			select  concat('est' , 
  					concat (to_char(sysdate,'YYmmdd'), 
        			concat ('-', nvl(max(substr(estmt_code, 11)),0)+1 )
        			)) 
        	from estimate
		</selectKey>
		
		<!-- 코드, 거래처, 견적일ㄹ자(sysdate), 납기일자 승인  -->
		insert into estimate  (estmt_code, client_code, estmt_date, de_date, estmt_st)
			values( #{estmtCode}, #{clientCode} , sysdate, sysdate, '대기')
			
	</insert>	

	<!-- 견적서 상세 등록 -->
	<insert id="insertEstmtD" parameterType="com.cart.eco.open.service.EstimateVO" >
		<selectKey keyProperty="estmtDno" order="BEFORE" resultType="integer">
			select nvl(max(estmt_dno),0)+1 from estimate_d
		</selectKey>
		
		insert into estimate_d (estmt_dno, estmt_code, pro_code, sell_num, sum_price)
			values ( #{estmtDno}, #{estmt_code},  #{proCode}, #{sellNum}, #{sumPrice} )
		
	</insert>

</mapper>