<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eco.open.mapper.EstimateMapper">

	<!-- 견적서 전체 조회 -->
	<select id="selectEstimateList" resultType="com.cart.eco.open.service.EstimateVO">
		select e.estmt_code, 
		       c.client_name "client_code", 
		       e.estmt_date, 
		       e.de_date, 
		       e.all_sum,
		       e.estmt_st
		 from estimate e, client c
		where e.client_code = c.client_code
		order by estmt_code desc
		
	</select>

	
	<!--  견적서 상세 조회 -->
	<select id="EstimateDList" resultType="Map" parameterType="String">
		select d.estmt_dno "estmtDno", 
		       d.pro_code "proCode", 
		       p.pro_name "proName", 
		       d.sell_num "sellNum", 
		       o.sell_price "sellPrice",
		       d.sum_price "sumPrice"
		
		from estimate e, 
		     estimate_D d, 
		     product p, 
		     product_option o
		     
		where e.estmt_code = d.estmt_code 
		  and d.pro_code = p.pro_code
		  and p.pro_code = o.pro_code
		  and e.estmt_code = #{estmtCode}
		  
		order by estmt_dno
	
	</select>

   <!-- 셀렉트 옵션 -->
   <select id="selectProCode" resultType="com.cart.eco.common.service.ProductVO">
   		select p.pro_code, p.pro_name, o.sell_price
		from product p, product_option o
		where p.pro_code =o.pro_code
		and p.pro_group like 'CP%'
		
   </select>
   
   <!-- 셀렉트 옵션 -->
   <select id="selectClientName" resultType="com.cart.eco.common.service.ClientVO" >
   		select client_name, client_code 
   		from client 
   		where client_code like 'EEC%'
   		order by client_code
   </select>
	
	<!-- 견적서 번호 가져오기 -->
	<select id="getEstmtCode" resultType="com.cart.eco.open.service.EstimateVO" parameterType="String">
		select  concat('est' , 
  					concat (to_char(sysdate,'YYmmdd'), 
        			concat ('-', nvl(max(to_number(substr(estmt_code, 11))),0)+1 )
        			)) "estmtCode"
        	from estimate
	</select>

	<!-- 견적서 등록 -->
	<insert id="insertEstmt" parameterType="com.cart.eco.open.service.EstimateVO" >
		insert into estimate  (estmt_code, client_code, estmt_date, de_date, estmt_st, all_sum)
			values( #{estmtCode}, #{clientCode} , sysdate, current_date, '대기',#{allSum} )
			
	</insert>	

	<!-- 견적서 상세 등록 -->
	<insert id="insertEstmtD" parameterType="com.cart.eco.open.service.EstimateDVO" >
		<selectKey keyProperty="estmtDno" order="BEFORE" resultType="int" >
			select nvl(max(to_number(estmt_dno)),0)+1 from estimate_d
		</selectKey>
		
		insert into estimate_d (estmt_dno, estmt_code, pro_code, sell_num, sum_price)
			values ( #{estmtDno}, #{estmtCode},  #{proCode}, #{sellNum}, #{sumPrice}  )
		
	</insert>
	
	
	<select id="facList" resultType="com.cart.eco.open.service.facilitiesVO">
		select 
			f.sys_code, f.sys_name, f.sys_date, f.sys_ks, f.sys_model, f.sys_money, f.sys_status, f.test_cycle, e.emp_name
		from facilities f, employees e
		where f.emp_num = e.emp_num
		order by sys_code
		
	</select>
	
	
	
	<insert id="facInsert" parameterType="com.cart.eco.open.service.facilitiesVO">
		<selectKey keyProperty="sysCode" order="BEFORE" resultType="String">
		select  concat('sys' , 
  					concat (to_char(sysdate,'YYmmdd'), 
        			concat ('-', nvl(max(to_number(substr(sys_code, 11))),0)+1 )
        			)) "sysCode"
        	from facilities 
		
		</selectKey>
	
		insert into facilities 
			( sys_code, sys_name, sys_date, sys_ks, sys_model, sys_money, sys_status, test_cycle, emp_num )
		values (#{sysCode}, #{sysName}, current_date, #{sysKs}, #{sysModel}, #{sysMoney}, '미사용' , #{testCycle}, #{empNum} )
		
	</insert>
	
	<delete id="facDelete" parameterType="com.cart.eco.open.service.facilitiesVO">
		delete from facilities 
		where sys_code = #{sysCode}
	</delete>

</mapper>