<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>BOM</title>

</head>
<body>
	<div layout:fragment="content">

		<h2>BOM</h2>


 <div >
	<div class="mb-3 row">
			<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">모제품</label>
					<input type="text" id="proCode" class="form-control"
						placeholder="완제품코드" aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#WHcodemodal" id="wh-code-input" style="cursor: pointer"><i
						class="bi bi-search" ></i></span>
				</div>
			</div>
			
			<div class="col-lg-auto col-sm-12">
			<input  id="proName" name="empName" class="form-control"placeholder="모제품명">
			</div>
			
			<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">BOM구분</label>
						<select id="bomGroup" class="form-control"
							aria-label="Recipient's username"
							aria-describedby="button-addon2" >
							<option value="==선택==" selected="selected">==선택==</option>	
							<option value="HCP">반제품</option>		
							<option  value="CP">완제품</option>		
						</select>
				</div>
			</div>
			
	</div>		
	<div class="mb-3 row">
			<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">자제품</label>
					<input type="text" id="chprocode" class="form-control"
						placeholder="자제품코드" aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#proModal" id="basic-addon1" style="cursor: pointer" onclick=""><i
						class="bi bi-search"></i></span>
				</div>
			</div>
			<div class="col-lg-auto col-sm-12">
				<input  id="chproname" name="clientName" class="form-control" placeholder="자제품명" >
			</div>
			<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">담당자</label>
					<input type="text" id="empcode" class="form-control"
						placeholder="manager" aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#empModal" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
				</div>
			</div>
			<div class="col-lg-auto col-sm-12">
				<input  id="empname" name="clientName" class="form-control">
			</div>
			
	<div class="mb-3 row flex-right mt-3">
			<div class="col-lg-auto col-sm-12 ">
		        <button class="ml-5 btn btn-sm btn-primary" onclick="getList()">조회</button>
				<button class="ml-5 btn btn-sm btn-primary">상품조회</button>
		        <button class="ml-5 btn btn-sm btn-primary" onclick="insertBOM()">등록</button>
				<button class="ml-5 btn btn-sm btn-primary" onclick="addRow()"><svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg></button>
				<button class="ml-5 btn btn-sm btn-primary" onclick="updateWH()">수정</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="reset()">초기화</button>
			</div>
	</div>
	</div>	

 </div>
	
 <div id="gird1" class="mb-5 row"></div>
<!-- 	//grid2의 인풋창 -->
			<!-- <div class="row  flex-right ">
			     <div class="col-md-3 mb-1">
					<div class="input-group mb-3">
						<label for="staticEmail" class="col-sm-3 col-form-label">총수량</label>
						<input type="text" id="sumProCode" class="form-control"
							placeholder="prodcut code" aria-label="Recipient's username"
							aria-describedby="button-addon2"> 
					</div>
				</div>
				<div class="col-lg-auto col-sm-12">
					<input  id="sumProName" name="sumProName" class="form-control"placeholder="product name">
				</div>
				<div class="col-lg-auto col-sm-12">
					<input  id="proTotal" name="proTotal" class="form-control"placeholder="total">
				</div>
			</div>	 -->
				<button class="ml-5 btn btn-sm btn-primary" onclick="addChildRow()"><svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg></button>
			
	<div id="grid2"></div>

<!--모제품 modal  -->
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="WHcodemodal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">BOM모제품 검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="gridWH" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDo()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block">Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!--자제품 검색 modal  -->
		
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="proModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">제품검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="searchPro" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDoPro()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block">Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal" onclick="">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!--담당자(사원) 검색 modal  -->
		
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="empModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">사원검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="searchEmp" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDoEmp()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block" >Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal" onclick="">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
			
	<!--inner 담당자(사원) 검색 modal  -->
		
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="empModalInner" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">사원검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="searchEmpInner" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" onclick="cancelDoEmp()">
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block" >Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal" onclick="">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
	
	/* token */
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
	/* data source */
	const dataSource = {
   		 withCredentials: false,
   		initialRequest: false,
   		 contentType: 'application/json',
   		  api: {
	   		    readData  : { url: '/', method: 'GET' },
	   		    createData: { url: '/bomInsert', method: 'POST' },
	   		    updateData: { url: '/WHUpdate', method: 'POST' },
	   		    deleteData : { url: '/', method: 'POST' },
	   		    updateModifiy: { url: '/', method: 'POST' },
   		  }
   		};
	const gird1 = new tui.Grid({
			el : document.getElementById('gird1'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : 'BOM코드',
				name : 'bomCode',
				
			}, {
				header : '모제품코드',
				name : 'proCode',
				
			}, {
				header : '시작일',
				name : 'bomHire',
				editor : 'datePicker'
			}, {
				header : '종료일',
				name : 'bomFire',
				editor : 'datePicker'
			}, {
				header : '제작소요일',
				name : 'bomNeedDay',
				editor : 'text'
				
			},  {
				header : '총단가',
				name : 'totalPrice'
				
			},
			{
				header : '담당자',
				name : 'bomManager'
				
			},{
				header : '구분',
				name : 'bomGroup',
			}

			],
			data : dataSource
		});

		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '자제품코드',
				name : 'proCode'
			}, {
				header : '제품이름',
				name : 'proName'
			}, {
				header : '수량',
				name : 'bomNum',
				editor : 'text' ,
				onAfterChange : function(ev) {
			        let row = grid2.getRow(ev.rowKey)
			        console.log(Number(row.loss))
			        let loss = Number(row.loss)
			        let sum = row.bomNum*((100+loss)*0.01)
			      //반올림하기
			        grid2.setValue(ev.rowKey, 'needNum',Math.round(sum))
		        }
				
			}, {
				header : '로스율(%)',
				name : 'loss',
				editor : 'text',
					onAfterChange : function(ev) {
					 let row = grid2.getRow(ev.rowKey)
					 console.log(Number(row.loss))
					 let loss = Number(row.loss)
			         let sum = row.bomNum*((100+loss)*0.01)
				  //반올림하기
			         grid2.setValue(ev.rowKey, 'needNum',Math.round(sum))
		        }
			}, {
				header : '필요수량',
				name : 'needNum'
				
				
		    	}
			]
		});
		
		/* grid2.on('afterChange',ev=>{
			console.log(ev)
			let need ;
			grid2.setColumnValues(ev.rowKey,'needNum')
		}) */
		//검색필터 그리드 in modal(WH)
		const gridWH = new tui.Grid({
			el : document.getElementById('gridWH'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '제품코드',
				name : 'proCode'
			}, {
				header : '제품이름',
				name : 'proName'
			}
			]
		});
		 //사원검색 모달/아작스
		const searchEmp = new tui.Grid({
				el : document.getElementById('searchEmp'),
				rowHeaders: ['rowNum'],
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '사원번호',
					name : 'empNum'
				}, {
					header : '사원이름',
					name : 'empName'
				}, {
					header : '부서',
					name : 'empDept'
				}
				]
		});
			 	//사원검색 수정 그리드
	const modiEmpGrid = new tui.Grid({
				el : document.getElementById('searchEmpInner'),
				rowHeaders: ['rowNum'],
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '사원번호',
					name : 'empNum'
				}, {
					header : '사원이름',
					name : 'empName'
				}, {
					header : '부서',
					name : 'empDept'
				}
				]
			});
			 
	//grid1 클릭이벤트
	 gird1.on('click',ev=>{
		 let key = ev.rowKey
		 console.log(gird1.getRow(key))
		 if(ev.columnName =='bomCode' || ev.columnName =='proCode' ){
			 $.ajax({
					url : '/bomChildren' ,
					type : 'post',
				    data : { 'bomCode':gird1.getRow(key).bomCode } ,
				    beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
				 }).then((data)=>{
					 console.log("data",data)
					 grid2.resetData(data)
				 })
			 
		 }
	 })
		
	//수정그리드 담당자 온클리으로 넣기
	
	//수정그리드 	
	//grid2 온클릭
	 grid2.on('click',ev=>{
		/*  let proCode =grid2.getRow(ev.rowKey).proCode;
		 let proName =grid2.getRow(ev.rowKey).proName;
		 let newOrderNum=0
		 console.log(proName)
	$(grid2.getData()).each((index,one)=>{
		if(one.proCode ==proCode){
			newOrderNum += one.orderNum
		}
			})
		//총합인풋창
	$('#sumProCode').val(proCode)
	$('#sumProName').val(proName)
	$('#proTotal').val(newOrderNum)
	
		 */
	 })
		
	//wh그리드 ㅇ클릭이벤트
	gridWH.on('click',ev=>{
			 	let event = gridWH.getRow(ev.rowKey);
			   $('#proCode').val(event.proCode)
			   $('#proName').val(event.proName)
		   })
		   function cancelDo(){
			   $('#proCode').val("")
			   $('#proName').val("")
	}
		//WHgrid에 뿌려줄 정보 (모제품검색)
		 //그리드 열리시 실행될구문
	WHcodemodal.addEventListener('shown.bs.modal', () => {
				//모달창 새로고침
				   gridWH.refreshLayout(); 
			 $.ajax({
	               url : "/selectName",
	               type: "get",
	               beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
	               success : function(data){
	                  console.log(data);
	                  gridWH.resetData(data);
	               },
	               error : err=>{
	                  console.log(err)
	               }
	            })
	 })
	///
	const searchPro = new tui.Grid({
			el : document.getElementById('searchPro'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '자제품코드',
				name : 'proCode'
			}, {
				header : '자제품명',
				name : 'proName'
			}, 
			]
		});
		 //WHgrid에 뿌려줄 정보 (제품조회)
			 //그리드 열리시 실행될구문
	proModal.addEventListener('shown.bs.modal', () => {
					//모달창 새로고침
					   searchPro.refreshLayout(); 
				 $.ajax({
		               url : "selectName",
		               type: "get",
		            beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 },
		               success : function(data){
		                  console.log(data);
		                  searchPro.resetData(data);
		               },
		               error : err=>{
		                  console.log(err)
		               }
		            })
				  })
	//자제품 input에 넣기 	  
	searchPro.on('click',ev=>{
			 	let event = searchPro.getRow(ev.rowKey);
			 	console.log(event)
			   $('#chprocode').val(event.proCode)
			   $('#chproname').val(event.proName)
		   })
		   //자제품 input에 비우기 	  
		function cancelDoPro(){
			   $('#chprocode').val("")
			   $('#chproname').val("")
	       }
	//ajax grid 토큰처리
    gird1.on('beforeRequest', function(ev) {
         	ev.xhr.setRequestHeader(header, token);
    })
	///버튼들///
	//등록
	function insertBOM(){
      
     
		console.log('==등록버튼==')
		let checkNum =false;
		$(grid2.getData()).each((a,b)=>{
			if(b.bomNum == null || b.bomNum == ''){
				checkNum =true;
			}
		})
	
		if(gird1.getRow(0).bomHire ==null || gird1.getRow(0).bomHire == ''){
	 	   alert('시작일을 선택해주세요')
		}else if(gird1.getRow(0).bomFire ==null || gird1.getRow(0).bomFire == ''){
			 alert('종료일을 선택해주세요')
		}else if(grid2.getRow(0) ==null || grid2.getRow(0)==''){
			 alert('적어도 하나의 자제품을 선택해주세요.')
		}else if(checkNum){
			alert('자재품의 수량을 입력해주세요.')
		}else{
		 	if(gird1.getCheckedRows().length==1){
		 		console.log(gird1.getCheckedRows()[0])
			/*  gird1.on('afterRequest', function(ev) {  }) */
		 		 $.ajax({
		               url : "/bomInsert",
		               type: "post",
		               beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           		},
		           		data :  gird1.getCheckedRows()[0],
		               success : function(data){
		                  console.log(data);
		            
		                let dataOP = grid2.getData()
		                   dataOP.push(data)
				                //상세인서트
				                 $.ajax({
				               url : "/bomInsertOP",
				               type: "post",
				            	contentType : "application/json",
				               data  : JSON.stringify(dataOP),
				               beforeSend : function(xhr){
				           		xhr.setRequestHeader(header, token);
				           	 }, 
				               success : function(data){
				                swap('suc')
				               },
				               error : err=>{
				                  console.log(err)
				      	         }
				     	   })
		               },
		               error : err=>{
		            	  swap('fail')
		                  console.log(err)
		               }
		        })
		 	}else{
		 		alert('등록할 BOM을 선택해주세요')
		 	} 
		}
	}
	//리셋
	function reset(){
		window.location.reload();
	}
    //수정
	function updateWH(){
	    gird1.request('updateData');
	}
		 //searchEmp에 뿌려줄 정보 (창고조회)
			 //그리드 열리시 실행될구문
	empModal.addEventListener('shown.bs.modal', () => {
					//모달창 새로고침
			searchEmp.refreshLayout(); 
				 $.ajax({
		               url : "ajax/list",
		               type: "post",
		               beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	 }, 
		               success : function(data){
		                  console.log(data);
		                 searchEmp.resetData(data);
		               },
		               error : err=>{
		                  console.log(err)
		               }
		        })
	 })
	searchEmp.on('click',ev=>{
			 	let event = searchEmp.getRow(ev.rowKey);
			 	console.log(event)
			   $('#empcode').val(event.empNum)
			   $('#empname').val(event.empName)
		   })
	function cancelDoEmp(){
					 $('#empcode').val('')
					 $('#empname').val('')
	       }
			 //제품 추가  {"whCode": $('#whcode').val(), "whName": $('#whname').val(),
	function addRow(){
	
		     let leadtime;
			 //제작소요일 가져오기
		      $(gridWH.getData()).each((a,val)=>{   
		    	  	if( $('#proCode').val() == val.proCode){
		    	  		console.log(val)
		    	  	
		    	  		leadtime = val.bomNeedDay
		    	  	}
		    	 })
		      console.log(leadtime)
				let data = [
					 {"bomGroup" : $('#bomGroup').val(),"bomManager": $('#empcode').val(),"proCode" : $('#proCode').val(),"bomNeedDay" :leadtime,"totalPrice" : 0}
					]
		     if ($('#empcode').val() ==null || $('#empcode').val() ==''){
				alert('담당자를 선택해주세요')
			}else if ($('#bomGroup').val() =='==선택==' || $('#bomGroup').val() ==''){
				alert('bom구분을 선택해주세요 ')
			}else if ($('#proCode').val() ==null || $('#proCode').val() ==''){
				alert('모제품을 선택해주세요  ')
			}else {
				gird1.refreshLayout(); 
				gird1.clear()
				gird1.appendRows(data);
			}
		 }
		 //자제품 추가
	function addChildRow (){
		let data = [
			 {"proCode" : $('#chprocode').val(), "proName": $('#chproname').val()}
			]
		
		//같은 자제품 체크구문
		let check =true;
		$(grid2.getData()).each((a,val)=>{
			if(val.proCode == $('#chprocode').val() ){
				check = false;
			}
		  })
	 //모제품체크 
	if(gird1.getCheckedRows().length != 0  ||  $('#chprocode').val() != null){
				
		
			//실질체크
			if(check){
					if( $('#chprocode').val() != null && $('#chprocode').val() != '' ){
						console.log("자제품추가grid", $('#chprocode').val())
						grid2.appendRows(data)
					 }else {
						 alert("추가할 자제품을 선택해주세요")
					  }
			 }else{
				  alert("같은 자제품이 존재합니다.") }
			 
	   }else {  alert("등록할 모제품을 선택해주세요") }
		}		
		 //BOM조회 - 모제품필수 /옵션 구분/담당자
	 function getList(){
	grid2.clear()			 
/* 			console.log($('#whcode').val())
 */			 $.ajax({
				url : '/bomList' ,
				type : 'post',
			    data : { 'proCode': $('#proCode').val()} ,
			    beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
			 }).then((data)=>{
				 console.log("data",data)
				 gird1.resetData(data)
			 })
		
		   
		 }
	
	</script>
</div>
</body>
</html>
