<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>BOM</title>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
	<div layout:fragment="content">

	<h2>BOM역전개</h2>
	<div class="mb-3 row">
		<div class="col-md-3 mb-1">
				<div class="input-group mb-3">
					<label for="staticEmail" class="col-sm-3 col-form-label">자제품</label>
					<input type="text" id="chprocode" class="form-control"
						placeholder="자제품코드" aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#proModal" id="basic-addon1" style="cursor: pointer" onclick=""><i
						class="bi bi-search"></i></span>
				</div>
			</div>
		<div class="col-lg-auto col-sm-6">
			<input  id="clientCode" name="clientCode" class="form-control">
		</div>
	</div>
	
	<!--자제품 검색 modal  -->
		
		<div class="me-1 mb-1 d-inline-block">

			<!--large size Modal -->
			<div class="modal fade text-left" id="proModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel17">제품검색</h4>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<i data-feather="x"></i>
							</button>
						</div>
						<div class="modal-body">
							<!--그리드  -->
							<div id="searchPro" class="mb-3 row"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light-secondary"
								data-bs-dismiss="modal" >
								<i class="bx bx-x d-block d-sm-none"></i> <span
									class="d-none d-sm-block">Close</span>
							</button>
							<button type="button" class="btn btn-primary ml-1"
								data-bs-dismiss="modal" onclick="">
								<i class="bx bx-check d-block d-sm-none"></i> <span
									class="d-none d-sm-block">확인</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>	

	
	<div id="grid" class="mb-3 row"></div>

	<script>
		
	/* token */
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	
	const grid = new tui.Grid({
		el : document.getElementById('grid'),
		rowHeaders: ['rowNum'],
		scrollX : false,
		scrollY : false,
		columns : [ {
			header : '단계',
			name : 'proCode'
		}, {
			header : '순번',
			name : 'proCode'
		}, {
			header : '제품코드',
			name : 'proCode'
		}, {
			header : '제품명',
			name : 'proName'
		}, {
			header : '수량',
			name : 'proNum'
		}, {
			header : '로스율',
			name : 'loss'
		}, {
			header : '필요수량',
			name : 'needNum'
		}, {
			header : '시작일',
			name : 'bomHire'
		}, {
			header : '종료일',
			name : 'bomFire'
		}, {
			header : '비고',
			name : 'comments'
		}

		]
	});
	proModal
	const searchPro = new tui.Grid({
		el : document.getElementById('searchPro'),
		rowHeaders: ['rowNum'],
		scrollX : false,
		scrollY : false,
		columns : [ {
			header : '자제품코드',
			name : 'proCode'
		}, {
			header : '자제품명',
			name : 'proName'
		}, 
		]
	});
	
	 //WHgrid에 뿌려줄 정보 (제품조회)
	 //그리드 열리시 실행될구문
	proModal.addEventListener('shown.bs.modal', () => {
			//모달창 새로고침
			   searchPro.refreshLayout(); 
		 $.ajax({
               url : "/getChildPro",
               type: "get",
            beforeSend : function(xhr){
           		xhr.setRequestHeader(header, token);
           	 },
               success : function(data){
                  console.log(data);
                  searchPro.resetData(data);
               },
               error : err=>{
                  console.log(err)
               }
            })
		  })
	</script>

	
</div>
</body>
</html>