<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>거래처 등록</title>


</head>
<body>
<div layout:fragment="content">
	<div  class="mb-10 ">
		<h2>거래처</h2>
	</div>
		
	<div>
		<div class="mb-3 row">
				<div class="col-md-3 mb-1">
					<div class="input-group mb-3">
						<label for="staticEmail" class="col-sm-3 col-form-label">거래처</label>
						<input type="text" id="clientCode" class="form-control"
							placeholder="거래처코드" aria-label="Recipient's username"
							aria-describedby="button-addon2"> <span
							class="input-group-text" data-bs-toggle="modal"
							data-bs-target="#searchClient" id="wh-code-input" style="cursor: pointer"><i
							class="bi bi-search" ></i></span>
					</div>
				</div>
				
				<div class="col-lg-auto col-sm-12">
				<input  id="clientName" name="clientName" class="form-control"placeholder="거래처명">
		</div>
	</div>		
	<div class="mb-3 row">
			
			
			
			<label class="col-lg-auto col-sm-12 col-form-label">업종</label>
				<div class="col-lg-auto col-sm-6">
					<select class="form-select form-select-sm"
						aria-label=".form-select-sm example" id="workType" name="proGet">
						<option selected>==선택==</option>
						<th:block th:each="item:${WTlist}">
						    <option th:value="${item.codeId}" th:text="${item.codeName}"  >
						</th:block>
					</select>
				</div>
				
				<label class="col-lg-auto col-sm-12 col-form-label">회사등급</label>
				<div class="col-lg-auto col-sm-6">
					<select class="form-select form-select-sm"
						aria-label=".form-select-sm example" id="clientGrade" name="clientGrade">
						<option selected>==선택==</option>
						<th:block th:each="item:${CGlist}">
						    <option th:value="${item.codeId}" th:text="${item.codeName}"  >
						</th:block>
					</select>
				</div>
				
	
				<div class="col-lg-auto col-sm-6">
				  <div style="margin-left: 20px">
						날짜 
						<input type="date" class="form-control " style="width:200px; display:inline" id="startDay">&nbsp;
						~
						<input type="date" class="form-control" style="width:200px; display:inline" id="endDay">&nbsp;
          		  </div>
          		 
				</div>
			
	<div class="mb-1 row flex-right mt-5">
			<div class="col-lg-auto col-sm-12 ">
		        <button class="ml-5 btn btn-sm btn-primary" onclick="getListClient()">조회</button>
		        <button class="ml-5 btn btn-sm btn-primary" onclick="insertClinet()">등록</button>
				<button class="ml-5 btn btn-sm btn-primary" onclick="addRow()"><svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg></button>
				<button class="ml-5 btn btn-sm btn-primary" onclick="updateClient()">수정</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="window.location.reload()">초기화</button>
				<button class="ml-5 btn btn-sm btn-secondary" onclick="deleteClient()">삭제</button>
			</div>
	</div>
	</div>	

 </div>
		
<div id="grid" class="mb-3 row"></div>

<!-- 거래처 modal 시작 -->
	  <div class="modal fade" id="searchClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">거래처 조회</h5>
		      </div>
		      
		      <div class="modal-body">
		      	<div id="searchClientM">
		      		
			       </div>
			    
		      </div>
		        
		        
					 <div id ="grid3"></div>
				
		        
		      <div class="modal-footer">
		        <button onclick="insertClient()" type="button" class="btn btn-primary" >확인</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	    <!--주소 modal 시작 -->
	  <div class="modal fade" id="clientadrrM" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">주소 검색</h5>
		      </div>
		      
		      <div class="modal-body">
		      	<div id="clientadrr"></div>
			    <input type="text" id="sample4_postcode" placeholder="우편번호">
					<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
					<input type="text" id="sample4_roadAddress" placeholder="도로명주소">
					<input type="text" id="sample4_jibunAddress" placeholder="지번주소">
					<span id="guide" style="color:#999;display:none"></span>
					<input type="text" id="sample4_detailAddress" placeholder="상세주소">
					<input type="text" id="sample4_extraAddress" placeholder="참고항목">
		      </div>
		        
		        
					 <div id ="grid3"></div>
				
		        
		      <div class="modal-footer">
		        <button id="addrCheck" type="button" class="btn btn-primary" >확인</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		      </div>
		      
		    </div>
		  </div>
		</div>
	    
	    <!--  모달창 끝 -->
	<script>

	/* token */
	 var token =  $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	
	 /* data resouce */
   const dataSource = {
      		 withCredentials: false,
      		 contentType: 'application/json',
      		  api: {
      		    readData  : { url: '/callRead', method: 'GET' },
      		    updateData: { url: '/updateClient', method: 'POST' },
      		  }
      }; 
//======================그리드======================//
	const grid = new tui.Grid({
			el : document.getElementById('grid'),
			rowHeaders: ['checkbox'],
			scrollX : true ,
			scrollY : false,
			columns : [ 
				{
				header : '거래처코드',
				name : 'clientCode',
				editor : 'text',
				 width: 'auto',
				 minWidth: 130
				},
				{
				header : '거래처명',
				name : 'clientName',
				editor : 'text',
				 width: 'auto',
				 minWidth: 130
			}, {
				header : '사업자번호',
				name : 'regNum',
				editor : 'text'
				, width: 'auto',
				 minWidth: 130
			}, {
				header : '업종',
				name : 'workType',
				 width: 'auto'
			}, {
				header : '주소',
				name : 'clientAddr',
				 width: 'auto',
				 minWidth: 250
			}, {
				header : 'tel',
				name : 'clientTel',
				editor : 'text',
				 width: 'auto',
				 minWidth: 130
			}, {
				header : 'fax',
				name : 'clientFax',
				editor : 'text',
				 width: 'auto',
				 minWidth: 130
			}, {
				header : '등록일',
				name : 'clientHire',
				editor : 'datePicker',
				 width: 'auto',
				 minWidth: 130
			}, {
				header : '등급',
				name : 'clientGrade'
			}, {
				header : '비고',
				name : 'comments',
				editor : 'text',
				 width: 'auto',
				 minWidth: 130
			}
		   ],
		  data : dataSource
		});
		
		const gridClient = new tui.Grid({
			el : document.getElementById('searchClientM'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '거래처코드',
				name : 'clientCode'
			}, {
				header : '거래처명',
				name : 'clientName'
			},{
				header : '사업자번호',
				name : 'regNum'
			}]
		});
//========on click ==============//		
		//주소 넣기 
		let addrev;
		grid.on('dblclick',ev=>{
			if(ev.columnName =='clientAddr'){
			$('#clientadrrM').modal('show')
			addrev=ev
			}
			console.log(grid.getModifiedRows().createdRows.length)
		})
		//주소인풋에 넣기
	    $('#addrCheck').on('click',()=>{
			addAddr(addrev);
			$('#clientadrrM').modal('hide');
		}) 
		//한줄선택시키기[메인그리드]
	/*  	 grid.on('click', function(ev) {
         var record = {
         start : [ev.rowKey,0],
         end   : [ev.rowKey,grid.getColumns().length]
         }
           getrow = ev.rowKey
           grid.setSelectionRange(record);
         }); */
		//한줄선택시키기[모달]
		let getrow ;
        gridClient.on('click', function(ev) {
          var record = {
          start : [ev.rowKey,0],
          end : [ev.rowKey,gridClient.getColumns().length]
         }
           getrow = ev.rowKey
           gridClient.setSelectionRange(record);
         });
        
        //input에 거래처 입력
        function insertClient (){
        	let data = gridClient.getRow(getrow);
        	$('#clientCode').val(data.clientCode)
        	$('#clientName').val(data.clientName)
        	$('#searchClient').modal('hide');
        	
        }
 
		//거래처모달 팝업시
		searchClient.addEventListener('shown.bs.modal', () => {
			//모달창 새로고침
			gridClient.refreshLayout(); 
			//거래처 검색 아작스
			ClientListAjax(gridClient)
		})
		
		//grid로 필터링/전체조회 (조회버튼)
		function getListClient (){
			//console.log("check hire ",$('#clientHire').val())
			let data = {"clientCode" : $('#clientCode').val(),"workType" : $('#workType').val(),"clientGrade" : $('#clientGrade').val(),"clientHire" : $('#startDay').val(),"clientTel" : $('#endDay').val() }
			ClientListAjax(grid,data)
		}	
		//거래처 추가
		function addRow(){
			console.log(grid.getCheckedRows())
			if(grid.getModifiedRows().createdRows.length == 0){
				grid.clear()
			}
			let gridData = grid.getData();
			let checkCode = false;
			let checkName = false;
		//거래처 코드 중복값체크	
			for (var i = 0; i < gridData.length-1; i++) {
			    if (gridData[i].clientCode ==gridData[gridData.length-1].clientCode) {
			    	checkCode = true;
			    }
			  } 
		//거래처 이름 중복값체크	
			for (var i = 0; i < gridData.length-1; i++) {
			    if (gridData[i].clientName ==gridData[gridData.length-1].clientName) {
			    	checkName = true;
			    }
			  } 
		//빈값체크
		console.log(grid.getData().length)
		
			if($('#workType').val() == '==선택=='){
				toast('warning',"업종을 선택해주세요.");
			}else if  ($('#clientGrade').val()== '==선택=='){
				toast('warning',"회사 등급을 선택해주세요.");
			}else{
				
				if(grid.getData().length >0){
					
					if(grid.getRow(grid.getData().length-1).clientCode == ''){
						toast('warning',"거래처코드가 비어있습니다.")
					}else if(checkCode){
						toast('warning',"추가 거래처코드가 중복됩니다.")
					}else if (checkName){
						toast('warning',"추가 거래처명이 중복됩니다.")
					}else{
						let data = [{"workType" : $('#workType').val(),"clientGrade" : $('#clientGrade').val()}]
						grid.appendRows(data)
					}
				}else{
					let data = [{"workType" : $('#workType').val(),"clientGrade" : $('#clientGrade').val()}]
					grid.appendRows(data)
				}
			}
		}
		

	/* ===============기능모음=================*/
		//거래처 부르는 함수
	function ClientListAjax(methods,param){
			 $.ajax({
	               url : "/clientList",
	               type: "post",
	               beforeSend : function(xhr){
	           		xhr.setRequestHeader(header, token);
	           	 },
	           	 data : param,
	               success : function(data){
	                  let newData =[]
	                  //날짜 변경yyyy/mm/dd
	                  $(data).each((a,val)=>{
	                	 val.clientHire= val.clientHire.substr(0,10);
	                  newData.push(val)
	                  })
	                  methods.resetData(data);
	               },
	               error : err=>{
	                  console.log(err)
	               }
	            })
		}
	//dblclick grid에 주소넣기
	function addAddr(ev){
		//$('sample4_postcode').val() //우편번
		let addr = $('#sample4_roadAddress').val()+$('#sample4_detailAddress').val()+'('+$('#sample4_postcode').val()+')';
	//	$('sample4_jibunAddress').val() //구주소
		grid.setValue(ev.rowKey,'clientAddr',addr)
		
	}
	//거래처 등록 
	function insertClinet(){
	
		console.log(grid.getData());
		
		$(grid.getData()).each((a,val)=>{
			
		})
	//추가행있는지	
	if(grid.getModifiedRows().createdRows.length !=0){
		
		 $.ajax({
             url : "/insertClinet",
             type: "post",
         	contentType : "application/json",
             beforeSend : function(xhr){
         		xhr.setRequestHeader(header, token);
         	 },
         	 data : JSON.stringify(grid.getModifiedRows().createdRows),
             success : function(data){
                console.log(data);
               swal(data)
             },error : err=>{
                console.log(err)
             }
          }) 
		}else{
			toast('warning','추가된 거래처가 없습니다.')
		}   
	}
	//거래처 수정 
	function updateClient(){
		grid.request('updateData')
		grid.on('response', function(ev) {
	   console.log( ev.response)
	   let mess = ev.xhr.response +'건 수정되었습니다.'
	   console.log(mess)
		 swal(mess)
   })
	
		
	}
	//거래처삭제
	function deleteClient(){
		let checkRowKeys = grid.getCheckedRowKeys();
		 $.ajax({
             url : "/deleteClient",
             type: "post",
         	contentType : "application/json",
             beforeSend : function(xhr){
         		xhr.setRequestHeader(header, token);
         	 },
         	 data : JSON.stringify(grid.getCheckedRows()),
             success : function(data){
               let checked = data,exp=/삭제/;
               if(exp.test(checked)){
               swal(data)
               grid.removeRows(checkRowKeys);
               }
             },error : err=>{
                console.log(err)
             }
          }) 
		
		
	}
	/*다음api */
	
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
	//토큰관련 //
	//grid api 토큰처리
     grid.on('beforeRequest', function(ev) {
        ev.xhr.setRequestHeader(header, token);
       })
 
	</script>


</div>
</body>
</html>