<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>사원관리</title>
<style type="text/css">
#btn-div div{
	margin-right:20px;
}
</style>

</head>
<body>
	<div layout:fragment="content">

	<h2>사원관리</h2>

	<!--검색 조건 시작  -->
	<div class="mb-3 row mt-3">
			<!--  -->
			<div class="col-md-3 mb-1">
			<div class="input-group mb-3">
				<label for="staticEmail" class="col-sm-3 col-form-label">부 서</label>
				<input type="text" id="codeId" name="codeId" placeholder="부서코드" class="form-control"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#large2" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
			</div>
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="codeName" name="codeName" placeholder="부서명" class="form-control" readonly>
			</div>
			<!--  -->	
	</div>	
				
	<div>
		<div class="mb-3 row">
			<!--  -->
			<div class="col-md-3 mb-1">
			<div class="input-group mb-3">
				<label for="staticEmail" class="col-sm-3 col-form-label">이 름</label>
				<input type="text" id="empNum" name="empNum" placeholder="사원번호" class="form-control"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#large" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
			</div>
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="empName" name="empName" placeholder="이름" class="form-control" readonly>
			</div>
			<!--  -->
			<div  class="col-lg-auto col-sm-6">
				<span style="height: 36px; line-height: 25px" class="btn btn-sm btn-primary" onclick="selectEmp()" id="select">조회</span> 
			    <button  style="height: 36px; line-height: 25px" type="button" class="btn btn-sm btn-secondary" id="reset">초기화</button> 
			</div>
		</div>
		<!--검색 조건 END -->
		
		<!--버튼 시작  -->
		<div style="display: flex; justify-content: flex-end; " id="btn-div" class="mb-3">
			
			<div>
				<button type="button"  class="btn btn-sm btn-primary" onclick="addEmp()">
					<svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
				</button> 
			</div>
			<div>
				<button type="button" class="btn btn-sm btn-primary" onclick="insertEmp()">등록</button> 
			</div>
			<div >
				<button type="button" class="btn btn-sm btn-primary" onclick="updateEmp()">수정</button> 
			</div>
			<div >
				<button type="button" class="btn btn-sm btn-secondary" onclick="delEmp()">삭제</button> 
			</div>
		</div>	
	
	 </div>
 	<!--버튼 END -->
			
	 <!--사원조회 그리드  -->
	<div class="mb-3 mt-5 row">
	 <div id="grid" ></div>
 	</div>
 	
	<!--담당자 시작  -->
	<div class="mb-3 mt-5 row">
		<h2>담당자</h2>
	</div>
	<div>
	<!--  -->
	<div class="mb-3 row mt-3">
		<div class="col-md-3 mb-1">
			<div class="input-group mb-3">
				<label for="staticEmail" class="col-sm-3 col-form-label">이 름</label>
				<input type="text" id="empNum2" name="empCode" placeholder="사원번호" class="form-control"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#large3" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
			</div>
		</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="empName2" name="name" placeholder="이름" class="form-control" readonly>
			</div>
	</div>
	<!--  -->	
		<div class="mb-3 row">
				<label  class="col-lg-1 col-sm-12 col-form-label">부서코드</label>
				<div class="col-lg-auto col-sm-6">
				<input  id="codeId2" name="depCode" class="form-control">
				</div>
				<label  class="col-lg-1 col-sm-12 col-form-label">부서명</label>
				<div class="col-lg-auto col-sm-12">
				<input  id="codeName2" name="depName" class="form-control" readonly>
				</div>
		</div>		
	</div>	
	
	<div class="mb-5 row">
		<label  class="col-lg-1 col-sm-12 col-form-label">mail</label>
		<div class="col-lg-auto col-sm-6">
			<input  id="empMail2" name="empMail" class="form-control">
		</div>
	
		<label  class="col-lg-1 col-sm-12 col-form-label">Tel</label>
		<div class="col-lg-auto col-sm-6">
			<input  id="empTel2" name="empTel" class="form-control">
		</div>
	</div>	
	<!-- 담당자 END -->

	<!-- 담당사원 시작 -->
	<div style="display: none" id="showEmp" >
		
		<div>
			<h2>담당사원</h2>
		</div>	
		  <div style="display: flex; justify-content: flex-end; " id="btn-div" class="mb-3">
			
			
		</div>
	
		<div id="grid2" class="mb-3 row"></div>
		<!-- 담당사원 END -->
	</div>
	
	
	<!-- </div> -->
	<!-- 이름 필터 Modal lg size -->  
    <div class="modal fade text-left" id="large" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">사원목록</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--그리드  -->
					<div id="gridM" class="mb-3 row"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

	
	
<!--담당자의 담당시 부서 Modal lg size -->
                                           
 <div class="modal fade text-left" id="large6" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel17" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
         role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h4 class="modal-title" id="myModalLabel17">부서목록</h4>
                 <button type="button" class="close" data-bs-dismiss="modal"
                     aria-label="Close">
                     <i data-feather="x"></i>
                 </button>
             </div>
             <div class="modal-body">
                <!--그리드  -->
				<div id="gridEmp2" class="mb-3 row"></div>	                     
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-light-secondary"
                     data-bs-dismiss="modal">
                     <i class="bx bx-x d-block d-sm-none"></i>
                     <span class="d-none d-sm-block">Close</span>
                 </button>
                 <button type="button" class="btn btn-primary ml-1"
                     data-bs-dismiss="modal">
                     <i class="bx bx-check d-block d-sm-none"></i>
                     <span class="d-none d-sm-block">확인</span>
                 </button>
             </div>
         </div>
     </div>
 </div>
         
	
<!--부서 필터 Modal lg size -->
<div class="modal fade text-left" id="large2" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel17">부서목록</h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <!--그리드  -->
				<div id="gridD" class="mb-3 row"></div>                      
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary"
                      data-bs-dismiss="modal">
                      <i class="bx bx-x d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Close</span>
                  </button>
                  <button type="button" class="btn btn-primary ml-1"
                      data-bs-dismiss="modal">
                      <i class="bx bx-check d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">확인</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
<!--부서 필터 Modal lg size -->

<!--등록시 부서 Modal lg size -->                                           
<div class="modal fade text-left" id="large5" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel17">부서목록</h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
               <!--그리드  -->
				<div id="gridEmp" class="mb-3 row"></div>	                                                
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-light-secondary"
                     data-bs-dismiss="modal">
                     <i class="bx bx-x d-block d-sm-none"></i>
                     <span class="d-none d-sm-block">Close</span>
                 </button>
                 <button type="button" class="btn btn-primary ml-1"
                     data-bs-dismiss="modal">
                     <i class="bx bx-check d-block d-sm-none"></i>
                     <span class="d-none d-sm-block">확인</span>
                 </button>
             </div>
         </div>
     </div>
 </div>	
 
 <!--담당자 이름  검색 Modal lg size -->                                           
<div class="modal fade text-left" id="large3" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel17">담당자 목록</h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
               <!--그리드  -->
				<div id="gridmn" class="mb-3 row"></div>                       
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-light-secondary"
                     data-bs-dismiss="modal">
                     <i class="bx bx-x d-block d-sm-none"></i>
                     <span class="d-none d-sm-block">취소</span>
                 </button>
                 <button type="button" class="btn btn-primary ml-1"
                     data-bs-dismiss="modal" onclick="valueIn()">
				    <i class="bx bx-check d-block d-sm-none"></i>
				    <span class="d-none d-sm-block">확인</span>
				</button>
            </div>
        </div>
    </div>
</div>
	
	<script>
	
	/* token */
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
 	
	/* data resouce */
	  const dataSource = {
      		 withCredentials: false,
      		 contentType: 'application/json',

      		  api: {
      			  
      		    readData  : { url: '/empList', method: 'get' }, // 빨간줄 뜨고 있는거.
      		    //createData: { url: '/callInsert', method: 'POST' },
      		    updateData: { url: '/updateEmp', method: 'POST' },
      		    //deleteData : { url: '/callDelete', method: 'POST' },
      		    //updateModifiy: { url: '/callModi', method: 'POST' },
      		  }
      		};

        
	
	/*사원 이름 필터  id= gridM, large*/
		const gridM = new tui.Grid({
			el : document.getElementById('gridM'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum',
				filter: 'select'
			}, {
				header : '이름',
				name : 'empName',
				filter: 'select'
			}
			]
		});
		
		
 	//cosole.log(large);
		
		large.addEventListener('shown.bs.modal', () => {
			$.ajax({
				url : "ajax/list",
				type : 'post',
				data : {"empDept" : $('#codeId').val(), "codeName" : $('codeId').val() 
				 },
				 beforeSend : function(xhr){
             		xhr.setRequestHeader(header, token);
             	 },
				success : function(data){
					console.log(data);
					gridM.resetData(data);
					gridM.refreshLayout();
				}, 
				error : function(error) {
					console.log(error)
				}
				
			})
			
			
		})
	 
	   	 

	   	 // 부서필터
		const gridD = new tui.Grid({
			el : document.getElementById('gridD'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '부서코드',
				name : 'codeId'
			}, {
				header : '부서명',
				name : 'codeName'
			}
			]
		});
		
		
		
		large2.addEventListener('shown.bs.modal', () => {
	
			gridD.refreshLayout(); //모달창 새로고침
			
			// 부서 모달 ajax.
			fetch("ajax/dept",{method:"get"})
			.then(data => data.json())
			.then (objs => {
				gridD.resetData(objs);
			})
	 
	   	      
	   	      
	   	 })
	   	 
	   	 
	   	  /*등록시 부서목록 id= gridEmp, large5 */
		const gridEmp = new tui.Grid({
			el : document.getElementById('gridEmp'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '부서코드',
				name : 'codeId'
			}, {
				header : '부서명',
				name : 'codeName'
			}
			]
		});
		
		
		
		large5.addEventListener('shown.bs.modal', () => {
	
			gridEmp.refreshLayout(); //모달창 새로고침
			
			// 부서 모달 ajax.
			fetch("ajax/dept",{method:"get"})
			.then(data => data.json())
			.then (objs => {
				gridEmp.resetData(objs);
			})
	 
	   	      
	   	      
	   	 })
	   	 
	   	 // 담당자의 담당사원 등록 
		const gridEmp2 = new tui.Grid({
	
			el : document.getElementById('gridEmp2'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '부서코드',
				name : 'codeId'
			}, {
				header : '부서명',
				name : 'codeName'
			}
			]
		});
		
		
		
		large6.addEventListener('shown.bs.modal', () => {
	
			gridEmp2.refreshLayout(); //모달창 새로고침
			
			// 부서 모달 ajax.
			fetch("ajax/dept",{method:"get"})
			.then(data => data.json())
			.then (objs => {
				gridEmp2.resetData(objs);
			})
	 
	   	      
	   	      
	   	 })
	   	 
	   	 
	   	 
	   	 // 담당자 이름 목록 
		const gridMN = new tui.Grid({
			el : document.getElementById('gridmn'),
			
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum'
			}, {
				header : '이름',
				name : 'empName'
			}
			]
		});
		
		large3.addEventListener('shown.bs.modal', () => {
			
			gridMN.refreshLayout(); //모달창 새로고침
	
			
			// 담당자 이름 모달 ajax.
			fetch("ajax/empInfo",{method:"get"})
			.then(data => data.json())
			.then (objs => {
				 gridMN.resetData(objs);
			})
		})
		
		/* $(function(){ 담당자 조회 다른 방법. 
			
			let arr = [];
		let objs = [1,0,2,0,3,4,5,0]
		let objA =[]
				 $(objs).each(function(idx,obj){
					
					console.log(obj)
					if(obj != 0 ){
						objA.push(obj)
						
					}
					console.log("새로운 배열 ",objA)
					/* if(obj.empManager == null) {
					arr.push(obj)	
				    
					}  */
		/* 			
				})
			
		}) */
									
		// 초기화 버튼.
		reset.addEventListener("click", ()=>{
			document.getElementById('codeId').value='';
			document.getElementById('codeName').value='';
			document.getElementById('empNum').value='';
			document.getElementById('empName').value='';
			document.getElementById('empName').value='';
			document.getElementById('empName').value='';
			document.getElementById('empName').value='';
			document.getElementById('empName').value='';
			document.getElementById('empName').value='';
			
			
			
			grid1.clear();
			grid2.clear();
			

		})

					 
		
	   	  
	   	      
	   	      


 	/* 사원정보  */
		const grid1 = new tui.Grid({
			el : document.getElementById('grid'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : true,
			bodyHeight : 320,
			columns : [ {
				header : '사원번호',
				name : 'empNum',
				filter: 'text'
			}, {
				header : '이름',
				name : 'empName',
				filter: 'text',
				editor : 'text'
			}, {
				header : '부서',
				name : 'empDept'
				
			}, {
				header : '직급',
				name : 'jobGrade',
				editor: {
				      type: 'select',
				      options: {
				      listItems: [
				        {
				          text: '선택 안함',
				          value: '0'
				        },
				        {
				          text: '사원',
				          value: '사원'
				        },
				        {
				          text: '대리',
				          value: '대리'
				        },
				        {
					      text: '주임',
					      value: '주임'
				        },      
				        {
				          text: '과장',
				          value: '과장'
				        },
				        {
				          text: '차장',
				          value: '차장'
				        },
				        {
					      text: '부장',
					      value: '부장'
				        }
				        ]
				      }
				}
			}, {
				header : '입사일',
				name : 'empHire',
				editor : 'datePicker'
			}, {
				header : '메일',
				name : 'empMail',
				editor : 'text'
			}, {
				header : '전화번호',
				name : 'empTel',
				editor : 'text'
			}, {
				header : '비고',
				name : 'comments',
				editor : 'text'
			}
			],
			data : dataSource
	
		});
				
			

		
		
		
		
		// 부서이름 셀 클릭시 모달창 띄우기.
		
		let gridRow ; // 전역변수
		
		grid1.on("click", ev =>{
			//console.log(ev)
			if(ev.columnName == 'empDept'){
				$('#large5').modal('show');
			}
		gridRow = ev.rowKey;	
			
		})
		
		// 부서이름 모달 클릭시 셀 값 넣어주기.
		gridEmp.on("click", ev => {
		
		let emp = gridEmp.getRow(ev.rowKey);
		grid1.setValue(gridRow,"empDept",emp.codeId)
		

		
		
		$('#large5').modal('hide');
	})
		
		

		
	
	
		// 사원 등록.(한 건)
		function insertEmp(){
			console.log(grid1.getRow(grid1.getData().length-1).empName)
			console.log(grid1.getRow(0))
			// 필수값 체크하기.
			let empRowKey = grid1.getRow(grid1.getData().length-1);
			if(grid1.getData().length > 0){
				if(empRowKey.empName == '' || empRowKey.empName ==  null){
					swal("필수 입력값입니다.","이름을 입력해주세요.","info");
				} else if(empRowKey.empDept == '' || empRowKey.empDept == null){
					swal("필수 입력값입니다.","부서를 입력해주세요.","info");
				} else if(empRowKey.empHire == null){
					swal("필수 입력값입니다.","입사일을 입력해주세요.","info");
				} else {

					let num =0;
					$(grid1.getData()).each((a, result )=>{
						if (result.empNum == null) {
							num = result.rowKey
						}
					})
					//console.log(grid1.getRow(num))
					//console.log(grid1.getData()[num])
					//console.log(grid1.getData()[num+1])
					$.ajax({
						url : "/insertEmp",
						type : 'post',
						data : grid1.getRow(num)
						,
						 beforeSend : function(xhr){
		             		xhr.setRequestHeader(header, token);
		             	 },
						success : function(data) {
							//console.log(data)
							
					
							
							swal("success","등록에 성공했습니다!!!","success")
							
							selectEmp();
						
						}, error : function(error) {
							swal("error","등록에 실패했습니다!!!","error");
							console.log(error);
						}
					})
				}
			
				
					}
				}
			
			
			
			
			
			
		
		
		// 사원정보 수정.
		function updateEmp() {
			console.log(grid1.getData())
			
			grid1.request('updateData');
		
			swal("success","수정 완료!!!","success")
			/* $.ajax({
				url : "updateEmp",
				type : 'post',
				data : {},
				success : function(data){
					grid1.resetData(data);
					
				},error : function(){
					alert("수정 실패!!!!");
					console.log(error)
				}
			}) */
		
		}
		
		 //ajax처리전에 돌아감 
    	 grid1.on('beforeRequest', function(ev) {
    		 ev.xhr.setRequestHeader(header, token);
    		  console.log("aa", ev.xhr)
		 })
		
		// 사원 삭제.
		function delEmp() {
			let result =[];
			let a = grid1.getCheckedRows()
			$(a).each((a, data)=>{
				let obj = {"empNum": data.empNum}
				result.push(obj) 
			})
			console.log(result)

			$.ajax({
				url : "delEmp",
				type : 'post',
				contentType : "application/json",
				data : JSON.stringify(result)
				,
				 beforeSend : function(xhr){
             		xhr.setRequestHeader(header, token);
             	 },
		        success : function (data){
		        	if(data > 0){
		        	
					grid1.removeCheckedRows(true);
					swal (data + "건이 삭제되었습니다!")
		        	}
				}, 
				error : function(error){
				swal ("error","삭제 실패!!!","error");
				console.log(error)
				
				}
			 })
}

		 /* 담당사원 */
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : true,
			bodyHeight : 200,
			columns : [ {
				header : '사원번호',
				name : 'empNum'
			}, {
				header : '이름',
				name : 'empName',
				editor : 'text'
			}, {
				header : '부서',
				name : 'empDept',
				editor : 'text'
			}, {
				header : '직급',
				name : 'jobGrade',
				
				editor: {
				      type: 'select',
				      options: {
				      listItems: [
				        {
				          text: '선택 안함',
				          value: '0'
				        },
				        {
				          text: '사원',
				          value: '사원'
				        },
				        {
				          text: '대리',
				          value: '대리'
				        },
				        {
					      text: '주임',
					      value: '주임'
				        },      
				        {
				          text: '과장',
				          value: '과장'
				        },
				        {
				          text: '차장',
				          value: '차장'
				        },
				        {
					      text: '부장',
					      value: '부장'
				        }
				        ]
				      }
				}
			}, {
				header : '입사일',
				name : 'empHire',
				editor : 'datePicker'
			},{
				header : '메일',
				name : 'empMail',
				editor : 'text'
			}, {
				header : '전화번호',
				name : 'empTel',
				editor : 'text'
			}, {
				header : '비고',
				name : 'comments',
				editor : 'text'
			}
			

			]
		});
		
	// 사원조회 ajax
		function selectEmp(){
			 $.ajax({
				 url : "ajax/list",
				 type : 'post' ,
				 data : {"empNum" : $('#empNum').val(),"empDept" : $('#codeId').val()
				},
				 beforeSend : function(xhr){
             		xhr.setRequestHeader(header, token);
             	 },
				 success : function(data){
					 console.log(data);
					 grid1.resetData(data);
				 },
				 error : function(error) {
					 console.log(error)
				 }
			 })
		}
	
	// 담당자의 담당사원 ajax  
		function selectInfo(){
		 	$.ajax({
				url : "ajax/list",
				type : 'post' 
				,
				 beforeSend : function(xhr){
             		xhr.setRequestHeader(header, token);
             	 },
				success : function(result){
					grid2.resetData(result);
					console.log(result);
				},
				error : function(error){
					console.log(error)
				}
			}) 
			
	}
	
	
	// 모달 안 그리드 클릭시 input 태그에 값 넣기(그리드 내 이벤트 타겟 찾기).
	// 사원 이름 모달 이벤트.(필터)
	gridM.on("click", event => {
		console.log(gridM.getRow(event.rowKey))
		console.log(event)
		// getRow : 그리드 row(tr) 전체 가져오기.
		//console.log(event.nativeEvent.target.innerText);  td값. 셀값
		console.log(gridM.getRow(event.rowKey))   //rowKey : 인덱스 번호  
		// input 태그에 값 넣어주기.
		$('#empNum').val(gridM.getRow(event.rowKey).empNum);
		$('#empName').val(gridM.getRow(event.rowKey)['empName']);
		// 모달창 숨기기.
		$('#large').modal('hide');
	})
	
	// 부서 모달 이벤트. (필터)
	gridD.on("click", ev => {
		//console.log(ev.nativeEvent.target.innerText)
		let deptT = gridD.getRow(ev.rowKey);
		//console.log(ev.rowKey)
		$('#codeId').val(deptT.codeId);
		$('#codeName').val(deptT['codeName']);
		
		$('#large2').modal('hide');
	})
	
	
	// 담당자  클릭시 정보 입력.
	gridMN.on("click", ev => {
		//console.log(gridMN.getRow(gridMN.getFocusedCell().rowKey))
		/* let manager = gridMN.getRow(gridMN.getFocusedCell().rowKey);
		console.log("담당자: " + manager) // object 타입. 보내는 타입과 가져오는 타입을 잘 생각해보자.
		
		$.ajax({
			url : "ajax/emplist",
			type : "get",
			data : {"empNum":manager.empNum},
			success : function(data) {
				console.log(data)
				console.log(9999)
		$('#empNum2').val(data.empNum);
		$('#empName2').val(data.empName);
		$('#codeId2').val(data.empDept);
		$('#codeName2').val(data.empManager);
		$('#empMail2').val(data.empMail);
		$('#empTel2').val(data.empTel); 
				
			}
		}) */
	})  
	 
	
	// 한 줄 선택시 컬러.
	 gridMN.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,gridMN.getColumns().length]
	          }
		            gridMN.setSelectionRange(record);
	          }); 
	  
	// 담당자 조회시 모달 안 확인 버튼 클릭시 담당자 - 담당자의 사원 정보 입력.
		let emp;
	gridMN.on('click', ev=>{ 
			 
			emp = gridMN.getRow(ev.rowKey)
			
		    console.log('ㅔㅔㅔ',emp)
		
		
		})
	function valueIn(){
		
			// 담당자의 담당사원 조회 - ajax 안에 ajax.
						$.ajax({
							url : "ajax/list",
							type : "post",
							data : {"empManager" : emp.empNum}
						, 
						beforeSend : function(xhr){
                    		xhr.setRequestHeader(header, token);
                   	 		},
							success : function(data) {
								
								$('#showEmp').css('display','block') // 그리드 화면에 안 보이게.
								
								$('#empNum2').val(emp.empNum);
								$('#empName2').val(emp.empName);
						
								$('#codeId2').val(emp.empDept);
								$('#codeName2').val(emp.comments);
								$('#empMail2').val(emp.empMail);
								$('#empTel2').val(emp.empTel); 
							
								grid2.resetData(data);
								grid2.refreshLayout();
								
							}, error : function(error) {
								console.log(error);
							}	
						})
	
	}
	

	// 한 줄 선택시 컬러.
	grid1.on('click', ev=>{
		 var record = {
	           start : [ev.rowKey,0],
	           end : [ev.rowKey,grid1.getColumns().length]
	          }
		            grid1.setSelectionRange(record);
	          });
	  
	
	// 사원번호 셀 클릭시 담당자 - 담당자의 담당사원 정보 입력.
	grid1.on("click", ev => {
		
		//console.log("찾아보자 : " + ev.rowKey)
		
	if(ev.columnName == 'empNum'){
		if(grid1.getRow(ev.rowKey).empManager != null || !grid1.getRow(ev.rowKey).empManager =='' ){
	
		//console.log("찾아보자 : " + ev.getRow(0))
		//if(ev.columnName == 'empDept'){
			//$('#large2').modal('show');
	//	} 
		 //console.log("row num : ", grid1.getFocusedCell().rowKey) ; 
		 //let emp = grid1.getRow(grid1.getFocusedCell().rowKey).empManager.split(':')[0];
		 let emp = grid1.getRow(grid1.getFocusedCell().rowKey).empManager;
		 grid2.clear();		
		 
		 $.ajax({
			url : "ajax/emplist",
			type : "get",
			data : {"empNum":emp},
			beforeSend : function(xhr){
        		xhr.setRequestHeader(header, token);
       	 	},
			success : function(data) {
				
		grid2.refreshLayout();
		$('#showEmp').css('display','block')					
		$('#empNum2').val(data.empNum);
		$('#empName2').val(data.empName);
		$('#codeId2').val(data.empDept);
		$('#codeName2').val(data.empManager);
		$('#empMail2').val(data.empMail);
		$('#empTel2').val(data.empTel); 
				
		
						// 담당자의 담당사원 조회 - ajax 안에 ajax.
						$.ajax({
							url : "ajax/list",
							type : "post",
							data : {"empManager" : emp}
						, 
						beforeSend : function(xhr){
                    		xhr.setRequestHeader(header, token);
                   	 		},
							success : function(data) {
								console.log("cccc");
								grid2.resetData(data);
								grid2.refreshLayout();
							}, error : function(error) {
								console.log(error);
							}	
						})
		
		
			}, error : function(error) {
				console.log(error);
			}
		})
		} else {
			$('#showEmp').css('display','none')	
			grid2.clear()
			$('#empNum2').val('');
			$('#empName2').val('');
			$('#codeId2').val('');
			$('#codeName2').val('');
			$('#empMail2').val('');
			$('#empTel2').val(''); 
		}
	 }
	
	})
	
	
			
	
		// 사원 추가. (row 추가.)
		function addEmp() {
		
			let data = { emp_num : "", emp_name : "", emp_dept : "", job_grade : ""
						, emp_hire : "", emp_mail : "", emp_tel : "", comments : ""}
			
			grid1.appendRow(data,{'at':0});
		}
		
		// 담당사원 추가. (row 추가.)
		function addEmp2() {
			let data = { emp_num : "", emp_name : "", emp_dept : "", job_grade : ""
						, emp_hire : "",emp_mail : "", emp_tel : "", comments : ""}
			
			grid2.appendRow(data,{'at':0});
		}
		
	// 담당자의 담당사원 -부서이름 셀 클릭시 모달창 띄우기. 
		
		let gridRow2 ; // 전역변수
		
		grid2.on("click", ev =>{
			//console.log(ev)
			if(ev.columnName == 'empDept'){
				$('#large6').modal('show');
			}
		gridRow2 = ev.rowKey;	
			
		})
		
		// 부서이름 모달 클릭시 셀 값 넣어주기.========> 모달 안 확인 버튼 클릭시 값 들어가기로 변경.
		grid2.on("click", ev => {
		
		let emp = gridEmp2.getRow(ev.rowKey);
		grid2.setValue(gridRow2,"empDept",emp.codeId)
		
		//console.log("emp",emp.codeUsed)
		
		
		$('#large6').modal('hide');
	})
		
	</script>
</div>
</body>
</html>
