<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>사원관리</title>
<style type="text/css">
#btn-div div{
	margin-right:20px;
}
</style>

</head>
<body>
	<div layout:fragment="content">

		<h3>사원관리</h3>


 <div >
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">이 름</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="empNum" name="empNum" class="form-control">
			</div>
			 <div class="col-lg-auto col-sm-6">
			<button type="button"><i class="bi bi-search" data-bs-toggle="modal" data-bs-target="#large"></i></button> 
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="empName" name="empName" class="form-control">
			</div>
	</div>
	
										<!-- 이름 Modal lg size -->
                                        <div class="me-1 mb-1 d-inline-block">
                                           
                                            <!--large size Modal -->
                                            <div class="modal fade text-left" id="large" tabindex="-1" role="dialog"
                                                aria-labelledby="myModalLabel17" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel17">사원목록</h4>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--그리드  -->
      														 <div id="gridM" class="mb-3 row"></div>
       
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-secondary"
                                                                data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Close</span>
                                                            </button>
                                                            <button type="button" class="btn btn-primary ml-1"
                                                                data-bs-dismiss="modal">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">확인</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
	
	
										<!--부서 Modal lg size -->
                                        <div class="me-1 mb-1 d-inline-block">
                                           
                                            <div class="modal fade text-left" id="large2" tabindex="-1" role="dialog"
                                                aria-labelledby="myModalLabel17" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel17">부서목록</h4>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                           <!--그리드  -->
      														 <div id="gridD" class="mb-3 row"></div>
       
                                                           
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-secondary"
                                                                data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Close</span>
                                                            </button>
                                                            <button type="button" class="btn btn-primary ml-1"
                                                                data-bs-dismiss="modal">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">확인</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
	
	
	
			
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">부 서</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="codeId" name="codeId" class="form-control">
			</div>
			<div class="col-lg-auto col-sm-6">
			<button type="button"><i class="bi bi-search" data-bs-toggle="modal" data-bs-target="#large2" ></i></button> 
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="codeName" name="codeName" class="form-control">
			</div>
			<div class="col-lg-auto col-sm-6">
			<button type="button" onclick="selectEmp()">조회</button> 
			</div>
	</div>	

 </div>
 
  <div id="grid" class="mb-5 row"></div>
 
 
 

	<div>
		<h3>담당자</h3>
	</div>
	<div style="display: flex; justify-content: flex-end; " id="btn-div" class="mb-3">
		<div>
			<button type="button">등록</button> 
		</div>
		<div >
			<button type="button">수정</button> 
		</div>
		<div >
			<button type="button">삭제</button> 
		</div>
	</div>	
		

	<div >
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">이 름</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="empNum2" name="empCode" class="form-control">
			</div>
			 <div class="col-lg-auto col-sm-6">
			<button type="button"><i class="bi bi-search"></i></button> 
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="empName2" name="name" class="form-control">
			</div>
	</div>		
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">부 서</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="codeId2" name="depCode" class="form-control">
			</div>
			<div class="col-lg-auto col-sm-6">
			<button type="button"><i class="bi bi-search"></i></button> 
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="codeName2" name="depName" class="form-control">
			</div>
	</div>	

 </div>
	
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">mail</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="empMail2" name="empMail" class="form-control">
			</div>
	
			<label  class="col-lg-1 col-sm-12 col-form-label">Tel</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="empTel2" name="empTel" class="form-control">
			</div>
	</div>	


	<div>
		<h3>담당사원</h3>
		
		<div class="col-lg-auto col-sm-6">
			<button type="button" onclick="selectInfo()">조회</button> 
			</div>
	</div>

	 <div id="grid2" class="mb-3 row"></div>

	<script>
 	

        /*사원 이름 모달 */
		const gridM = new tui.Grid({
			el : document.getElementById('gridM'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum',
				filter: 'select'
			}, {
				header : '이름',
				name : 'empName',
				filter: 'select'
			}
			]
		});
		
		
 	//cosole.log(large);
		
		large.addEventListener('shown.bs.modal', () => {
	
			gridM.refreshLayout(); //모달창 새로고침
			let data ={};
			// 이름 모달 ajax.
			fetch("ajax/list",{
				method:"post",
				headers : {
					"Content-Type" : "application.json"
								},
				body : JSON.stringify(data)
			
			})			
			.then(data => data.json())
			.then (objs => {
				gridM.resetData(objs);
			})
	 
	   	      
	   	      
	   	 })
	   	 

	   	 /*부서 모달 */
		const gridD = new tui.Grid({
			el : document.getElementById('gridD'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '부서코드',
				name : 'codeId'
			}, {
				header : '부서명',
				name : 'codeName'
			}
			]
		});
		
		
		
		large2.addEventListener('shown.bs.modal', () => {
	
			gridD.refreshLayout(); //모달창 새로고침
			
			// 부서 모달 ajax.
			fetch("ajax/dept",{method:"get"})
			.then(data => data.json())
			.then (objs => {
				gridD.resetData(objs);
			})
	 
	   	      
	   	      
	   	 })
		
		

 	/* 사원정보  */
		const grid1 = new tui.Grid({
			el : document.getElementById('grid'),
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum',
				filter: 'text'
			}, {
				header : '이름',
				name : 'empName',
				filter: 'select'
				
			}, {
				header : '메일',
				name : 'empMail'
			}, {
				header : '전화번호',
				name : 'empTel'
			}, {
				header : '입사일',
				name : 'empHire',
				editor : 'datePicker'
			}, {
				header : '부서',
				name : 'empDept'
			}, {
				header : '급여',
				name : 'empSalary'
			}, {
				header : '아이디',
				name : 'empId'
			}, {
				header : '담당자',
				name : 'empManager'
			}, {
				header : '비고',
				name : 'comments'
			}

			]
		
		
		
		});
		
		

		 /* 담당사원 */
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '사원번호',
				name : 'empNum'
			}, {
				header : '이름',
				name : 'empName'
			}, {
				header : 'mail',
				name : 'empMail'
			}, {
				header : 'tel',
				name : 'empTel'
			}, {
				header : '입사일',
				name : 'empHire'
			}, {
				header : '부서',
				name : 'empDept'
			}

			]
		});
		
	// 사원조회 ajax
		function selectEmp(){
			 $.ajax({
				 url : "ajax/list",
				 type : 'post' ,
				 data : {"empNum" : $('#empNum').val(),"empDept" : $('#codeId').val()},
				 success : function(data){
					 console.log(data);
					 grid1.resetData(data);
				 },
				 error : function(error) {
					 console.log(error)
				 }
			 })
		}
	
	// 담당사원 ajax
		function selectInfo(){
		 	$.ajax({
				url : "ajax/list",
				type : 'post' ,
				success : function(result){
					grid2.resetData(result);
					console.log(result);
				},
				error : function(error){
					console.log(error)
				}
			}) 
			
	}
	
	
	// 모달 안 그리드 클릭시 input 태그에 값 넣기(그리드 내 이벤트 타겟 찾기).
	// 사원 이름 모달
	gridM.on("click", event => {
		console.log(gridM.getRow(event.rowKey))
		console.log(event)
		// getRow : 그리드 row(tr) 전체 가져오기.
		//console.log(event.nativeEvent.target.innerText);  td값. 셀값
		console.log(gridM.getRow(event.rowKey))   //rowKey : 인덱스 번호  
		// input 태그에 값 넣어주기.
		$('#empNum').val(gridM.getRow(event.rowKey).empNum);
		$('#empName').val(gridM.getRow(event.rowKey)['empName']);
		// 모달창 숨기기.
		$('#large').modal('hide');
	})
	
	// 부서 모달
	gridD.on("click", ev => {
		//console.log(ev.nativeEvent.target.innerText)
		let deptT = gridD.getRow(ev.rowKey);
		//console.log(ev.rowKey)
		$('#codeId').val(deptT.codeId);
		$('#codeName').val(deptT['codeName']);
		
		$('#large2').modal('hide');
	})
	
	
	// 담당자 클릭시 조회 이벤트.
	grid1.on("click", ev => {
		 console.log("row num : ", grid1.getFocusedCell().rowKey) ; 
		 let emp = grid1.getRow(grid1.getFocusedCell().rowKey).empManager.split(':')[0];
		$.ajax({
			url: "ajax/emplist",
			type : "get",
			data : {"empManager":emp},
			success : function(data) {
				console.log(data)

		$('#empNum2').val(data.empNum);
		$('#empName2').val(data.empName);
		$('#codeId2').val(data.empDept);
		$('#codeName2').val(data.empManager);
		$('#empMail2').val(data.empMail);
		$('#empTel2').val(data.empTel); 
				
			}, error : function(error) {
				console.log(error);
			}
		})
	})
	
		
	</script>
</div>
</body>
</html>
 
 
 
	
	
	