<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>물품</title>

<style type="text/css">
#btn-div div{
	margin-right:20px;
}
</style>

</head>
<body>

	<div layout:fragment="content">
		<h2>물품등록</h2>


	<!--필터 시작 -->
		<div>
	<!--  -->	
		<div class="mb-3 row mt-3">
		<div class="col-md-3 mb-1">
			<div class="input-group mb-3">
				<label for="staticEmail" class="col-sm-3 col-form-label">품목군</label>
				<input type="text" id="codeId" name="codeId" placeholder="품목군코드" class="form-control"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"> <span
						class="input-group-text" data-bs-toggle="modal"
						data-bs-target="#large" id="basic-addon1" style="cursor: pointer"><i
						class="bi bi-search"></i></span>
			</div>
		</div>
			<div class="col-lg-auto col-sm-12">
			<input  id="proName" name="proName" placeholder="품목군명" class="form-control" readonly>
			</div>
		</div>
	
	<!--  -->
	
			<div class="mb-3 row">
				<label class="col-lg-1 col-sm-12 col-form-label">조달구분</label>
				<div class="col-lg-auto col-sm-6">
					<select class="form-select form-select-sm"
						aria-label=".form-select-sm example" id="proGet" name="proGet">
						<option selected></option>
						<option value="PG-BY">구매</option>
						<option value="PG-MK">생산</option>
					</select>
				</div>

				<label class="col-lg-1 col-sm-12 col-form-label">LOT 여부</label>
				<div class="col-lg-auto col-sm-6">
					<select class="form-select form-select-sm"
						aria-label=".form-select-sm example" id="lotUsed" name="lotUed">
						<option selected></option>
						<option value="Y">사용</option>
						<option value="N">미사용</option>
					</select>
				</div>

				<label class="col-lg-1 col-sm-12 col-form-label">검사여부</label>
				<div class="col-lg-auto col-sm-6">
					<select class="form-select form-select-sm"
						aria-label=".form-select-sm example" id="testUsed" name="testUsed">
						<option selected></option>
						<option value="N">무검사</option>
						<option value="Y">검사</option>
					</select>
				</div>
			
				<!--버튼시작 -->
				<div style="display: flex; justify-content: flex-end; " id="btn-div" class="mb-3">
					<div>
						<button type="button" class="btn btn-sm btn-primary" onclick="selectPro()">조회</button> 
					</div>
					<div>
						<button type="button" class="btn btn-sm btn-primary" id="reset">초기화</button> 
					</div>
					<div>
						<button type="button"  class="btn btn-sm btn-primary" onclick="addEmp()">
							<svg class="svg-inline--fa fa-plus fa-w-14 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
						</button> 
					</div>
					<div>
						<button type="button" class="btn btn-sm btn-primary" id="enter" onclick="insertPro()">등록</button> 
					</div>
					<div >
						<button type="button" class="btn btn-sm btn-primary" onclick="updatePro()">수정</button> 
					</div>
					<div >
						<button type="button" class="btn btn-sm btn-secondary" onclick="delPro()">삭제</button> 
					</div>
				</div>	
				<!--버튼 END  -->
			</div>
	</div>	
	<!--필터  END -->
			
			
<form id="proData">
			<section class="section">
				<div class="row">
					<div class="col-md-6">

						<div class="card">
							<div class="card-body">
								<!--조회 & 등록 그리드  -->
								<div id="grid" ></div>
							</div>
						</div>
					</div>


					<!--추가 정보-->
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<!--기본정보 탭 헤드 -->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation"><a
										class="nav-link active" id="home-tab" data-bs-toggle="tab"
										href="#home" role="tab" aria-controls="home"
										aria-selected="true">기본정보</a></li>

									<!--생산/판매정보 탭 헤드 -->
									<li class="nav-item" role="presentation"><a
										class="nav-link" id="profile-tab" data-bs-toggle="tab"
										href="#profile" role="tab" aria-controls="profile"
										aria-selected="false">생산/판매정보</a></li>
								</ul>

							
								<!--기본정보 탭 내용 -->
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="home"
										role="tabpanel" aria-labelledby="home-tab">
										<div class="mt-3 mb-3 row">
											
											<label class="col-lg-3 col-sm-12 col-form-label">제품코드</label>
											<div class="col-lg-auto col-sm-6">
												<input id="proCode2" name="proCode" class="form-control" readonly>
											</div>
											
											<div class="mt-3 mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">제품명</label>
												<div class="col-lg-auto col-sm-6">
													<input id="proName2" name="proName" class="form-control" readonly>
												</div>
											</div>
											<div class="mt-3 mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">품목군</label>
												<div class="col-lg-auto col-sm-6">
												<input id="proItem2" name="proItem" class="form-control">
												</div>
											</div>	
											<div class="mt-1 mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">구분</label>
												<div class="col-lg-auto col-sm-6">
													<select class="form-select form-select-sm"
														aria-label=".form-select-sm example" id="proGroup2" name="proGroup">
														<option selected></option>
														<option value="CP">완제품</option>
														<option value="HCP">반제품</option>
													</select>
												</div>
											</div>
											<div class="mt-1 mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">조달구분</label>
												<div class="col-lg-auto col-sm-6">
													<select class="form-select form-select-sm"
														aria-label=".form-select-sm example" id="proGet2" name="proGet">
														<option selected></option>
														<option value="PG-MK">생산</option>
														<option value="PG-BY">구매</option>
													</select>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">LOT여부</label>
												<div class=" col-lg-auto ">
													<select class="form-select form-select-sm"
														aria-label=".form-select-sm example" id="lotUsed2" name="lotUsed">
														<option selected></option>
														<option value="Y">사용</option>
														<option value="N">미사용</option>
													</select>
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">검사여부</label>
												<div class="col-lg-auto">
													<select class="form-select form-select-sm"
														aria-label=".form-select-sm example" id="testUsed2" name="testUsed">
														<option selected></option>
														<option value="Y">검사</option>
														<option value="N">무검사</option>
													</select>
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-3 col-sm-12 col-form-label">등록일</label>
												<div class="col-lg-auto col-sm-6">
													<input type="date" id="proHire" name="proHire" class="form-control">
												</div>
												<div class="col-lg-auto col-sm-6"></div>
												<div class="col-lg-auto col-sm-12">
													
												</div>
											</div>

										</div>
									</div>
								

								<!--생산/판매정보 탭 내용 -->
								
								<div class="tab-pane fade" id="profile" role="tabpanel"
									aria-labelledby="profile-tab">
									<div class="mt-3 mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">제작소요일</label>
										<div class="col-lg-auto col-sm-6">
											<input id="leadTime" name="leadTime" class="form-control">
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">안전재고량</label>
										<div class="col-lg-auto col-sm-6">
											<input id="bs" name="bs" class="form-control">
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">일생산량</label>
										<div class="col-lg-auto col-sm-6">
											<input id="ppd" name="ppd" class="form-control">
										</div>
									</div>
									<!--  -->
									<div class="row mt-3">
										<div class="col-lg-3 col-md-auto ">
											<label for="staticEmail" style="width: 138px;"class="col-form-label" >주거래처</label>
										</div>	
										<div class="col-lg-4 col-md-auto ">
											<div class="input-group mb-3 ">
												<input type="text" id="clientCode"  name="clientCode"
													placeholder="거래처코드" class="form-control"
													aria-label="Recipient's username"
													aria-describedby="button-addon2"> <span
													class="input-group-text " data-bs-toggle="modal"
													data-bs-target="#large2" id="basic-addon1"
													style="cursor: pointer"><i class="bi bi-search"></i></span>
											</div>
										</div>
										<div class="col-lg-3 col-md-auto col-sm-12">
											<input id="clientName" name="clientName" placeholder="거래처명"
												class="form-control" readonly> 
										</div>		
									</div>
								<!--  -->
								
		
								
								
								
								<!--  -->
									<div class="row mt-3">
										<div class="col-lg-3 col-md-auto ">
											<label for="staticEmail" style="width: 138px;"class="col-form-label">거래처 담당자</label>
										</div>	
										<div class="col-lg-4 col-md-auto ">
											<div class="input-group mb-3 ">
												<input type="text" id="proManager"  name="proManager"
													placeholder="담당자코드" class="form-control"
													aria-label="Recipient's username"
													aria-describedby="button-addon2"> <span
													class="input-group-text " data-bs-toggle="modal"
													data-bs-target="#large3" id="basic-addon1"
													style="cursor: pointer"><i class="bi bi-search"></i></span>
											</div>
										</div>
										<div class="col-lg-3 col-md-auto col-sm-12">
											<input id="empName" name="empName" placeholder="담당자이름"
												class="form-control" readonly> 
										</div>		
									</div>
								 <!--  -->	
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">원가</label>
										<div class="col-lg-auto col-sm-6">
											<input id="cost2" class="form-control">
											<input type="hidden" id="cost" name="cost" class="form-control">
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">판매단가</label>
										<div class="col-lg-auto col-sm-6">
											<input id="sellPrice2" class="form-control">
											<input type="hidden" id="sellPrice" name="sellPrice" class="form-control">
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">규격</label>
										<div class="col-lg-auto col-sm-6">
											<input id="standard" name="standard" class="form-control">
										</div>

									</div>
									<div class="mb-3 row">
										<label class="col-lg-3 col-sm-12 col-form-label">단위</label>
										<div class="col-lg-auto col-sm-6">
											<input id="unit" name="unit" class="form-control">
										</div>
									</div>
								</div>
						</div>

							</div>
						</div>

					</div>
				</div>

			</section>
</form>	
		<!-- END -->
		
		
	<!-- 품목군 모달 Modal lg size -->  
    <div class="modal fade text-left" id="large" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">품목군목록</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--그리드  -->
					<div id="grid2" class="mb-3 row"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

	<!-- 주거래처 모달 Modal lg size -->  
    <div class="modal fade text-left" id="large2" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">주거래처목록</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--그리드  -->
					<div id="grid3" class="mb-3 row"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 거래처담당자 모달 Modal lg size -->  
    <div class="modal fade text-left" id="large3" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">거래처담당자 목록</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--그리드  -->
					<div id="grid4" class="mb-3 row"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1"
                        data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
	


		<script>
		/* token */
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");
	 	
			
			// 물품 등록 리스트 & 등록창.
			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				rowHeaders: ['checkbox'],
				scrollX : false,
				scrollY : true,
				bodyHeight : 485,
				columns : [ {
					
					header : '제품코드',
					name : 'proCode',
					editor : 'text'
				}, {
					header : '제품명',
					name : 'proName',
					editor : 'text'
				}, {
					header : '품목군',
					name : 'codeId',
					editor: {
					      type: 'select',
					      options: {
					      listItems: [
					        {
					          text: '선택',
					          value: '선택'
					        },
					        {
					          text: 'item-BD',
					          value: 'item-BD'
					        },
					        {
					          text: 'item-BK',
					          value: 'item-BK'
					        },
					        {
						          text: 'item-EG',
						          value: 'item-EG'
						    },
						    {
						          text: 'item-HD',
						          value: 'item-HD'
						    },
						    {
						          text: 'item-SC',
						          value: 'item-SC'
						    },
						    {
						          text: 'item-WH',
						          value: 'item-WH'
						    }
					        ]
					      }
					}
				}, {
					header : '구분',
					name : 'proGroup',
				    formatter: 'listItemText',
					editor: {
					      type: 'select',
					      options: {
					      listItems: [
					        {
					          text: '선택',
					          value: '선택'
					        },
					        {
					          text: '완제품',
					          value: 'CP'
					        },
					        {
					          text: '반제품',
					          value: 'HCP'
					        }
					        ]
					      }
					}
				}

				]
			
			});
			
			// 한 줄 선택시 컬러.
			grid.on('click', ev=>{
				 var record = {
			           start : [ev.rowKey,0],
			           end : [ev.rowKey,grid.getColumns().length]
			          }
			          });
			  

			// 등록-행 추가.
			function addEmp() {
				let data = { pro_code : "", pro_name : "", pro_group: ""}
				
				grid.appendRow(data,{'at':0}); // 새로운 행 젤 윗줄에 추가.
				
			}
			
			
			// 품목구분목록 모달안 그리드.
			const grid2 = new tui.Grid({
				el : document.getElementById('grid2'),
				rowHeaders: ['checkbox'],
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '품목군코드',
					name : 'codeId'
				}, {
					header : '품목군명',
					name : 'codeName'
				}
				]	
				
			});
			
			// 품목군 모달 이벤트.
			large.addEventListener('shown.bs.modal', () =>{
				
				grid2.refreshLayout();
				
				// 품목군 부르는 ajax.
				fetch("/callProItem", {method : "get"})
				.then(data => data.json())
				.then (objs => {
				grid2.resetData(objs); 
			})
			
		})	
		
		// 품목군 그리드 클릭시 값 넣기.
		grid2.on("click", ev =>{
			console.log(grid2.getRow(ev.rowKey))
			
			$('#codeId').val(grid2.getRow(ev.rowKey).codeId);
			$('#proName').val(grid2.getRow(ev.rowKey).codeName);
			
			$('#large').modal('hide');
		})
		
		// 주거래처목록 모달안 그리드.
			const grid3 = new tui.Grid({
				el : document.getElementById('grid3'),
				rowHeaders: ['checkbox'],
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '거래처코드',
					name : 'clientCode'
				}, {
					header : '거래처명',
					name : 'clientName'
				}
				]	
				
			});
			
		// 주거래처 모달 이벤트.
			large2.addEventListener('shown.bs.modal', () =>{
				
				grid3.refreshLayout();
				
				// 주거래처 부르는 ajax.
				fetch("/callClient", {method : "get"})
				.then(data => data.json())
				.then (objs => {
				grid3.resetData(objs); 
			})
			
		})	
		
		// 주거래처 그리드 클릭시 값 넣기.
		grid3.on("click", ev =>{
			console.log(grid3.getRow(ev.rowKey))
			
			$('#clientCode').val(grid3.getRow(ev.rowKey).clientCode);
			$('#clientName').val(grid3.getRow(ev.rowKey).clientName);
			
			$('#large2').modal('hide');
		})
		
		// 거래처담당자 목록 모달안 그리드.
			const grid4 = new tui.Grid({
				el : document.getElementById('grid4'),
				rowHeaders: ['checkbox'],
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '담당자 코드',
					name : 'empNum'
				}, {
					header : '담당자 이름',
					name : 'empName'
				}
				]	
				
			});
		
			
			// 거래처담당자 모달 이벤트.
				large3.addEventListener('shown.bs.modal', () =>{
					
					grid4.refreshLayout();
					
					// 거래처담당자 부르는 ajax.
					fetch("ajax/empName", {method : "get"})
					.then(data => data.json())
					.then (objs => {
					grid4.resetData(objs); 
				})
				
			})	
			
			// 거래처담당자 목록 그리드 클릭시 값 넣기.
			grid4.on("click", ev =>{
				console.log(grid4.getRow(ev.rowKey))
				
				$('#proManager').val(grid4.getRow(ev.rowKey).empNum);
				$('#empName').val(grid4.getRow(ev.rowKey).empName);
				
				$('#large3').modal('hide');
			})
			
			// 물품 조회 ajax.
			function selectPro() {
					//console.log( $('codeId').val() )
				$.ajax({
					url : "ajax/selectPro",
					type : "post",
					data : {"proCode" : $('#codeId').val()  ,"proGet" : $('#proGet').val(),"lotUsed" : $('#lotUsed').val(),"testUsed" : $('#testUsed').val()
					},
					 beforeSend : function(xhr){
		             		xhr.setRequestHeader(header, token);
		             },
		             success : function(data){
		            	 console.log(data)
		            	 grid.resetData(data);
		            	
		             },
		             error : function(error){
		            	 console.log(error)
		             }
				})
			}
			
			// 물품조회 그리드 클릭시 오른쪽에 값 넣기.
			grid.on("click", ev =>{
				console.log(grid.getRow(ev.rowKey).proGroup)
				//console.log("A",$('#proGroup2').val())
				
				$('#proItem2').val(grid.getRow(ev.rowKey).codeId);							// 품목
				$('#proCode2').val(grid.getRow(ev.rowKey).proCode);
				$('#proName2').val(grid.getRow(ev.rowKey).proName);
				$('#proGroup2').val(grid.getRow(ev.rowKey).proGroup).prop("selected",true); // 구분
				$('#proGet2').val(grid.getRow(ev.rowKey).proGet).prop("selected",true); // 조달구분
				$('#lotUsed2').val(grid.getRow(ev.rowKey).lotUsed).prop("selected",true);
				$('#testUsed2').val(grid.getRow(ev.rowKey).testUsed).prop("selected",true);
				$('#proHire').val(grid.getRow(ev.rowKey).proHire);
				
				$('#leadTime').val(grid.getRow(ev.rowKey).leadTime);
				$('#bs').val(grid.getRow(ev.rowKey).bs);
				$('#ppd').val(grid.getRow(ev.rowKey).ppd);
				$('#clientCode').val(grid.getRow(ev.rowKey).clientCode);
				$('#clientName').val(grid.getRow(ev.rowKey).clientName);
				$('#proManager').val(grid.getRow(ev.rowKey).proManager);
				$('#empName').val(grid.getRow(ev.rowKey).empName);
				$('#cost2').val((grid.getRow(ev.rowKey).cost).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				$('#sellPrice2').val((grid.getRow(ev.rowKey).sellPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				
				$('#cost').val((grid.getRow(ev.rowKey).cost));
				$('#sellPrice').val((grid.getRow(ev.rowKey).sellPrice));
				
			})
			
			
			// 조회 초기화
			reset.addEventListener("click", ()=>{
			document.getElementById('codeId').value='';
			document.getElementById('proName').value='';
			document.getElementById('proGet').value='';
			document.getElementById('lotUsed').value='';
			document.getElementById('testUsed').value='';
			
			$('#proItem2').val('');
			$('#proCode2').val('');
			$('#proName2').val('');
			$('#proGroup2').val('');
			$('#proGet2').val('');
			$('#lotUsed2').val('');
			$('#testUsed2').val('');
			$('#proHire').val('');
			
			$('#leadTime').val('');
			$('#bs').val('');
			$('#ppd').val('');
			$('#clientCode').val('');
			$('#clientName').val('');
			$('#proManager').val('');
			$('#empName').val('');
			$('#cost2').val('');
			$('#sellPrice2').val('');
			
			grid.clear();

		})
		
		// 물품 등록.(한 건)
		function insertPro(){
				   
				// 필수값 체크하기.
				let proRowKey = grid.getRow(grid.getData().length-1);
				if(grid.getData().length > 0){
					console.log(123,grid.getRow(grid.getData().length-1))
					if(proRowKey.proCode == '' || proRowKey.proCode == null){
						swal("제품코드를 입력해주세요","","info");
					}
					else if(proRowKey.proName == '' || proRowKey.proName == null){
						swal("제품이름을 입력해주세요","","info");
					}
					else if(proRowKey.proItem == '' || proRowKey.proItem == null){
						swal("품목군을 입력해주세요","","info")
					}
					else if(proRowKey.proGet == '' || proRowKey.proGet == null){
						swal("구분을 입력해주세요","","info")
					} else {
						$.ajax({
			   				url : "ajax/insertPro",
			   				type : 'post',
			   				data :$('#proData').serialize()
			   				,
			   				 beforeSend : function(xhr){
			                		xhr.setRequestHeader(header, token);
			                	 },
			   				success : function(data) {
			   					//console.log(data)
			   					swal("success","등록 성공!!!","success")
			   					selectPro();
			   				
			   				}, error : function(error) {
			   					swal("error","등록 실패!!!","error");
			   					console.log(error);
			   				}
			   			})
					}
				} else {
					swal(123);
				} 
				
				
				
		              
		}
		
		 grid.on("keydown", ev => {
			// console.log(ev)
			 if(ev.columnName == 'proGroup'){
				 if(ev.keyboardEvent.key == 'Enter'){
					$('#proItem2').val(grid.getRow(ev.rowKey).codeId);
					$('#proCode2').val(grid.getRow(ev.rowKey).proCode);
					$('#proName2').val(grid.getRow(ev.rowKey).proName);
					$('#proGroup2').val(grid.getRow(ev.rowKey).proGroup).prop("selected",true);
					
					grid.blur() // 
				 }
			 }
				 
		 })
		
		
		 
		 // 물품 삭제.
		 function delPro(){
			 

				$.ajax({
					url : "ajax/deletePro",
					type : 'post',
					contentType : "application/json",
					data : JSON.stringify(grid.getCheckedRows())
					,
					 beforeSend : function(xhr){
	             		xhr.setRequestHeader(header, token);
	             	 },
			        success : function (data){
			       
			        	swal(data)
			        	
						grid.removeCheckedRows(true);
					
					}, 
					error : function(error){
					swal ("삭제 실패!!!!!");
					console.log(error)
					
					}
				 })
			
		 }
		 
		 // 물품 수정.
		 function updatePro(){
			
			 $.ajax({
	   				url : "ajax/updatePro",
	   				type : 'post',
	   				data :$('#proData').serialize()
	   				,
	   				 beforeSend : function(xhr){
	                		xhr.setRequestHeader(header, token);
	                	 },
	   				success : function(data) {
	   					//console.log(data)
	   					swal("수정 완료!!!!")
	   					selectPro();
	   				
	   				}, error : function(error) {
	   					swal("수정 실패!!!!!");
	   					console.log(error);
	   				}
	   			})
		 }
		 
		
		</script>


	</div>
</body>
</html>




