<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>검사총괄</title>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
	<div layout:fragment="content">

		<h3>검사총괄관리</h3>


 <div >
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">검사코드</label>
			<div class="col-lg-auto col-sm-6">
			<input  id="empNum" name="empNum" class="form-control">
			</div>
			 <div class="col-lg-auto col-sm-6">
			<button type="button"><i class="bi bi-search"></i></button> 
			</div>
			
	</div>		
	<div class="mb-3 row">
			<label  class="col-lg-1 col-sm-12 col-form-label">검사일</label>
			<div class="col-lg-auto col-sm-6">
			<input  type="date" id="" name="" class="form-control">
			</div>
			<div class="col-lg-auto col-sm-6">
			~
			</div>
			<div class="col-lg-auto col-sm-12">
			<input  type="date" id="" name="" class="form-control">
			</div>
	</div>	

 </div>
	
	<div id="grid" class="mb-3 row"></div>

	<script>
		const gridData = [ {
			proCode : '1000',
			proName : '홍길동',
			testCode : 'abc@naver.com',
			testContent : '010-000-0000',
			testPass : '2022-11-14',
			faultyCode : '생산',
			faultyContent : '',
			faultyType : '진행',
			testHire : '진행',
			comments : '진행'
			
		} ];

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : gridData,
			rowHeaders: ['rowNum'],
			scrollX : false,
			scrollY : false,
			columns : [ {
				header : '제품코드',
				name : 'proCode'
			}, {
				header : '제품명',
				name : 'proName'
			}, {
				header : '검사코드',
				name : 'testCode'
			}, {
				header : '검사내용',
				name : 'testContent'
			}, {
				header : '합격여부',
				name : 'testPass'
			}, {
				header : '불량코드',
				name : 'faultyCode'
			}, {
				header : '불량내용',
				name : 'faultyContent'
			}, {
				header : '불량분류',
				name : 'faultyType'
			}, {
				header : '검사일',
				name : 'testHire'
			}, {
				header : '비고',
				name : 'comments'
			}

			]
		});
	</script>

	

	
</div>
</body>
</html>