<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>생산관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<h4 style="height:40px">생산라인설정 & 가동관리</h4>
			<div id=makingGridId></div>
		</div><br>
		<div>
			<h4 style="height:40px">생산가동</h4>
			<div id="mfResultGridId"></div>
		</div><br>
		<div>
			<h4 style="height:40px">생산가동상세</h4>
			<div id="makingDetailGridId"></div>
		</div><br>
		
		<!-- 확정지시 Modal -->
			<div class="modal fade" id="decideOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="decideOrderList" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="decideOrderList">확정지시조회</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="orderDecideModalGridId"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>						
						</div>
					</div>
				</div>
			</div>
		<script>
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	    const gridData = [
	   		{
	   			lineNo:'1'
	   		},
	   		{
	   			lineNo:'2'
	   		},
	   		{
	   			lineNo:'3'
	   		},
	   		{
	   			lineNo:'4'
	   		},
	   	];
	    
	    class MakingButtonRenderer1 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-success" style="width:80px">시작</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    class MakingButtonRenderer2 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-danger" style="width:80px">긴급정지</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    var makingGrid = new tui.Grid({
			el: document.getElementById('makingGridId'),
			data: gridData,
			scrollX: false,
			scrollY: false,
			bodyHeight: 160,
			columns: [
		        {
		          header: '라인번호',
		          name: 'lineNo',
		          align: 'center'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '생산지시넘버링',
		          name: 'mfOrderNo'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '공정가동',
		          name: 'startProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer1
				  }
		        },
		        {
		          header: '공정정지',
		          name: 'stopProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer2
				  }
		        },
			]
		});
	    
	    makingGrid.hideColumn('mfOrderNo');
	    
	    var mfResultGrid = new tui.Grid({
			el: document.getElementById('mfResultGridId'),
			scrollX: false,
			scrollY: false,
			bodyHeight: 40,
			minBodyHeight: 40,
			columns: [
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '라인번호',
		          name: 'lineNo'
		        },
		        {
		          header: '총투입량',
		          name: 'inputNum'
		        },
		        {
		          header: '총생산량',
		          name: 'makingNum'
		        },
		        {
		          header: '총불량량',
		          name: 'faultyNum'
		        },
		        {
		          header: '작업시작시간',
		          name: 'startTime'
		        },
		        {
		          header: '작업종료시간',
		          name: 'endTime'
		        }
			]
		});
	    
		var makingDetailGrid = new tui.Grid({
			el: document.getElementById('makingDetailGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 200,
			rowHeaders:['rowNum'],
			columns: [
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '프레임용접공정',
		          name: 'mfMaking1'
		        },
		        {
		          header: '엔진조립공정',
		          name: 'mfMaking2'
		        },
		        {
		          header: '최종조립공정',
		          name: 'mfMaking3'
		        },
		        {
		          header: '테스트공정',
		          name: 'mfMaking4'
		        },
		        {
		          header: '불량코드',
		          name: 'faultyCode'
		        },
		        {
		          header: '불량내용',
		          name: 'faultyContent'
		        }
			]
		});
		
		var orderDecideModalGrid = new tui.Grid({
			el: document.getElementById('orderDecideModalGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 360,
			rowHeaders:['rowNum'],
			columns: [
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산지시넘버링',
		          name: 'mfOrderNo'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '지시일자',
		          name: 'mfOrderDate',
		          type: 'datePicker',
					options: {
	                	format: 'yyyy-MM-dd'
		            }
		        }
			]
		});
		
		orderDecideModalGrid.hideColumn('mfOrderNo');
		
		makingEv = {};
		
		makingGrid.on('click', (ev) => {
			if(ev.columnName == 'mfOrderCode'){
				$.ajax({
	    			url: '/mfOrderDecideList',
	    			method: 'GET',
	    			success: function(data){
	    				orderDecideModalGrid.resetData(data);
	    				makingEv = ev;
	    			},
	    			error: function(error){
	    				console.log(error);
	    			}
	    		});
				$("#decideOrderModal").modal("show");
				decideOrderModal.addEventListener('shown.bs.modal', () => {
					orderDecideModalGrid.refreshLayout();
			    });	
			}
		});
		
		orderDecideModalGrid.on('click', (ev) => {
			makingGrid.setRow(makingEv.rowKey, {
				lineNo : makingEv.rowKey+1,
				mfOrderCode : orderDecideModalGrid.getRow(ev.rowKey).mfOrderCode,
				mfOrderNo : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNo,
				proCode : orderDecideModalGrid.getRow(ev.rowKey).proCode,
				proName : orderDecideModalGrid.getRow(ev.rowKey).proName,
				mfOrderNum : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNum
			})
		mfResultGrid.appendRow({})
			$("#decideOrderModal").modal("hide");
		})
		
/* 		var n = 0;
   var interval ;
   function sweetC(){
   
      // 첫번째 설비 시작
      startEqp(n,getTimeStr());
      interval = setInterval(viewProgress,1000);  // 변수를 선언해줄경우 1번 실행
      //setTimeout(()=>{Swal.fire('완료되었습니다');},6000);
   
      function viewProgress(){
         
         // 설비상태 : 가동으로 업데이트 ajax : update
         // 설비 가동 -> 시작시간
         let time = getTimeStr();
         stopEqp(n,time)
         n++;
         
         if(n>=6){   // 공정이 끝나면 interval끝
            clearInterval(interval);
         }
         
         startEqp(n,time);
         
      }
      
      
      // 설비 시작
      function startEqp(n,time){
         // 처음이면
         let pG = pOrderGrid.getFocusedCell().rowKey;
   
         let pproInAmt;
         if(n==0){
            pproInAmt = pOrderGrid.getValue(pG,'poddAmt');
            
         }else {
            pproInAmt = proGrid.getValue(n-1,'pproOtAmt');
         }
         // 중지 -> 다음꺼 시작
         
         let pproSTime = time;
         
         let eqpCd = proGrid.getValue(n,'eqpCd');
         let plineCd = proGrid.getValue(n,'plineCd');
         let pproCd = proGrid.getValue(n,'pproCd');   
         let eqpSts = proGrid.getValue(n,'eqpSts'); // 0번째 설비 상태 (현재 가동중)
       
         if(eqpSts == '대기'){
            console.log(pproInAmt);
            // 대기 -> 가동
             $.ajax({
               url : '/eqpUpdate',
               method: 'POST',
               async : false,
               data :  {"eqpCd" : eqpCd, "plineCd" : plineCd, "pproCd" : pproCd, "pproInAmt": pproInAmt, "pproSTime" : pproSTime},
               dataType : 'json',
               success : function(data){
                     // grid에서 수정
                     proGrid.resetData(data);
                     proGrid.refreshLayout();
                     },
               error : function(reject){
                     console.log(reject);
                     // 실패
               }                  
            });
         }
      }
      
      // 설비 중지
      function stopEqp(n,time){
         let eqpCd = proGrid.getValue(n,'eqpCd');
         let plineCd = proGrid.getValue(n,'plineCd');
         let eqpSts = proGrid.getValue(n,'eqpSts');
         let pproCd = proGrid.getValue(n,'pproCd');
         let pproInAmt = proGrid.getValue(n,'pproInAmt');
         
         let pproETime = time;
         let pproErAmt = 0;   
         let pproOtAmt = pproInAmt - pproErAmt; 
         
         if(eqpSts == "가동"){
            // 설비상태 업데이트
            $.ajax({
               url : '/eqpUpdate',
               method: 'POST',
               data : {"eqpCd" : eqpCd, "plineCd" : plineCd, "pproETime" : pproETime, "pproCd" : pproCd, "pproErAmt" : pproErAmt, "pproOtAmt" : pproOtAmt},
               dataType : 'json',
               async : false,
               success : function(data){
                     // grid에서 수정
                     proGrid.resetData(data);
                     proGrid.refreshLayout();
                     },
               error : function(reject){
                     console.log(reject);
                     // 실패
               }                  
            });   // end of ajax 
         }

      } 
      
      
   } */
	    </script>
	</div>
</body>
</html>