<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<h4 style="height:40px">생산라인설정 & 가동관리</h4>
			<div id=makingGridId></div>
		</div><br>
		<div>
			<h4 style="height:40px">생산가동상세</h4>
			<div id="makingDetailGridId"></div>
		</div><br>
		<script>
	    const gridData = [
	   		{
	   			lineNo:'1'
	   		},
	   		{
	   			lineNo:'2'
	   		},
	   		{
	   			lineNo:'3'
	   		},
	   		{
	   			lineNo:'4'
	   		},
	   	];
	    
	    class MakingButtonRenderer1 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-success" style="width:80px">시작</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    class MakingButtonRenderer2 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-danger" style="width:80px">긴급정지</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    const makingGrid = new tui.Grid({
			el: document.getElementById('makingGridId'),
			data: gridData,
			scrollX: false,
			scrollY: false,
			bodyHeight: 160,
			columns: [
		        {
		          header: '라인번호',
		          name: 'lineNo',
		          align: 'center'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '공정가동',
		          name: 'startProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer1
				  }
		        },
		        {
		          header: '공정정지',
		          name: 'stopProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer2
				  }
		        },
			]
		});
	    
		const makingDetailGrid = new tui.Grid({
			el: document.getElementById('makingDetailGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 360,
			rowHeaders:['rowNum'],
			columns: [
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '프레임용접공정',
		          name: 'mfMaking1'
		        },
		        {
		          header: '엔진조립공정',
		          name: 'mfMaking2'
		        },
		        {
		          header: '최종조립공정',
		          name: 'mfMaking3'
		        },
		        {
		          header: '테스트공정',
		          name: 'mfMaking4'
		        },
		        {
		          header: '불량코드',
		          name: 'faultyCode'
		        },
		        {
		          header: '불량내용',
		          name: 'faultyContent'
		        }
			]
		});
	    </script>
	</div>
</body>
</html>