<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>생산관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<h4 style="height:40px">생산가동설정</h4>
			<div id=makingGridId></div>
		</div><br>
		<div>
			<div style="height:40px;">
				<h4 style="display:inline">생산가동현황</h4>
				<button type="button" class="btn btn-sm btn-primary" id="finishBtn" style="float:right; display:none">공정이동표 발행</button>
			</div>
			<div id="mfResultGridId"></div>
		</div><br>
		<div>
			<h4 style="height:40px">생산가동현황상세</h4>
			<div id="makingDetailGridId"></div>
		</div><br>
		
		<!-- 확정지시 Modal -->
			<div class="modal fade" id="decideOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="decideOrderList" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="decideOrderList">확정지시조회</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="orderDecideModalGridId"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>						
						</div>
					</div>
				</div>
			</div>
		<script>
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	    const gridData = [{
	    	
	    }];
	    
	    class MakingButtonRenderer1 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-success" style="width:80px">시작</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    class MakingButtonRenderer2 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-danger" style="width:80px">긴급정지</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    class MakingButtonRenderer3 {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-secondary" style="width:80px">재가동</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
	    var makingGrid = new tui.Grid({
			el: document.getElementById('makingGridId'),
			data: gridData,
			scrollX: false,
			scrollY: false,
			bodyHeight: 40,
			minBodyHeight: 40,
			columns: [
		        {
		          header: '라인번호',
		          name: 'lineNo',
		          align: 'center'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '생산지시넘버링',
		          name: 'mfOrderNo'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum',
		          align: 'right'
		        },
		        {
		          header: '공정가동',
		          name: 'startProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer1
				  }
		        },
		        {
		          header: '공정정지',
		          name: 'stopProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer2
				  }
		        },
		        {
		          header: '공정재가동',
		          name: 'restartProcess',
		          align: 'center',
				  renderer: {
				  	type: MakingButtonRenderer3
				  }
		        }
			]
		});
	    
	    makingGrid.hideColumn('mfOrderNo');
	    
	    var mfResultGrid = new tui.Grid({
			el: document.getElementById('mfResultGridId'),
			scrollX: false,
			scrollY: false,
			bodyHeight: 40,
			minBodyHeight: 40,
			columns: [
		        {
		          header: '라인번호',
		          name: 'lineNo',
		          align: 'center'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '총투입량',
		          name: 'inputNum',
		          align: 'right'
		        },
		        {
		          header: '총생산량',
		          name: 'makingNum',
		          align: 'right'
		        },
		        {
		          header: '총불량량',
		          name: 'faultyNum',
		          align: 'right'
		        },
		        {
		          header: '작업시작시간',
		          name: 'startTime',
		          align: 'center'
		        },
		        {
		          header: '작업종료시간',
		          name: 'endTime',
		          align: 'center'
		        },
		        {
		          header: '가동상태',
		          name : 'processStatus',
		          align: 'center'
		        }
			]
		});
	    
	    mfResultGrid.hideColumn('mfOrderCode');
	    mfResultGrid.hideColumn('mfMakingCode');
	    
		var makingDetailGrid = new tui.Grid({
			el: document.getElementById('makingDetailGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 200,
			rowHeaders:['rowNum'],
			columns: [
				{
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '프레임용접공정',
		          name: 'mfMaking1'
		        },
		        {
		          header: '엔진조립공정',
		          name: 'mfMaking2'
		        },
		        {
		          header: '최종조립공정',
		          name: 'mfMaking3'
		        },
		        {
		          header: '테스트공정',
		          name: 'mfMaking4'
		        },
		        {
		          header: '불량코드',
		          name: 'faultyCode'
		        },
		        {
		          header: '불량내용',
		          name: 'faultyContent'
		        }
			]
		});
		
		makingDetailGrid.hideColumn('mfMakingCode');
		
		var orderDecideModalGrid = new tui.Grid({
			el: document.getElementById('orderDecideModalGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 360,
			rowHeaders:['rowNum'],
			columns: [
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산지시넘버링',
		          name: 'mfOrderNo'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '지시일자',
		          name: 'mfOrderDate',
		          type: 'datePicker',
					options: {
	                	format: 'yyyy-MM-dd'
		            }
		        }
			]
		});
		
		orderDecideModalGrid.hideColumn('mfOrderNo');
		
		var makingEv = {};
		
		var makingInterval;
		
		makingGrid.on('click', (ev) => {
			if(ev.columnName=='startProcess'){
				if(mfResultGrid.getRow(0) != null){
					let today = new Date();
					let getH = 0;
					if(today.getHours()<10){
						getH = '0'+today.getHours();
					} else {
						getH = today.getHours();
					}
					let getM = 0;
					if(today.getMinutes()<10){
						getM = '0'+today.getMinutes();
					} else {
						getM = today.getMinutes();
					}
					let getS = 0;
					if(today.getSeconds()<10){
						getS = '0'+today.getSeconds();
					} else {
						getS = today.getSeconds();
					}
					let getStartTime = getH + ':' + getM + ':' + getS;
					console.log(getStartTime);
					let data1 = [{
						lineNo : mfResultGrid.getRow(0).lineNo,
						mfOrderCode : mfResultGrid.getRow(0).mfOrderCode,
						mfMakingCode : mfResultGrid.getRow(0).mfMakingCode,
						startTime : getStartTime,
						inputNum : mfResultGrid.getRow(0).inputNum,
						processStatus : '가동'
					}];
					$.ajax({
		        		url: '/mfMakingTitleInsert',
		        		method: 'POST',
		        		contentType: 'application/json',
		        		data: JSON.stringify(data1),
		        		dataType: 'JSON',
		        		beforeSend : function(xhr){
		               		xhr.setRequestHeader(header, token);
		               	},
		        		success: function(data){
		        			console.log(data1);
		        			let a = mfResultGrid.getRow(0).mfMakingCode;
		        			$.ajax({
		    	    			url: '/mfMakingTotal?mfMakingCode='+a,
		    	    			method: 'GET',
		    	    			success: function(data){
		    	    				mfResultGrid.resetData(data);
		    	    				mfResultGrid.refreshLayout();
		    	    				makingNum = 0;
		    	    				makingInterval = setInterval(startProcessing, 300);
		    	    			},
		    	    			error: function(error){
		    	    				console.log(error);
		    	    			}
		    	    		});
		        		},
		        		error: function(error){
			    			console.log(error);
		        		}
		        	});
				} else {
					alert('생산지시가 설정되지 않은 라인입니다.\n생산지시를 설정해주세요.');
				}
			} else if(ev.columnName=='stopProcess'){
				if(mfResultGrid.getRow(0) != null){
					clearInterval(makingInterval);
					let data2 = [{
						mfMakingCode : mfResultGrid.getRow(0).mfMakingCode,
						processStatus : '정지'
					}]
					$.ajax({
						url: '/mfMakingTitleUpdate',
		        		method: 'POST',
		        		contentType: 'application/json',
		        		data: JSON.stringify(data2),
		        		dataType: 'JSON',
		        		beforeSend : function(xhr){
		               		xhr.setRequestHeader(header, token);
		               	},
		        		success: function(data){
		        			let a = mfResultGrid.getRow(0).mfMakingCode
		        			$.ajax({
		    	    			url: '/mfMakingTotal?mfMakingCode='+a,
		    	    			method: 'GET',
		    	    			success: function(data){
		    	    				mfResultGrid.resetData(data);
		    	    				mfResultGrid.refreshLayout();
		    	    			},
		    	    			error: function(error){
		    	    				console.log(error);
		    	    			}
		    	    		});
		        		},
		        		error: function(error){
		    				console.log(error);
		    			}
		        	});
				}
			} else if(ev.columnName=='restartProcess'){
				if(mfResultGrid.getRow(0) != null){
					let data2 = [{
						mfMakingCode : mfResultGrid.getRow(0).mfMakingCode,
						processStatus : '가동'
					}]
					$.ajax({
						url: '/mfMakingTitleUpdate',
		        		method: 'POST',
		        		contentType: 'application/json',
		        		data: JSON.stringify(data2),
		        		dataType: 'JSON',
		        		beforeSend : function(xhr){
		               		xhr.setRequestHeader(header, token);
		               	},
		        		success: function(data){
		        			let a = mfResultGrid.getRow(0).mfMakingCode
		        			$.ajax({
		    	    			url: '/mfMakingTotal?mfMakingCode='+a,
		    	    			method: 'GET',
		    	    			success: function(data){
		    	    				mfResultGrid.resetData(data);
		    	    				mfResultGrid.refreshLayout();
		    	    			},
		    	    			error: function(error){
		    	    				console.log(error);
		    	    			}
		    	    		});
		        		},
		        		error: function(error){
		    				console.log(error);
		    			}
		        	});
					setInterval(startProcessing, 300);
				}
			} else {
				if(mfResultGrid.getRow(0)!=null){
					if(mfResultGrid.getRow(0).startTime!=null){
						mfResultGrid.clear();
						makingDetailGrid.clear();
						$.ajax({
			    			url: '/mfOrderDecideList',
			    			method: 'GET',
			    			success: function(data){
			    				orderDecideModalGrid.resetData(data);
			    				makingEv = ev;
			    			},
			    			error: function(error){
			    				console.log(error);
			    			}
			    		});
						$("#decideOrderModal").modal("show");
						decideOrderModal.addEventListener('shown.bs.modal', () => {
							orderDecideModalGrid.refreshLayout();
					    });
					} else {
						$.ajax({
			    			url: '/mfOrderDecideList',
			    			method: 'GET',
			    			success: function(data){
			    				orderDecideModalGrid.resetData(data);
			    				makingEv = ev;
			    			},
			    			error: function(error){
			    				console.log(error);
			    			}
			    		});
						$("#decideOrderModal").modal("show");
						decideOrderModal.addEventListener('shown.bs.modal', () => {
							orderDecideModalGrid.refreshLayout();
					    });	
					}
				} else {
					$.ajax({
		    			url: '/mfOrderDecideList',
		    			method: 'GET',
		    			success: function(data){
		    				orderDecideModalGrid.resetData(data);
		    				makingEv = ev;
		    			},
		    			error: function(error){
		    				console.log(error);
		    			}
		    		});
					$("#decideOrderModal").modal("show");
					decideOrderModal.addEventListener('shown.bs.modal', () => {
						orderDecideModalGrid.refreshLayout();
				    });	
				}
			}
		});
		
		orderDecideModalGrid.on('click', (ev) => {
			$.ajax({
				url:'/mfMakingCodeBring',
				success: function(data){
			    	if(ev.rowKey != null){
			    		makingGrid.setRow(makingEv.rowKey, {
							lineNo : makingEv.rowKey+1,
							mfOrderCode : orderDecideModalGrid.getRow(ev.rowKey).mfOrderCode,
							mfMakingCode : data[0],
							mfOrderNo : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNo,
							proCode : orderDecideModalGrid.getRow(ev.rowKey).proCode,
							proName : orderDecideModalGrid.getRow(ev.rowKey).proName,
							mfOrderNum : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNum
						})
						if(mfResultGrid.getRowCount()<1){
							mfResultGrid.appendRow({
								lineNo : makingEv.rowKey+1,
								mfOrderCode : orderDecideModalGrid.getRow(ev.rowKey).mfOrderCode,
								mfMakingCode : data[0],
								inputNum : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNum,
								processStatus : '대기'
							})
						} else {
							mfResultGrid.setRow(0, {
								lineNo : makingEv.rowKey+1,
								mfOrderCode : orderDecideModalGrid.getRow(ev.rowKey).mfOrderCode,
								mfMakingCode : data[0],
								inputNum : orderDecideModalGrid.getRow(ev.rowKey).mfOrderNum,
								processStatus : '대기'
							})
						}
						
						$("#decideOrderModal").modal("hide");
			    	}
				},
				error: function(error){
					console.log(error);
				}
			});
		});
		

		// 공정가동
		var makingNum = 0;
		
		function startProcessing(){
			if(makingNum < mfResultGrid.getRow(0).inputNum){
				console.log(mfResultGrid.getRow(0).inputNum);
				$.ajax({
					url: '/mfMakingDetailInsert',
	        		method: 'POST',
	        		contentType: 'application/json',
	        		data: JSON.stringify(mfResultGrid.getData()),
	        		dataType: 'JSON',
	        		beforeSend : function(xhr){
	               		xhr.setRequestHeader(header, token);
	               	},
	        		success: function(data){
	        			let a = mfResultGrid.getRow(0).mfMakingCode
	        			$.ajax({
	    	    			url: '/mfMakingDetailList?mfMakingCode='+a,
	    	    			method: 'GET',
	    	    			success: function(data){
	    	    				makingDetailGrid.resetData(data);
	    	    				makingDetailGrid.refreshLayout();
	    	    				makingDetailGrid.focusAt(makingNum, 4, true);
	    	    				$.ajax({
	    	    					url: '/mfMakingTitleUpdate',
	    	    	        		method: 'POST',
	    	    	        		contentType: 'application/json',
	    	    	        		data: JSON.stringify(makingDetailGrid.getData()),
	    	    	        		dataType: 'JSON',
	    	    	        		beforeSend : function(xhr){
	    	    	               		xhr.setRequestHeader(header, token);
	    	    	               	},
	    	    	        		success: function(data){
	    	    	        			let a = mfResultGrid.getRow(0).mfMakingCode
	    			        			$.ajax({
	    			    	    			url: '/mfMakingTotal?mfMakingCode='+a,
	    			    	    			method: 'GET',
	    			    	    			success: function(data){
	    			    	    				mfResultGrid.resetData(data);
	    			    	    				mfResultGrid.refreshLayout();
	    			    	    				makingNum++
	    			    	    				console.log(makingNum);
	    			    	    			},
	    			    	    			error: function(error){
	    			    	    				console.log(error);
	    			    	    			}
	    			    	    		});
	    	    	        		},
	    	    	        		error: function(error){
	    	    	    				console.log(error);
	    	    	    			}
	    	    	        	});
	    	    			},
	    	    			error: function(error){
	    	    				console.log(error);
	    	    			}
	    	    		});
					},
					error: function(error){
						console.log(error);
					}
				});
			} else if(makingNum == mfResultGrid.getRow(0).inputNum){
				let today = new Date();
				let getH = 0;
				if(today.getHours()<10){
					getH = '0'+today.getHours();
				} else {
					getH = today.getHours();
				}
				let getM = 0;
				if(today.getMinutes()<10){
					getM = '0'+today.getMinutes();
				} else {
					getM = today.getMinutes();
				}
				let getS = 0;
				if(today.getSeconds()<10){
					getS = '0'+today.getSeconds();
				} else {
					getS = today.getSeconds();
				}
				let getEndTime = getH + ':' + getM + ':' + getS;
				let data2 = [{
					mfMakingCode : mfResultGrid.getRow(0).mfMakingCode,
					endTime : getEndTime,
					processStatus : '완료'
				}]
				$.ajax({
					url: '/mfMakingTitleUpdate',
	        		method: 'POST',
	        		contentType: 'application/json',
	        		data: JSON.stringify(data2),
	        		dataType: 'JSON',
	        		beforeSend : function(xhr){
	               		xhr.setRequestHeader(header, token);
	               	},
	        		success: function(data){
	        			let a = mfResultGrid.getRow(0).mfMakingCode
	        			$.ajax({
	    	    			url: '/mfMakingTotal?mfMakingCode='+a,
	    	    			method: 'GET',
	    	    			success: function(data){
	    	    				mfResultGrid.resetData(data);
	    	    				mfResultGrid.refreshLayout();
	    	    				alert('생산이 완료되었습니다.');
    	    					makingInterval=clearInterval(makingInterval);
	    	    			},
	    	    			error: function(error){
	    	    				console.log(error);
	    	    			}
	    	    		});
	        		},
	        		error: function(error){
	    				console.log(error);
	    			}
	        	});
			}
		};
		
		
		
	    </script>
	</div>
</body>
</html>