<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>생산계획확정</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산지시확정</h2></div>
	<div layout:fragment="content" class="page-content">
		<div id="orderDecideGridId"></div><br>
		<script>

		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	    class TestButtonRenderer {
			constructor(props) {
		    	const el = document.createElement('span');
		        el.innerHTML='<button type="button" class="btn btn-sm btn-primary" id="orderBtn" style="width:80px">확정</button>';
		        this.el = el;
		        this.render(props);
		    }

		    getElement() {
		    	return this.el;
		    }

		    render(props) {
		    	this.el.value = String(props.value);
		    }
		}
	    
		const orderDecideGrid = new tui.Grid({
			el: document.getElementById('orderDecideGridId'),
			scrollX: false,
			scrollY: false,
			bodyHeight: 400,
			rowHeaders : ['rowNum'],
			pageOptions: {
		        useClient: true,
		        perPage: 10
		    },
			columns: [
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '생산지시넘버링',
			      name: 'mfOrderNo'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '지시일자',
		          name: 'mfOrderDate'
		        },
		        {
				  header: '지시확정',
				  name: 'decide',
				  align: 'center',
				  renderer: {
				  	type: TestButtonRenderer
				  }
				}
			]
		});
	    
		orderDecideGrid.hideColumn('mfOrderNo');
		
		document.addEventListener("DOMContentLoaded", orderDecideAll)
	    function orderDecideAll(){
	    	$.ajax({
	    		url:'/mfOrderDecideAll',
	    		success:function(data){
	    			orderDecideGrid.resetData(data);
	    			orderDecideGrid.refreshLayout();
	    		},
	    		error:function(error){
	    			console.log(error);
	    		}
	    	})
	    }
		
		orderDecideGrid.on('click', (ev) => {
			console.log(orderDecideGrid.getRow(ev.rowKey))
			if(ev.columnName=='decide'){
				//console.log(orderDecideGrid.getRow(ev.rowKey).mfOrderCode);
				$.ajax({
		    		url: '/mfOrderDecideClick',
		    		type: 'POST',
		    		contentType: 'application/json',
		    		data: JSON.stringify(orderDecideGrid.getRow(ev.rowKey)),
		    		dataType: 'JSON',
		    		beforeSend : function(xhr){
		           		xhr.setRequestHeader(header, token);
		           	},
		    		success: function(data){
		    			alert('해당 생산지시가 활성화됩니다.');
		    			$.ajax({
		    	    		url:'/mfOrderDecideAll',
		    	    		success:function(data){
		    	    			orderDecideGrid.resetData(data);
		    	    			orderDecideGrid.refreshLayout();
		    	    		},
		    	    		error:function(error){
		    	    			console.log(error);
		    	    		}
		    	    	})
		    		},
		    		error: function(error){
		    			console.log(error);
		    		}
		    	});
			}
		});
		
	    </script>
	</div>
</body>
</html>