<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산지시등록</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산지시현황</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<div class="filters" style="height:35px">
				<label for="orderStatus" style="width:100px">진행상황</label>
				<label><input type="radio" id="orderAll" name="orderStatue" value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="orderReady" name="orderStatue" value="ready">대기</label>&nbsp;
				<label><input type="radio" id="orderDecide" name="orderStatue" value="decide">확정</label>&nbsp;
				<label><input type="radio" id="orderFinish" name="orderStatue" value="finish">완료</label>
			</div>
			<div style="height:50px">
				<label for="searchOrderDate" style="width:100px">지시일자</label>
				<input type="date" class="form-control" id="searchOrderDate" name="searchOrderDate" style="width:200px; display:inline">&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="orderSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="orderReset">초기화</button>
			</div>
		</div>
		
		<div id="orderListId"></div><br>
		
		<script>
		
		const orderListGrid = new tui.Grid({
			el: document.getElementById('orderListId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 600,
			columns: [
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '지시수량',
		          name: 'mfOrderNum'
		        },
		        {
		          header: '지시일자',
		          name: 'mfOrderDate',
		          filter: 'date',
		          options: {
		        	  format: 'yyyy-MM-dd'
		          }
		        },
		        {
		          header: '진행상황',
		          name: 'mfOrderStatus',
		          align: 'center',
		          filter: 'select'
		        }
			]
		});
		
	    document.addEventListener("DOMContentLoaded", orderListAll)
		function orderListAll(){
	    	$.ajax({
	    		url:'/mfOrderListAll',
	    		success:function(data){
	    			orderListGrid.resetData(data);
	    		},
	    		error:function(error){
	    			console.log(error);
	    		}
	    	})
	    }
	    
	    orderAll.addEventListener('click', () => {
	    	orderListGrid.unfilter('mfOrderStatus');
	    })
	    
	    orderReady.addEventListener('click', () => {
	    	orderListGrid.filter('mfOrderStatus', [{code:'eq', value:'대기'}]);
	    })
	    
	    orderDecide.addEventListener('click', () => {
	    	orderListGrid.filter('mfOrderStatus', [{code:'eq', value:'확정'}]);
	    })
	    
	    orderFinish.addEventListener('click', () => {
	    	orderListGrid.filter('mfOrderStatus', [{code:'eq', value:'완료'}]);
	    })
	    
	    orderSearch.addEventListener('click', () => {
	    	if($('#searchOrderDate').val()!=''){
	    		orderListGrid.filter('mfOrderDate', [{code:'eq', value:$('#searchOrderDate').val()}]);
			}
	    })
	    
	    orderReset.addEventListener('click', () => {
	    	orderAll.checked = true;
	    	orderListGrid.unfilter('mfOrderStatus');
	    	document.getElementById('searchOrderDate').value = '';
	    	orderListGrid.unfilter('mfOrderDate');
	    })

    
    	</script>  
	</div>
</body>
</html>