<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산계획조회</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산계획조회</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<div class="filters" style="height:35px">
				<label for="planStatus" style="width:100px">진행상황</label>
				<label><input type="radio" id="planAll" name="planStatus" value="all" checked>전체</label>&nbsp;
				<label><input type="radio" id="planWait" name="planStatus" value="wait">대기</label>&nbsp;
				<label><input type="radio" id="planStart" name="planStatus" value="start">진행</label>&nbsp;
				<label><input type="radio" id="planFinish" name="planStatus" value="finish">완료</label>
			</div>
			<div style="height:50px">
				<label for="planDate" style="width:100px">계획일자</label>
				<input type="date" class="form-control" id="searchPlanDate" name="searchPlanDate" style="width:200px; display:inline">&nbsp;
			</div>
			<div style="height:50px; margin-bottom:10px">
				<label for="planName" style="width:100px">생산계획명</label>
				<input type="text" class="form-control" id="searchPlanName" name="searchPlanName" style="width:200px; display:inline" placeholder="우엥">&nbsp;&nbsp;
				<button type="button" class="btn btn-sm btn-primary" id="planSearch">검색</button>&nbsp;
				<button type="button" class="btn btn-sm btn-secondary" id="planReset">초기화</button>
			</div>
		</div>
	
		<div id="planListId"></div><br>
			
		<script>
	    const planListGrid = new tui.Grid({
			el: document.getElementById('planListId'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ['rowNum'],
			columns: [
		        {
		          header: '생산계획코드',
		          name: 'mfPlanCode'
		        },
		        {
		          header: '생산계획명',
		          name: 'mfPlanName',
		          filter: 'text'
		        },
		        {
		          header: '제품코드',
		          name: 'proCode'
		        },
		        {
		          header: '제품명',
		          name: 'proName'
		        },
		        {
		          header: '계획일자',
		          name: 'mfPlanDate',
		          filter: 'date'
		        },
		        {
		          header: '납기일자',
		          name: 'deDate',
		          filter: 'date'
		        },
		        {
		          header: '필요수량',
		          name: 'needNum'
		        },
		        {
		          header: '지시수량',
		          name: 'totalOrderNum'
		        },
		        {
		          header: '진행상황',
		          name: 'mfPlanStatus',
		          filter: 'text'
		        }
			]
		});
	    
	    document.addEventListener("DOMContentLoaded", mfPlanListAll)
	    function mfPlanListAll(){
	    	$.ajax({
	    		url:'/mfPlanListAll',
	    		success:function(data){
	    			planListGrid.resetData(data);
	    		},
	    		error:function(error){
	    			console.log(error);
	    		}
	    	})
	    }
	    
	    planAll.addEventListener('click', () => {
	    	planListGrid.unfilter('mfPlanStatus');
	    })
	    
	    planWait.addEventListener('click', () => {
	    	planListGrid.filter('mfPlanStatus', [{code:'eq', value:'대기'}]);
	    })
	    
	    planStart.addEventListener('click', () => {
	    	planListGrid.filter('mfPlanStatus', [{code:'eq', value:'진행'}]);
	    })
	    
	    planFinish.addEventListener('click', () => {
	    	planListGrid.filter('mfPlanStatus', [{code:'eq', value:'완료'}]);
	    })
	    
	    planSearch.addEventListener('click', () => {
	    	if($('#searchPlanDate').val()!=''){
		    	planListGrid.filter('mfPlanDate', [{code:'afterEq', value:$('#searchPlanDate').val()}]);
			}
	    	planListGrid.filter('mfPlanName', [{code:'contain', value:$('#searchPlanName').val()}]);
	    })
	    
	    planReset.addEventListener('click', () => {
	    	planAll.checked = true;
	    	planListGrid.unfilter('mfPlanStatus');
	    	document.getElementById('searchPlanDate').value='';
	    	planListGrid.unfilter('mfPlanDate');
	    	document.getElementById('searchPlanName').value='';
	    	planListGrid.unfilter('mfPlanName');
	    })
	    
	    </script>	
    </div>
</body>
</html>