<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산계획관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산계획관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div>
			<ul class="nav nav-pills mb-3" id="mfTab" role="tablist">
				<li class="nav-item" id="1" role="presentation">
					<button class="nav-link active" id="planInsertTab" data-bs-toggle="pill" data-bs-target="#planInsert" type="button" role="tab" aria-controls="planInsert" aria-selected="true">생산계획등록</button>
				</li>
				<li class="nav-item" id="2" role="presentation">
					<button class="nav-link" id="planDeleteTab" data-bs-toggle="pill" data-bs-target="#planDelete" type="button" role="tab" aria-controls="planDelete" aria-selected="false">생산계획취소</button>
				</li>
			</ul>
			<div class="tab-content" id="mfTabContent">
				<div class="tab-pane fade show active" id="planInsert" role="tabpanel" aria-labelledby="planInsertTab">
					<div id="planInsertGridId"></div>
					<div style="margin-top:10px">
						<button type="button" id="orderBtn" data-bs-toggle="modal" data-bs-target="#orderModal">주문서 조회</button>&nbsp;
						<button type="button">계획행 추가</button>&nbsp;
						<button type="button">계획행 삭제</button>
						<button type="button" style="float:right">생산계획등록</button>
					</div>
				</div>
				<div class="tab-pane fade" id="planDelete" role="tabpanel" aria-labelledby="planDeleteTab">
					<div id="planDeleteGridId"></div>
				</div>
			</div>
			<br>
			<!-- Modal -->
			<div class="modal fade" id="orderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">주문서 조회</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="modalGridId"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
    const gridData = [
   		{
   			mfPlanCode:'1',
   			mfPlanName:'테스트1',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'20',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'2',
   			mfPlanName:'테스트2',
   			proCode:'002',
   			proName:'test2',
   			mfPlanDate:'2022-11-01',
   			deDate:'2022-11-13',
   			needNum:'10',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'3',
   			mfPlanName:'테스트3',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'30',
   			mfPlanStatus:'취소'
   		},
   		{
   			mfPlanCode:'4',
   			mfPlanName:'테스트4',
   			proCode:'003',
   			proName:'test3',
   			mfPlanDate:'2022-10-10',
   			deDate:'2022-11-01',
   			needNum:'20',
   			mfPlanStatus:'완료'
   		},
   	];
    
    const gridData2 = [
   		{	
   			mfPlanCode:'1',
   			mfPlanName:'테스트1',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'20',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'2',
   			mfPlanName:'테스트2',
   			proCode:'002',
   			proName:'test2',
   			mfPlanDate:'2022-11-01',
   			deDate:'2022-11-13',
   			needNum:'10',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'3',
   			mfPlanName:'테스트3',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'30',
   			mfPlanStatus:'취소'
   		},
   		{
   			mfPlanCode:'4',
   			mfPlanName:'테스트4',
   			proCode:'003',
   			proName:'test3',
   			mfPlanDate:'2022-10-10',
   			deDate:'2022-11-01',
   			needNum:'20',
   			mfPlanStatus:'완료'
   		}
   	];
    
    const gridData3 = [
   		{	
   			mfPlanCode:'1',
   			mfPlanName:'테스트1',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'20',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'2',
   			mfPlanName:'테스트2',
   			proCode:'002',
   			proName:'test2',
   			mfPlanDate:'2022-11-01',
   			deDate:'2022-11-13',
   			needNum:'10',
   			mfPlanStatus:'진행'
   		},
   		{
   			mfPlanCode:'3',
   			mfPlanName:'테스트3',
   			proCode:'001',
   			proName:'test1',
   			mfPlanDate:'2022-11-14',
   			deDate:'2022-12-12',
   			needNum:'30',
   			mfPlanStatus:'취소'
   		},
   		{
   			mfPlanCode:'4',
   			mfPlanName:'테스트4',
   			proCode:'003',
   			proName:'test3',
   			mfPlanDate:'2022-10-10',
   			deDate:'2022-11-01',
   			needNum:'20',
   			mfPlanStatus:'완료'
   		},
   	];
    
	const planInsertGrid = new tui.Grid({
		el: document.getElementById('planInsertGridId'),
		data: gridData,
		scrollX: false,
		scrollY: false,
		columns: [
	        {
	          header: '생산계획코드',
	          name: 'mfPlanCode'
	        },
	        {
	          header: '생산계획명',
	          name: 'mfPlanName'
	        },
	        {
	          header: '제품코드',
	          name: 'proCode'
	        },
	        {
	          header: '제품명',
	          name: 'proName'
	        },
	        {
	          header: '계획일자',
	          name: 'mfPlanDate'
	        },
	        {
	          header: '납기일자',
	          name: 'deDate'
	        },
	        {
	          header: '필요수량',
	          name: 'needNum'
	        },
	        {
	          header: '진행상황',
	          name: 'mfPlanStatus'
	        }
		]
	});
	
	const planDeleteGrid = new tui.Grid({
		el: document.getElementById('planDeleteGridId'),
		data: gridData2,
		scrollX: false,
		scrollY: false,
		columns: [
	        {
	          header: '주문서코드',
	          name: 'orderCode'
	        },
	        {
	          header: '생산계획명',
	          name: 'mfPlanName'
	        },
	        {
	          header: '제품코드',
	          name: 'proCode'
	        },
	        {
	          header: '제품명',
	          name: 'proName'
	        },
	        {
	          header: '계획일자',
	          name: 'mfPlanDate'
	        },
	        {
	          header: '납기일자',
	          name: 'deDate'
	        },
	        {
	          header: '필요수량',
	          name: 'needNum'
	        },
	        {
	          header: '진행상황',
	          name: 'mfPlanStatus'
	        }
		]
	});
	
	var modalGrid = new tui.Grid({
		el: document.getElementById('modalGridId'),
		data: gridData3,
		scrollX: false,
		scrollY: false,
		rowHeaders : ['checkbox'],
		columns: [
	        {
	          header: '주문서코드',
	          name: 'orderCode'
	        },
	        {
	          header: '생산계획명',
	          name: 'mfPlanName'
	        },
	        {
	          header: '제품코드',
	          name: 'proCode'
	        },
	        {
	          header: '제품명',
	          name: 'proName'
	        },
	        {
	          header: '계획일자',
	          name: 'mfPlanDate'
	        },
	        {
	          header: '납기일자',
	          name: 'deDate'
	        },
	        {
	          header: '필요수량',
	          name: 'needNum'
	        },
	        {
	          header: '진행상황',
	          name: 'mfPlanStatus'
	        }
		]
	});
	
    planInsertTab.addEventListener('click', () => {
    	setInterval(()=>{planInsertGrid.refreshLayout()},1);
    });
    
    planDeleteTab.addEventListener('click', () => {
    	setInterval(()=>{planDeleteGrid.refreshLayout()},1);
    });
    
    orderModal.addEventListener('shown.bs.modal', () => {
    	modalGrid.refreshLayout();
    });
    
    </script>
	</div>
</body>
</html>