<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산공정관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산공정관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div style="height:50px">
			<label for="lineSelect" style="width:100px">라인번호</label>
			<select id="lineSelect" class="btn" style="width:200px; border:1px solid #dce7f1; background-color:white">
				<option id="lineSelectAll" value="*" selected>전체</option>
				<option id="lineSelect1" value="1">1번</option>
				<option id="lineSelect2" value="2">2번</option>
				<option id="lineSelect3" value="3">3번</option>
			</select>
		</div>
		<div id="processGridId"></div><br>
	<script>
		const processGrid = new tui.Grid({
			el: document.getElementById('processGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 600,
			columns: [
		        {
		          header: '라인번호',
		          name: 'lineNo',
		          align: 'center',
		          filter: 'select'
		        },
		        {
		          header: '공정코드',
		          name: 'mfProcessCode'
		        },
		        {
		          header: '공정명',
		          name: 'mfProcessName'
		        },
		        {
		          header: '설비코드',
		          name: 'sysCode'
		        },
		        {
		          header: '설비명',
		          name: 'sysName'
		        },
		        {
		          header: '작업자',
		          name: 'empName'
		        }
			]
		});
		
		document.addEventListener("DOMContentLoaded", mfProcessListAll)
	    function mfProcessListAll(){
	    	$.ajax({
	    		url:'/mfProcessListAll',
	    		success:function(data){
	    			processGrid.resetData(data);
	    		},
	    		error:function(error){
	    			console.log(error);
	    		}
	    	})
	    }
		
		lineSelect.addEventListener('change', () => {
			processGrid.showColumn('lineNo');
			if($('#lineSelect').val()==1){
				processGrid.filter('lineNo',[{code:'eq', value:1}]);
			} else if ($('#lineSelect').val()==2){
				processGrid.filter('lineNo',[{code:'eq', value:2}]);
			} else if ($('#lineSelect').val()==3){
				processGrid.filter('lineNo',[{code:'eq', value:3}]);
			} else {
				processGrid.unfilter('lineNo');
			}
	    });
		
    </script>
    </div>
</body>
</html>