<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산공정관리</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>생산공정관리</h2></div>
	<div layout:fragment="content" class="page-content">
		<div style="height:40px">
			<label for="lineSelect" style="width:100px">라인번호</label>
			<select style="width:100px">
				<option id="lineSelect" value="1">1번</option>
				<option id="lineSelect" value="2">2번</option>
				<option id="lineSelect" value="3">3번</option>
			</select>
		</div>
		<div id="processGridId"></div><br>
	<script>
	    const gridData = [
	   		{
	   			mfPlanCode:'1',
	   			mfPlanName:'테스트1',
	   			proCode:'001',
	   			proName:'test1',
	   			mfPlanDate:'2022-11-14',
	   			deDate:'2022-12-12',
	   			needNum:'20',
	   			mfPlanStatus:'진행'
	   		},
	   		{
	   			mfPlanCode:'2',
	   			mfPlanName:'테스트2',
	   			proCode:'002',
	   			proName:'test2',
	   			mfPlanDate:'2022-11-01',
	   			deDate:'2022-11-13',
	   			needNum:'10',
	   			mfPlanStatus:'진행'
	   		},
	   		{
	   			mfPlanCode:'3',
	   			mfPlanName:'테스트3',
	   			proCode:'001',
	   			proName:'test1',
	   			mfPlanDate:'2022-11-14',
	   			deDate:'2022-12-12',
	   			needNum:'30',
	   			mfPlanStatus:'취소'
	   		},
	   		{
	   			mfPlanCode:'4',
	   			mfPlanName:'테스트4',
	   			proCode:'003',
	   			proName:'test3',
	   			mfPlanDate:'2022-10-10',
	   			deDate:'2022-11-01',
	   			needNum:'20',
	   			mfPlanStatus:'완료'
	   		},
	   	];
	    
		const processGrid = new tui.Grid({
			el: document.getElementById('processGridId'),
			data: [],
			scrollX: false,
			scrollY: false,
			columns: [
				{
		          header: '라인번호',
		          name: 'lineNo'
		        },
		        {
		          header: '공정코드',
		          name: 'mfProcessCode'
		        },
		        {
		          header: '공정명',
		          name: 'mfProcessName'
		        },
		        {
		          header: '설비코드',
		          name: 'sysCode'
		        },
		        {
		          header: '설비명',
		          name: 'sysName'
		        },
		        {
		          header: '작업자',
		          name: 'empName'
		        }
			]
		});
    </script>
    </div>
</body>
</html>