<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>공정실적조회</title>
</head>
<body>
	<div layout:fragment="header" class="page-heading"><h2>공정실적조회</h2></div>
	<div layout:fragment="content" class="page-content">
		<div style="margin-bottom:50px">
			<div style="height:40px"><h4>실적조회</h4></div>
			<div style="height:50px">
				<label for="processDate" style="width:100px">생산일자</label>
				<input type="date" class="form-control" id="processDate" name="processDate" style="width:200px; display:inline">&nbsp;&nbsp;
				<button type="button" id="selectBtn" class="btn btn-sm btn-primary">검색</button>&nbsp;
				<button type="button" id="resetBtn" class="btn btn-sm btn-secondary">초기화</button>
			</div>
			<div id="mfResultGridId"></div>
		</div>
		<div>
			<div style="height:40px"><h4>불량조회</h4></div>
			<div id="mfFaultyGridId"></div>
		</div><br>
		
		<script>
	    
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		var mfResultGrid = new tui.Grid({
			el: document.getElementById('mfResultGridId'),
			scrollX: false,
			scrollY: false,
			bodyHeight: 160,
			rowHeaders: ['rowNum'],
			pageOptions: {
		        useClient: true,
		        perPage: 4
		    },
			columns: [
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '생산지시코드',
		          name: 'mfOrderCode'
		        },
		        {
		          header: '라인번호',
		          name: 'lineNo'
		        },
		        {
		          header: '총투입량',
		          name: 'inputNum'
		        },
		        {
		          header: '총생산량',
		          name: 'makingNum'
		        },
		        {
		          header: '총불량량',
		          name: 'faultyNum'
		        },
		        {
		          header: '작업시작시간',
		          name: 'startTime'
		        },
		        {
		          header: '작업종료시간',
		          name: 'endTime'
		        },
		        {
		          header: '생산일자',
		          name: 'mfOrderDate',
		          filter: 'date'
		        }
			]
		});
		
		var mfFaultyGrid = new tui.Grid({
			el: document.getElementById('mfFaultyGridId'),
			scrollX: false,
			scrollY: true,
			bodyHeight: 200,
			rowHeaders: ['rowNum'],
			columns: [
				{
				  header: '생산코드넘버링',
			      name: 'mfMakingNo'	
				},
		        {
		          header: '생산코드',
		          name: 'mfMakingCode'
		        },
		        {
		          header: '공정코드',
		          name: 'mfProcessCode'
		        },
		        {
		          header: '공정이름',
		          name: 'mfProcessName'
		        },
		        {
		          header: '불량코드',
		          name: 'faultyCode'
		        },
		        {
		          header: '불량내용',
		          name: 'faultyContent'
		        }
			]
		});
		
		mfFaultyGrid.hideColumn('mfMakingNo');
		mfFaultyGrid.hideColumn('mfMakingCode');
		
		$.ajax({
    		url:'/mfResultListAll',
    		success:function(data){
    			mfResultGrid.resetData(data);
    		},
    		error:function(error){
    			console.log(error);
    		}
    	})
    	
		selectBtn.addEventListener('click', () => {
	    	if($('#mfOrderDate').val()!=''){
	    		mfResultGrid.filter('mfOrderDate', [{code:'eq', value:$('#mfOrderDate').val()}]);
			}
	    })
		
	    </script>
	</div>
</body>
</html>